{{ 'account.css' | asset_url | stylesheet_tag }}
<div class="account-main">
  <div class="container">
    <div class="main-grid">
      {% section 'mob-banner' %}
      {% section 'account-sidebar' %}
      {% section 'account-template' %}
    </div>
  </div>
</div>
