{{ 'customer.css' | asset_url | stylesheet_tag }}
{{ 'account.css' | asset_url | stylesheet_tag }}
<script src="{{ 'customer.js' | asset_url }}" defer></script>
<div class="account-main">
  <div class="container">
    <div class="main-grid">
      {% section 'mob-banner' %}
      {% section 'account-sidebar' %}
      {% section 'account-addresses' %}
    </div>
  </div>
</div>

<script>
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  }
</script>
