{{ 'banner-section.css' | asset_url | stylesheet_tag }}
<div class="banner-section">
	<div class="wrapper">
  {% if section.settings.desktop_banner_img != blank %}
    <div class="banner-img desktop-banner">
      {% render 'responsive--image' with section.settings.desktop_banner_img as image, max_width: 1920, class: 'img' %}
    </div>
  {% endif %}
  {% if section.settings.mobile_banner_img != blank %}
    <div class="banner-img mobile-banner">
      {% render 'responsive--image' with section.settings.mobile_banner_img as image, max_width: 420, class: 'img' %}
    </div>
  {% endif %}
	</div>
</div>

{% schema %}
{
  "name": "Hero Banner",
  "settings": [
    {
      "type": "header",
      "content": "Image",
      "info": "------"
    },
    {
      "type": "image_picker",
      "id": "desktop_banner_img",
      "label": "Banner Image (Desktop )"
    },
    {
      "type": "image_picker",
      "id": "mobile_banner_img",
      "label": "Banner Image (Mobile)"
    }
  ],
  "presets":[
    {
      "name": "Hero Banner"
    }
  ]
}
{% endschema %}