{{ 'collection-list.css' | asset_url | stylesheet_tag }}
<div class="collection-list">
  <div class="index-container">
    <div class="wrapper">
      <div class="main-grid">
        {% for block in section.blocks %}
        <a href="{{ block.settings.link_url }}" class="collection-item">
          <div class="img-wrap">
            {% if block.settings.img != blank %}
              {% render 'responsive--image' with block.settings.img as image, max_width: 683, class: 'img' %}
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
          </div>
          {% if block.settings.btn_text != blank %}
            <div class="button">{{ block.settings.btn_text }}</div>
          {% endif %}
        </a>
      {% endfor %}
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Collection List",
  "settings": [],
  "blocks": [
    {
      "name": "Collection Item",
      "type": "collection_item",
      "settings": [
        {
          "type": "header",
          "content": "Image",
          "info": "-------"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Content",
          "info": "-------"
        },
        {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link Url"
        }
      ]
    }
  ]
}
{% endschema %}
