{{ 'cut-out-section.css' | asset_url | stylesheet_tag }}

<div class="cut-out-section"></div>

{% schema %}
{
  "name": "Cut Out Section",
  "settings": [],
  "presets": [
    {
      "name": "Cut Out Section"
    }
  ]
}
{% endschema %}