{{ 'grand-image-section.css' | asset_url | stylesheet_tag }}

<div class="grand-image-section">
  <div class="index-container">
    <div class="wrapper">
      <div class="image-wrap">
        {% if section.settings.desk_img %}
          {% render 'responsive--image' with section.settings.desk_img as image, max_width: 1144, class: 'img', mob_img: section.settings.mob_img %}
        {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
        {% if section.settings.mob_img != blank %}
          {% render 'responsive--image' with section.settings.mob_img as image, max_width: 360, class: 'img mob-image' %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Grand Image Section",
  "settings": [
    {
    "type": "header",
    "content": "Image",
    "info": "-------"
    },
    {
    "type": "image_picker",
    "id": "desk_img",
    "label": "Image (Desktop)"
    },
    {
    "type": "image_picker",
    "id": "mob_img",
    "label": "Image (Mobile)"
    }
  ],
  "presets": [
    {
      "name":" Grand Image Section",
      "category":" Grand Image Section"
    }
  ]
}
{% endschema %}