{{ 'moodboard-section.css' | asset_url | stylesheet_tag }}

<div class="moodboard-section">
  <div class="moodboard-container">
    <div class="wrapper">
      {% if section.settings.main_title %}
        <h3 class="title">{{ section.settings.main_title }}</h3>
      {% endif %}
      <div class="image-gallery">
        <div class="swiper-wrapper">
          <div class="swiper-slide slide-with-three-images">
            {% render 'media-item' , media: product.metafields.my_fields.moodboard_image_1, media_type: "image" %}
            {% render 'media-item' , media: product.metafields.my_fields.moodboard_image_2, media_type: "image" %}
            {% render 'media-item' , media: product.metafields.my_fields.embed_video_link, media_type: "video" %}
          </div>
          <div class="swiper-slide slide-with-four-images">
            {% render 'media-item' , media: product.metafields.my_fields.moodboard_image_3, media_type: "image" %}
            {% render 'media-item' , media: product.metafields.my_fields.moodboard_image_1, media_type: "image" %}
            {% render 'media-item' , media: product.metafields.my_fields.moodboard_image_2, media_type: "image" %}
            {% render 'media-item' , media: product.metafields.my_fields.moodboard_image_3, media_type: "image" %}
          </div>
          <div class="swiper-slide slide-with-three-images">
            {% render 'media-item' , media: product.metafields.my_fields.moodboard_image_1, media_type: "image" %}
            {% render 'media-item' , media: product.metafields.my_fields.moodboard_image_2, media_type: "image" %}
            {% render 'media-item' , media: product.metafields.my_fields.embed_video_link, media_type: "video" %}
          </div>
        </div>
        <div class="image-gallery-pagination"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Moodboard Section",
  "settings": [
    {
      "type": "header",
      "content": "This Section Is Just For Mobile Version.",
      "info": "-------"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "main_title",
      "label": "Main Title",
      "default": "dig into the moodboard"
    }
  ],
  "presets": [
    {
      "name": "PRODUCT PAGE MOODBOARD"
    }
  ]
}
{% endschema %}
