{{ 'product-recommendation.css' | asset_url | stylesheet_tag }}
<div class="product-recommendation">
  <div class="main-container">
    {% if section.settings.pre_title != blank %}
      <h4 class="pre-title">{{ section.settings.pre_title }}</h4>
    {% endif %}
    {% if  section.settings.title != blank %}
      <h3 class="title">{{ section.settings.title }}</h3>
    {% endif %}
    <div class="product-gallery">
      <div class="swiper-wrapper">
        {% if section.settings.choose_collection != blank %}
          {% for product in collections[section.settings.choose_collection].products %}
            {% render "product--item", product: product %}
          {% endfor %}
          {% else %}
            {% for block in section.blocks %}
              {% render "product--item", product: block.settings.choose_product %}
            {% endfor %}
        {% endif %}
      </div>
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</div>
{% schema %}
{
  "name":"Product Recommendation",
  "settings":[
    {
      "type": "header",
      "content": "Collection",
      "info": "-------"
    },
    {
      "type": "collection",
      "id": "choose_collection",
      "label": "Choose Collection",
      "info": "If Collection isn't selected then the manually added product will show."
    },
    {
      "type": "text",
      "id": "pre_title",
      "label": "Pre Title"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "name": "Product",
      "type": "product",
      "settings": [
        {
          "type": "header",
          "content": "Product",
          "info": "-------"
        },
        {
          "type": "product",
          "id": "choose_product",
          "label": "Choose Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Recommendation"
    }
  ]
}
{% endschema %}
