{{'review-section.css' | asset_url | stylesheet_tag }}
<div class="review-section">
  <div class="index-container">
    <div class="content-wrap">
      {% if section.settings.text != blank %}
        <div class="review">
          <p class="text">{{ section.settings.text }}</p>
        </div>
      {% endif %}
      {% if section.settings.name != blank %}
        <span class="name">{{ section.settings.name }}</span>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
  "name": "Quote Section",
  "settings": [
    {
      "type": "header",
      "content": "review",
      "info": "-------"
    },
    {
      "type": "text",
      "id":"text",
      "label":"text",
      "default": "“i want to die with my blue jeans on.”"
    },
    {
      "type": "text",
      "id":"name",
      "label":"Name",
      "default": "- Andy Warhol"
    }
  ],
  "presets": [
    {
      "name":"Homepage - Quote"
    }
  ]
}
{% endschema %}