<section class="{% if section.settings.mobile_hide %}small--hide{% endif %}">
{% render "video-banner" with section %}
</section>

{% schema %}
{
  "name": "VIDEO HERO",
  "settings": [
    {
      "type": "checkbox",
      "id": "mobile_hide",
      "label": "Hide on Mobile",
      "default": false
    },
    {
      "type": "header",
      "content": "Image",
      "info": "------"
    },
    {
      "type": "image_picker",
      "id": "video_poster",
      "label": "Video Poster"
    },
    {
      "type": "image_picker",
      "id": "mobile_video_poster",
      "label": "Mobile Video Poster"
    },
    {
      "type": "header",
      "content": "Video",
      "info": "------"
    },
    {
      "type": "text",
      "id": "video_url",
      "label": "Video Url (required)"
    },
    {
      "type": "text",
      "id": "mobile_video_url",
      "label": "Mobile Video Url (required)"
    },
    {
      "type": "checkbox",
      "id": "video_controls",
      "label": "Video Controls",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "VIDEO HERO"
    }
  ]
}
{% endschema %}