<section class="{% if section.settings.mobile_hide %}mobile-hide{% endif %} {% if section.settings.desktop_hide %}desktop-hide{% endif %} {{ section.settings.margin_bottom }}">
{% render "video-banner" with section %}
</section>

{% schema %}
{
  "name": "VIDEO HERO",
  "settings": [
    {
      "type": "select",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "options": [
        {
          "value": "section-bottom__none",
          "label": "0px"
        },
        {
          "value": "section-bottom__small",
          "label": "25px"
        },
        {
          "value": "section-bottom__medium",
          "label": "50px"
        },
        {
          "value": "section-bottom__large",
          "label": "100px"
        }
      ],
      "default": "section-bottom__large"
    },
    {
      "type": "checkbox",
      "id": "mobile_hide",
      "label": "Hide on Mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "desktop_hide",
      "label": "Hide on Desktop",
      "default": false
    },
    {
      "type": "header",
      "content": "Image",
      "info": "------"
    },
    {
      "type": "image_picker",
      "id": "video_poster",
      "label": "Video Poster"
    },
    {
      "type": "image_picker",
      "id": "mobile_video_poster",
      "label": "Mobile Video Poster"
    },
    {
      "type": "header",
      "content": "Video",
      "info": "------"
    },
    {
      "type": "text",
      "id": "video_url",
      "label": "Video Url (required)"
    },
    {
      "type": "text",
      "id": "mobile_video_url",
      "label": "Mobile Video Url (required)"
    },
    {
      "type": "checkbox",
      "id": "video_controls",
      "label": "Video Controls",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "VIDEO HERO"
    }
  ]
}
{% endschema %}