{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}

{% if section.settings.text != blank %}
  <div class="custom-rich-text {% if section.settings.mobile_hide %}small--hide{% endif %}">
    <div class="fabric-container">
      <div class="wrapper">
        <div class="text-wrap">
          <p class="text">{{ section.settings.text }}</p>
        </div>
        {% if section.settings.link_text != blank %}
          <a class="button button--outline" href="{{ section.settings.link_url }}">
            {{ section.settings.link_text }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "BLOCK TXT W/ LINK",
  "settings": [
    {
      "type": "checkbox",
      "id": "mobile_hide",
      "label": "Hide on Mobile",
      "default": false
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link Text",
      "default": "FIND YOUR FIT"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link Url"
    }
  ],
  "presets": [
    {
      "name": "BLOCK TXT W/ LINK"
    }
  ]
}
{% endschema %}
