{{ 'section-parallax.css' | asset_url | stylesheet_tag }}

<div class="cut-out-section {% if section.settings.mobile_hide %}small--hide{% endif %}"></div>

<style>
  .cut-out-section {
    background-image: url('{{ section.settings.image | img_url: '2000x' }}')
  }
</style>
{% schema %}
{
  "name": "PARALLAX IMAGE",
  "settings": [
    {
      "type": "checkbox",
      "id": "mobile_hide",
      "label": "Hide on Mobile",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "PARALLAX IMAGE"
    }
  ]
}
{% endschema %}