{{ 'size-guide-popup.css ' | asset_url | stylesheet_tag }}

<div class="popup-inner" id="size-guide-popup">
  <div class="wrapper">
    <div class="size-guide__header">
      <div class="popup-close" js-popup-close>
        {% render 'close-icon' %}
      </div>
    </div>
    <div class="popup-body inner-wrap">
      <div class="size-guide__header-inner scroll-header">
        <div class="size-guide__header-image">
          <img class="img" src="{{ 'team.png' | asset_url}}" loading="lazy" alt="Imogene & Willie team">
        </div>
        <div class="size-guide__header-content">
          <h3 class="size-guide__header-title">we're in this together</h3>
          <p class="size-guide__header-text">every body is different. we know how hard it can be to find the right jean when shopping online, but rest assured -- we're here to help.</p>
          <button class="size-guide__chat-trigger button button--outline" onclick="Chatra('openChat', true)">CHAT WITH A TEAM MEMBER</button>
        </div>
      </div>
      <div class="table-wrap size-guide__table">
        {{ product.metafields.my_fields.size_guide_popup_ }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "SIZE GUIDE POPUP",
  "class": "size-guide-popup",
  "presets": [
    {
      "name": "SIZE GUIDE POPUP"
    }
  ]
}
{% endschema %}
