<div class="slide-section">
  <div class="container">
    <div class="wrapper {% if section.settings.show_border %}border-bottom{% endif %}">
      {% if section.settings.title != blank %}
        <h2 class="title">{{ section.settings.title }}</h2>
      {% endif %}
       <div class="contents product-slider">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="slide-item content-wrap border-show swiper-slide">
              {% if block.settings.img != blank %}
                <div class="image-wrap">
                  {% render 'responsive--image' with block.settings.img as image, max_width: 358, class: 'img' %}   
                </div>
              {% endif %}
              <div class="info-wrap">
                {% if  block.settings.product_title != blank %}
                  <h2 class="info-title">{{ block.settings.product_title }}</h2>
                {% endif %}
              </div>
            </div>
        {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
       </div>
       {% if section.settings.btn_text != blank %}
        <div class="btn-wrap">
          <a href="{{ section.settings.btn_url }}" class="btn">{{ section.settings.btn_text }}</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Slide Section",
  "settings": [
    {
      "type": "header",
      "content": "This Section Is Just For Mobile Version",
      "info": "------"
    },
    {
      "type": "header",
      "content": "Content",
      "info": "-------"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button URL"
    },
    {
      "type": "checkbox",
      "id": "show_border",
      "label": "Show Border (Mobile)",
      "default": true
    }
  ],
  "blocks":[
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "Image",
          "info": "-------"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Content",
          "info": "------"
        },
        {
          "type": "text",
          "id": "product_title",
          "label": "Product Title"
        }
      ]
    }
  ],
  "presets":[
    {
      "name": "Slide Section"
    }
  ]
}
{% endschema %}