.ajaxcart-drawer {
  background-color: #f7f6f3;
  width: 100%;
  max-width: 33%;
}

@media (max-width: 767px) {
  .ajaxcart-drawer {
    width: 100%;
    max-width: 100%;
  }
}

.ajaxcart {
  display: block;
}

.ajaxcart__header {
  display: flex;
  justify-content: space-between;
  background-color: #f7f6f3;
  padding: 1.4rem 2.4rem 2.4rem;
}

.ajaxcart__signin {
  padding: 3rem 2.4rem 0;
  color: #0f359b;
  font-size: 1.4rem;
  letter-spacing: 0.14rem;
  display: flex;
  justify-content: space-between;
}

.ajaxcart__signin a {
  color: #0f359b;
  font-family: var(--font-din);
  font-weight: 600;
}

.ajaxcart__header-title {
  color: #222222;
  margin: 0;
}

.ajaxcart__header-title-count {
  font-size: 1.3rem;
  position: relative;
  top: -1rem;
}

.ajaxcart__close {
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #222222;
}

.ajaxcart__close svg {
  width: 1.5rem;
}

.ajaxcart__content {
  overflow-y: auto;
  margin-bottom: 6rem;
}

.ajaxcart__products {
  margin: 0;
  padding: 0 0 6rem;
}

.ajaxcart__footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f0efec;
  padding: 2.4rem;
}

@media (max-width: 767px) {
  .ajaxcart__footer {
    padding: 2.4rem 2.4rem 8rem;
  }
}

.ajaxcart__note {
  margin: 0;
  font-size: 1.2rem;
}

.ajaxcart__save-note.loading {
  opacity: 0.4;
}

.ajaxcart__cart-note-trigger {
  border: none;
  background: transparent;
  color: #0f359b;
  font-size: 1.4rem;
  letter-spacing: 0.14rem;
  font-family: var(--font-din);
  font-weight: 500;
  padding: 0;
  margin-bottom: 1rem;
}

.ajaxcart__add-note {
  margin: 1.6rem 0;
}

.ajaxcart__cart-note-input {
  width: 100%;
  height: 10rem;
  background-color: #F7F6F3;
}

.ajaxcart__subtotal {
  margin-bottom: 1.6rem;
}

.ajaxcart__subtotal-row {
  display: flex;
  justify-content: space-between;
}

.ajaxcart__subtotal-title,
.ajaxcart__subtotal-price {
  margin: 0;
  font-size: 1.8rem;
  letter-spacing: 0.4rem;
}

.ajaxcart__checkout {
  width: 100%;
}

.ajaxcart__disclaimer {
  font-size: 1.5rem;
  text-transform: lowercase;
  text-align: center;
  font-family: var(--font-arno-display);
  font-weight: normal;
}

.line-item {
  padding: 3.2rem 3.2rem 1.6rem;
  background-color: #f7f6f3;
}

.line-item.loading {
  opacity: 0.7;
}

.line-item:first-child {
  padding-top: 0;
}

.line-item__information {
  display: flex;
}

.line-item__image-wrapper {
  max-width: 10rem;
  overflow: hidden;
  margin-right: 1.6rem;
}

.line-item__image {
  width: 100%;
}

.line-item__detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.6rem;
}

.line-item__title-remove {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.line-item__title {
  margin: 0;
  margin-right: 1rem;
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  text-transform: lowercase;
  color: #222222;
}

.line-item__title-link {
  text-decoration: none;
  color: inherit;
  letter-spacing: 0.225rem;
}

.line-item__option {
  display: block;
  margin-top: 1.1rem;
  font-size: 1.3rem;
}

.line-item__remove {
  border: none;
  background-color: transparent;
  padding: 0;
}

.line-item__remove svg {
  width: 0.8rem;
}

.line-item__price-qty {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
  font-size: 1.4rem;
}

.line-item__pricing {
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: 0.2rem;
  margin-right: 1.6rem;
}

.line-item__price {
  font-size: 1.4rem;
  font-family: var(--font-din-med);
  font-weight: 500;
  letter-spacing: 0.42rem;
}

.line-item__qty-selector {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  line-height: 1.3;
}

.line-item__qty-selector-input {
  width: 3.2rem;
  margin-left: 0.8rem;
  border: none;
  background: #f0efec;
  text-align: center;
  font-size: 1.3rem;
}

/* Chrome, Safari, Edge, Opera */
.line-item__qty-selector-input::-webkit-outer-spin-button,
.line-item__qty-selector-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.line-item__qty-selector-input[type="number"] {
  -moz-appearance: textfield;
}

.upsell__products {
  margin: 0;
  padding: 0;
}

.upsell__slider-dots {
  list-style: none;
  margin: 0;
  padding: 0;
}

.upsell__slider-trigger {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}

.upsell__slider-trigger.active {
  background-color: var(--color-black);
}

.upsell-product {
  display: flex;
}

.upsell-product__image {
  max-width: 10rem;
  overflow: hidden;
}

.upsell-product__image img {
  width: 100%;
}

.ajaxcart__empty {
  padding: 3rem;
}
