.faq-page .wrapper {
  display: flex;
  flex-wrap: wrap;
}
.ancillary-sidebar {
  max-width: 100%;
  flex: 100%;
  background-color: var(--color-Xlight-wheat);
}
.ancillary-sidebar .sidebar-title-wrap {
  background-color: var(--color-light-wheat);
}
.ancillary-sidebar .heading {
  margin: 0;
  font-family: var(--font-din);
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
  padding: 2rem 4.5rem;
}
.ancillary-sidebar .ancillary-list-wrap {
  margin-top: 5.5rem;
  padding: 0 4.5rem;
  margin-bottom: 3.5rem;
}
.ancillary-sidebar .content-wrap{
  margin-top: 5.5rem;
  padding: 0 4.5rem;
  display: none;
}
.ancillary-sidebar .ancillary-item {
  list-style: none;
  display: flex;
  line-height: 1.3;
  margin-bottom: 1rem;
}
.ancillary-sidebar .ancillary-link {
  font-size: 1.3rem;
  text-decoration: none;
  font-family: var(--font-body-family);
  color: var(--color-dim-black);
  letter-spacing: 0.35rem;
}
.ancillary-sidebar .ancillary-link.active {
  font-weight: bold;
}
.ancillary-sidebar .ancillary-list {
  margin: 0;
  padding: 0 0 0 2rem;
  border-left: 0.1rem solid var(--color-dim-black);
}
.ancillary-sidebar .label {
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  display: block;
}
.ancillary-sidebar .info-wrap:nth-last-child(2) .link {
  text-decoration: underline;
}
.ancillary-sidebar .ancillary-item {
  margin-bottom: 0.8rem;
}
.faq-page .faq-block {
  margin-bottom: 5.5rem;
}
.faq-page .faq-wrapper {
  background-color: var(--color-Xlight-wheat);
  padding: 0;
  width: 100%;
}
.faq-wrapper .h2 {
  padding: 5rem 2.5rem;
  text-align: center;
  background-color: var(--color-light-wheat);
  margin: 0;
}
.faq-block {
  margin-top: 5rem;
}
.faq-block .h4 {
  padding: 2.5rem;
  margin: 0;;
}
.faq-page .accordian-title {
  margin: 0;
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
  font-family: var(--font-gothic);
}
.faq-page .accordian-item {
  padding: 3rem;
}
.faq-page .accordian-item:nth-child(odd) {
  background-color: var(--color-light-wheat);
}
.faq-page .accordian-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.75em 0;
}
.faq-page .icons {
  max-width: 1.2rem;
  width: 1.2rem;
  flex: 1.2rem;
  height: 1.2rem;
}
.faq-page svg {
  width: 100%;
  height: 100%;
  color: var(--color-black);
  fill: var(--color-black);
  width: 1rem;
}
.faq-page .icon {
  display: flex;
}
.faq-page .icon path {
  fill: var(--color-dim-black);
}
.faq-page .accordian-open {
  display: none;
}
.faq-page .accordian-body .text {
  color: var(--color-dim-black);
  margin: 3rem 0 0;
  padding-left: 2rem;
  border-left: 1px solid var(--color-dim-black);
}
.faq-page .accordian-body {
  display: none;
}
.faq-page .accordian-item.active .accordian-body {
  display: block;
}
.faq-page .accordian-item.active .accordian-close {
  display: none;
}
.faq-page .accordian-item.active .accordian-open {
  display: flex;
}
.faq-page .accordian-item.active .accordian-title {
  font-weight: bold;
}

.contact-wrap {
  padding: 2.5rem;
  background-color: var(--color-Xlight-wheat);
}
.contact-wrap__right {
  margin-top: 5rem;
}
.contact-wrap__paragraph {
  margin-bottom: 5rem;
}
.contact-wrap h6 {
  margin: 1rem 0;
}
.chat-link {
  border: none;
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
  font-size: 1.2rem;
  letter-spacing: 0.12rem;
  line-height: 2;
  font-family: var(--font-gothic);
}

.faq-block-wrap {
  padding: 0 2rem;
}

@media screen and (min-width: 1279px) {
  .ancillary-sidebar .heading {
    padding: 2rem 8rem;
  }
  .ancillary-sidebar .ancillary-list-wrap {
    margin-top: 5.5rem;
    padding: 0 0 0 8rem;
    margin-bottom: 3.5rem;
  }
  .ancillary-sidebar .content-wrap{
    margin-top: 5.5rem;
    padding: 0 0 0 8rem;
    display: block;
  }
}

@media screen and (min-width: 750px) {
  .faq-block-wrap {
    padding: 0;
  }
  .faq-page .wrapper {
    flex-wrap: nowrap;
  }
  .ancillary-sidebar {
    max-width: 25%;
    flex: 25%;
    background-color: var(--color-Xlight-wheat);
    position: sticky;
    top: 0;
    height: 100vh;
    left: 0;
    bottom: 0;
  }
  .ancillary-sidebar .sidebar-title-wrap {
    background-color: var(--color-light-wheat);
  }
  .ancillary-sidebar .heading {
    padding: 2rem 6rem;
  }
  .ancillary-sidebar .ancillary-list-wrap {
    margin-top: 5.5rem;
    padding: 0 0 0 6rem;
    margin-bottom: 3.5em;
  }
  .ancillary-sidebar .content-wrap{
    margin-top: 5.5rem;
    padding: 0 0 0 6rem;
    display: block;
  }
  .ancillary-sidebar .ancillary-item {
    list-style: none;
    display: flex;
    line-height: 1.3;
    margin-bottom: 1rem;
  }
  .ancillary-sidebar .ancillary-link {
    font-size: 1.3rem;
    text-decoration: none;
    font-family: var(--font-body-family);
    color: var(--color-dim-black);
    letter-spacing: 0.35rem;
  }
  .ancillary-sidebar .ancillary-link.active {
    font-weight: bold;
  }
  .ancillary-sidebar .ancillary-list {
    margin: 0;
    padding: 0 0 0 2rem;
    border-left: 0.1rem solid var(--color-dim-black);
  }
  .ancillary-sidebar .label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: block;
  }
  .ancillary-sidebar .info-wrap .link {
    text-decoration: none;
  }
  .ancillary-sidebar .info-wrap:nth-last-child(2) .link {
    text-decoration: underline;
  }
  .faq-page .faq-wrapper {
    padding: 6rem;
  }
  .faq-page .faq-main {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 6rem;
    max-width: 75%;
    flex: 75%;
    background-image: inherit;
  }
  .faq-page .faq-block-wrap {
    margin-top: 8.5rem;
  }
  .faq-wrapper .h2 {
    padding: 0;
    text-align: left;
    background-color: transparent;
  }
  .contact-wrap {
    display: flex;
    padding: 0;;
  }
  .contact-wrap__left, .contact-wrap__right {
    width: 50%;
    padding: 0 6rem;
    margin-top: 0;
  }
  .contact-wrap__paragraph {
    margin-bottom: 5rem;
  }
  .contact-wrap h6 {
    margin: 1rem 0;
  }
  .chat-link {
    border: none;
    background-color: transparent;
    padding: 0;
    text-decoration: underline;
    font-size: 1.2rem;
    letter-spacing: 0.12rem;
    line-height: 2;
    font-family: var(--font-gothic);
  }
}
@media screen and (max-width: 749px) {
  .faq-page .faq-main {
    background-image: none !important;
  }
}