.collection-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  min-height: 60rem;
}
.collection-banner .page-width {
  height: 100%;
}
.collection-banner .wrapper {
  height: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.collection-banner .banner-content {
  display: flex;
  justify-content: center;
  max-width: 65.5rem;
  margin: 0 auto;
}
.collection-banner .banner-content .text {
  color: var(--color-normal-black);
  font-family: var(--font-arno-display);
  font-size: 2.8rem;
  line-height: 1.3;
  letter-spacing: 0.2rem;
  margin: 0;
  text-align: center;
}
@media screen and (min-width: 1400px) {
  .collection-banner .banner-content {
    max-width: 72rem;
  }
}
@media screen and (max-width: 1279px) {
  .collection-banner .banner-content {
    max-width: 58rem;
  }
  .collection-banner .banner-content .text {
    font-size: 2.4rem;
  }
  .collection-banner .wrapper {
    height: 72%;
  }
}
@media screen and (max-width: 990px) {
  .collection-banner .wrapper {
    height: 86%;
  }
}
@media screen and (max-width: 767px) {
  .collection-banner .banner-content {
    display: none;
  }
  .collection-banner {
    min-height: unset;
    height: 50vh;
    background-attachment: unset;
  }
}
