.collection-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 600px;
}
.collection-banner .page-width {
  height: 100%;
}
.collection-banner .wrapper {
  height: 100%;
}
.collection-banner .banner-content {
  display: flex;
  justify-content: center;
  padding-top: 180px;
  max-width: 370px;
  margin: 0 auto;
}
.collection-banner .banner-content .text {
  color: #222222;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .collection-banner .banner-content {
    display: none;
  }
  .collection-banner {
    height: 50vh;
  }
}
