.collection-list {
  background-color: var(--color-Xlight-wheat);
  padding: 5rem 0;
}
.collection-list .wrapper {
  padding: 0 23rem;
}
.collection-list .collection-item {
  position: relative;
  text-decoration: none;
}
.collection-list .button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  width: 100%;
  min-width: unset;
  min-height: unset;
  max-width: 80%;
}
.collection-list .collection-item .img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}
.collection-list .main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5.5rem;
}
.collection-list .placeholder-svg {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1400px) {
  .collection-list {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 990px) {
  .collection-list {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 767px) {
  .collection-list {
    display: none;
  }
}