.collage-section {
  padding-bottom: 75px;
}
.fit-guide-page .collage-section {
  padding-top: 75px;
}
.custom-content .collage-section {
  padding: 95px 0 110px;
  background-color: var(--color-Xlight-wheat)
}
.custom-content .collage-section .alpha {
  flex: 1;
  max-width: unset;
}
.custom-content .collage-section .beta {
  max-width: 50.5%;
  flex: 50.5%;
}
.collage-section .container {
  max-width: 1920px;
  margin: 0 auto;
}
.collage-section .wrapper {
  display: flex;
}
.collage-section .alignment .alpha {
  order: 2;
}
.collage-section .alpha {
  max-width: 42%;
  flex: 42%;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collage-section .beta {
  max-width: 58%;
  flex: 58%;
}
.collage-section .content-wrap {
  text-align: center;
}
.collage-section .pre-title {
  display: none;
}
.fit-guide-page .collage-section .pre-title {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  font-family: var(--font-gothic);
  color: var(--color-normal-black);
  letter-spacing: 2px;
}
.collage-section .main-title {
  font-size: 28px;
  font-family: var(--font-arno-display);
  letter-spacing: 3px;
  color: var(--color-normal-black);
  margin: 0;
  line-height: 1;
}
.collage-section .text {
  font-size: 20px;
  font-family: var(--font-arno-display);
  letter-spacing: 2px;
  color: var(--color-dim-black);
  max-width: 335px;
  margin: 8px auto 35px;
  line-height: 1.4;
}
.custom-content .collage-section .text {
  margin-bottom: 0;
  margin-top: 22px;
}
.collage-section .btn {
  font-size: 14px;
  font-family: var(--font-din);
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border: 1px solid var(--color-normal-black);
  color: var(--color-normal-black);
  max-width: 410px;
  height: 55px;
  margin: 0 auto;
  text-decoration: none;
}
.collage-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
.collage-section .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.collage-section .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.collage-section .mob-image {
  display: none;
}
.collage-section .img-wrap {
  height: 100%;
}
@media screen and (max-width: 1600px) {
  .custom-content .collage-section .beta {
    max-width: 55.5%;
    flex: 55.5%;
    height: 580px;
  }
}
@media screen and (max-width: 1279px) {
  .custom-content .collage-section .beta {
    height: 460px;
  }
  .custom-content .collage-section .text {
    max-width: 294px;
    font-size: 18px;
  }
}
@media screen and (max-width: 990px){
  .fit-guide-page .collage-section {
    padding: 55px 0;
  }
  .custom-content .collage-section {
    padding: 70px 0 85px;
  }
  .collage-section .alpha {
    max-width: 50%;
    flex: 50%;
    padding: 0 35px;
  }
  .custom-content .collage-section .alpha {
    padding: 0 20px;
  }
  .custom-content .collage-section .main-title {
    font-size: 24px;
  }
  .collage-section .beta {
    max-width: 50%;
    flex: 50%;
  }
  .custom-content .collage-section .beta {
    height: 360px;
  }
  .collage-section .main-title {
    font-size: 26px;
  }
  .collage-section .text {
    font-size: 18px;
    letter-spacing: 2px;
    color: var(--color-dim-black);
    max-width: 335px;
    margin: 8px auto 20px;
  }
  .custom-content .collage-section .text {
    max-width: 273px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .collage-section .btn {
    font-size: 12px;
    max-width: 300px;
    height: 50px;
  }
}
@media screen and (max-width: 767px){
  .collage-section {
    padding-bottom: 40px;
    padding-top: 35px;
  }
  .fit-guide-page .collage-section {
    padding: 35px 0 40px;
  }
  .collage-section .mob-image {
    display: block;
  }
  .collage-section .desk-image {
    display: none;
  }
  .collage-section .pre-title {
    display: block;
    font-size: 11px;
    letter-spacing: 2px;
    font-family: var(--font-gothic);
    color: var(--color-normal-black);
    margin-top: 0;
    margin-bottom: 10px;
  }
  .collage-section .wrapper {
    flex-wrap: wrap;
  }
  .collage-section .alpha, .collage-section .beta {
    max-width: 100%;
    flex: 100%;
  }
  .collage-section .wrapper .alpha {
    order: 2;
    padding: 0;
  }
  .collage-section .beta {
    margin-bottom: 22px;
  }
  .collage-section .container {
    padding: 0 15px;
  }
  .collage-section .btn {
    max-width: 360px;
    height: 55px;
    display: none;
  }
  .collage-section .show-btn {
    display: flex;
  }
  .collage-section .text {
    max-width: 280px;
    margin: 8px auto 15px;
  }
  .collage-section .content-wrap {
    width: 100%;
  }
  .custom-content .collage-section {
    padding: 0 0 60px;
  }
  .custom-content .collage-section .container {
    padding: 0;
  }
  .custom-content .collage-section .alpha,
  .custom-content .collage-section .beta {
    max-width: 100%;
    flex: 100%
  }
  .custom-content .collage-section .beta {
    height: auto;
    margin-bottom: 50px;
  }
  .custom-content .collage-section .main-title {
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 2px;
  }
  .custom-content .collage-section .text {
    max-width: 290px;
    font-size: 15px;
    margin-top: 16px;
  }
}
