.content-specific-collection {
  background-color: var(--color-Xlight-wheat);
  padding: 85px 0 70px;
}
.content-specific-collection:hover .swiper-scrollbar {
  opacity: 1;
}
.content-specific-collection .product-container {
  max-width: 1630px;
  padding: 0 20px;
  margin: 0 auto;
}
.content-specific-collection .product-grid {
  padding-bottom: 70px;
  position: relative;
  overflow: hidden;
}
.content-specific-collection .product-item {
  text-decoration: none;
}
.content-specific-collection .product-item .product-toggle-image {
  display: none;
}
.content-specific-collection .product-toggle:hover .product-toggle-image {
  display: block;
}
.content-specific-collection .product-toggle:hover .featured-image {
  display: none;
}
.content-specific-collection .product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.content-specific-collection .product-info {
  margin-top: 20px;
}
.content-specific-collection .product-title {
  margin: 0;
  font-size: 15px;
  color: var(--color-normal-black);
  margin-bottom: 6px;
  letter-spacing: 1px;
}
.content-specific-collection .description {
  font-size: 13px;
  font-family: var(--font-gothic);
  color: var(--color-dim-black);
  margin: 0;
  line-height: 1;
}
.content-specific-collection .btn {
  font-size: 14px;
  font-family: var(--font-din);
  text-transform: uppercase;
  color: var(--color-normal-black);
  border: 1px solid var(--color-normal-black);
  padding: 0 10px;
  max-width: 360px;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  letter-spacing: 2.5px;
  margin: 0 auto;
}
.content-specific-collection .swiper-scrollbar {
  opacity: 0;
  left: 0;
  background-color: transparent;
  height: 3px;
  bottom: 30px;
  transition: all 0.3s ease-in-out;
}
.content-specific-collection .swiper-scrollbar-drag {
  display: block;
  background-color: var(--color-dark-grey);
  border-radius: 5px;
}

@media screen and (min-width: 1400px) {
  .content-specific-collection .product-title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1600px) {
  .content-specific-collection .product-title {
    font-size: 20px;
    letter-spacing: 1.2px;
  }
  .content-specific-collection .btn {
    max-width: 410px;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1279px) {
  .content-specific-collection .product-container {
    padding: 0 85px;
  }
}
@media screen and (max-width: 1279px) {
  .content-specific-collection .product-title {
    font-size: 12px;
  }
  .content-specific-collection .description {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .content-specific-collection {
    padding: 20px 0 50px;
  }
  .content-specific-collection .product-grid {
    padding-bottom: 40px;
  }
  .content-specific-collection .product-item {
    max-width: 239px;
    flex: 239px;
    min-width: 239px;
  }
  .content-specific-collection .product-title {
    font-size: 12px;
  }
  .content-specific-collection .description {
    font-size: 12px;
  }
  .content-specific-collection .product-info {
    margin-top: 15px;
  }
  .content-specific-collection .swiper-scrollbar {
    bottom: 25px;
  }
}
