.content-specific-collection {
  background-color: var(--color-Xlight-wheat);
  padding: 8.5rem 0 7rem;
}
.content-specific-collection:hover .swiper-scrollbar {
  opacity: 1;
}
.content-specific-collection .product-container {
  max-width: 163rem;
  padding: 0 2rem;
  margin: 0 auto;
}
.content-specific-collection .product-grid {
  padding-bottom: 7rem;
  position: relative;
  overflow: hidden;
}
.content-specific-collection .product-item {
  text-decoration: none;
}
.content-specific-collection .product-item .product-toggle-image {
  display: none;
}
.content-specific-collection .product-toggle:hover .product-toggle-image {
  display: block;
}
.content-specific-collection .product-toggle:hover .featured-image {
  display: none;
}
.content-specific-collection .product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.content-specific-collection .product-info {
  margin-top: 2rem;
}
.content-specific-collection .product-title {
  margin: 0;
  font-size: 2rem;
  color: var(--color-normal-black);
  margin-bottom: 0.5rem;
  letter-spacing: 0.03rem;
}
.content-specific-collection .description {
  font-size: 1.4rem;
  font-family: var(--font-gothic);
  color: var(--color-dim-black);
  margin: 0;
  letter-spacing: 0.14rem;
}
.content-specific-collection .btn {
  font-size: 1.4rem;
  font-family: var(--font-din);
  text-transform: uppercase;
  color: var(--color-normal-black);
  border: 0.1rem solid var(--color-normal-black);
  padding: 0 1rem;
  max-width: 36rem;
  min-height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  letter-spacing: 0.25rem;
  margin: 0 auto;
}
.content-specific-collection .swiper-scrollbar {
  opacity: 0;
  left: 0;
  background-color: transparent;
  height: 0.3rem;
  bottom: 3rem;
  transition: all 0.3s ease-in-out;
}
.content-specific-collection .swiper-scrollbar-drag {
  display: block;
  background-color: var(--color-dark-grey);
  border-radius: 0.5rem;
}

@media screen and (max-width: 1600px) and (min-width: 1279px) {
  .content-specific-collection .product-container {
    padding: 0 8.5rem;
  }
}
@media screen and (max-width: 767px) {
  .content-specific-collection {
    padding: 2rem 0 5rem;
  }
  .content-specific-collection .product-grid {
    padding-bottom: 4rem;
  }
  .content-specific-collection .product-item {
    max-width: 23.9rem;
    flex: 23.9rem;
    min-width: 23.9rem;
  }
  .content-specific-collection .product-title {
    font-size: 1.2rem;
  }
  .content-specific-collection .description {
    font-size: 1.2rem;
  }
  .content-specific-collection .product-info {
    margin-top: 1.5rem;
  }
  .content-specific-collection .swiper-scrollbar {
    bottom: 2.5rem;
  }
}
