.custom-footer {
  padding: 7rem 0 4rem;
  background-color: var(--color-light-wheat);
}
.footer-container {
  max-width: 134rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.footer-container .column-grid {
  display: flex;
}
.footer-container .column {
  max-width: 22.8rem;
  flex: 22.8rem;
}
.footer-container .text {
  font-size: 1.5rem;
  color: var(--color-normal-black);
  max-width: 17rem;
  line-height: 1.4;
  margin: 2.2rem 0;
}
.footer-container .column svg {
  width: 100%;
  height: 100%;
  display: block;
}
.custom-footer .menu-list {
  padding: 0;
  margin: 0;
}
.custom-footer .menu-item {
  list-style: none;
  margin-bottom: 0.6rem;
  line-height: 1;
}
.custom-footer .menu-link {
  font-size: 1.5rem;
  color: var(--color-dim-black);
  text-decoration: none;
  letter-spacing: 0.2rem;
  line-height: 1.3;
}
.custom-footer .copyright-text-mob {
  display: none;
}
.custom-footer .copyright-text {
  font-size: 1.2rem;
  font-family: var(--font-gothic);
  color: var(--color-normal-black);
  letter-spacing: 0.12rem;
  margin-top: 1.5rem;
}
.custom-footer .social-item {
  text-decoration: none;
  display: inline-block;
  margin: 0 0.75rem;
}
.custom-footer .social-item:first-child {
  margin-left: 0;
}
.custom-footer .social-item:last-child {
  margin-right: 0;
}
.custom-footer .social-icon {
  max-width: 1.8rem;
  height: auto;
  width: 100%;
  min-height: 1.8rem;
  object-fit: contain;
}
.custom-footer .social-wrap {
  margin-bottom: 1.5rem;
}
.custom-footer .footer-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.custom-footer .menu-column {
  max-width: 29%;
  flex: 29%;
  padding: 0 1rem;
}
.custom-footer .menu-column:last-child {
  display: flex;
  justify-content: flex-end;
}
.custom-footer .footer-newsletter {
  max-width: 41rem;
  flex: 41rem;
  padding-top: 1rem;
}
.custom-footer .newsletter-title {
  font-size: 1.8rem;
  font-family: var(--font-din);
  font-weight: 600;
  color: var(--color-dim-black);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin: 0;
}
.custom-footer .newsletter-text {
  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--color-normal-black);
  letter-spacing: 0.2rem;
  margin: 2rem 0;
}

.custom-footer .icon-skip {
  max-width: 1.2rem;
  flex: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  display: flex;
}
.custom-footer .field__button {
  height: 2rem;
  width: 2rem;
  position: unset;
  display: unset;
}
.custom-footer .field-input {
  border: 0;
  background-color: transparent;
  padding: 0 1rem 0 16%;
  flex: 1;
  outline: none;
  box-shadow: unset;
  font-size: 1.4rem;
  font-family: var(--font-gothic);
  color: var(--color-dark-grey);
}
.custom-footer .field-input::placeholder {
  font-size: 1.4rem;
  font-family: var(--font-gothic);
  color: var(--color-dark-grey);
}

@media screen and (max-width: 1279px) {
  .custom-footer {
    padding: 5.4rem 0 2.8rem;
    background-color: var(--color-light-wheat);
  }
  .custom-footer .menu-column {
    max-width: 33%;
    flex: 33%;
  }
  .footer-container .column {
    max-width: 19rem;
    flex: 19rem;
  }
  .custom-footer .footer-newsletter {
    max-width: 33rem;
    flex: 33rem;
  }
  .custom-footer .menu-item {
    margin-bottom: 0.5rem;
  }
  .custom-footer .newsletter-title {
    font-size: 1.6rem;
  }
  .custom-footer .newsletter-text {
    font-size: 1.3rem;
  }
  .custom-footer .copyright-text {
    font-size: 1rem;
  }
  .custom-footer .social-item {
    margin: 0 2.5px;
  }
}
@media screen and (max-width: 990px) {
  .footer-container .column {
    max-width: 15rem;
    flex: 15rem;
  }
  .footer-container .text {
    font-size: 1.2rem;
    max-width: 15rem;
    margin: 1.6rem 0;
  }
  .custom-footer .newsletter-title {
    font-size: 1.5rem;
  }
  .custom-footer .newsletter-text {
    font-size: 1.2rem;
    letter-spacing: -0.1px;
    margin: 1.5rem 0 2rem;
  }
  .custom-footer .footer-newsletter-form {
    padding: 0 0.2rem;
  }
  .custom-footer .menu-link {
    font-size: 1.2rem;
  }
  .custom-footer .menu-item {
    margin-bottom: 0.4rem;
  }
  .custom-footer .menu-column {
    max-width: 38%;
    flex: 38%;
  }
  .custom-footer .social-icon {
    max-width: 1.6rem;
    min-height: 1.6rem;
  }
  .custom-footer .social-item {
    margin-right: 0 0.15rem;
  }
  .custom-footer .footer-newsletter {
    max-width: 24rem;
    flex: 24rem;
  }
  .custom-footer .icon-skip {
    max-width: 1rem;
    flex: 1rem;
    height: 1rem;
  }
  .custom-footer .footer-menu {
    padding-top: 0.2rem;
  }
  .custom-footer .footer-newsletter {
    padding-top: 0.2rem;
  }
}
@media screen and (max-width: 767px) {
  .footer-container .column-grid {
    flex-wrap: wrap;
  }
  .footer-container .column {
    max-width: 100%;
    flex: 100%;
  }
  .footer-container .logo-wrap {
    max-width: 22rem;
  }
  .footer-container .text {
    font-size: 1.5rem;
    max-width: 17.5rem;
    letter-spacing: 0.2rem;
  }
  .custom-footer .social-icon {
    max-width: 1.8rem;
    min-height: 1.8rem;
  }
  .custom-footer .social-item {
    margin: 0 0.5rem;
  }
  .custom-footer .column .copyright-text {
    display: none;
  }
  .custom-footer .copyright-text-mob {
    display: block;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  .custom-footer .footer-menu {
    padding-top: 0;
    flex-wrap: wrap;
    margin-top: 2.5rem;
  }
  .custom-footer .menu-column {
    max-width: 100%;
    flex: 100%;
    padding: 0%;
  }
  .custom-footer .menu-link {
    font-size: 1.5rem;
  }
  .custom-footer .menu-item {
    margin-bottom: 0.6rem;
  }
  .custom-footer .newsletter-title {
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
  }
  .custom-footer .newsletter-text {
    font-size: 1.5rem;
  }
  .custom-footer .footer-newsletter {
    max-width: 100%;
    flex: 100%;
    padding: 0;
    margin-top: 2.5rem;
  }
  .custom-footer .icon-skip {
    max-width: 1.2rem;
    flex: 1.2rem;
    height: 1.2rem;
  }
  .custom-footer .menu-column:last-child {
    display: unset;
    margin-top: 1.8rem;
  }
}

.custom-footer .klaviyo-form {
  border-bottom: 0.1rem solid #222222;
  font-family: var( --font-din-med) !important;
  font-weight: 500;
}

.custom-footer .klaviyo-form p, .custom-footer .klaviyo-form p span {
  font-family: var( --font-din-med) !important;
  font-weight: 500 !important;
}

.custom-footer .klaviyo-form input {
  font-family: var( --font-din-med) !important;
  font-weight: 500 !important;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  background-color: var(--color-light-wheat) !important;
  border: 0.1rem solid transparent !important;
}
.custom-footer .klaviyo-form button {
  font-family: var( --font-din-med) !important;
  font-weight: 500 !important;
  background-color: var(--color-light-wheat) !important;
}

.custom-footer .klaviyo-form input::placeholder {
  font-family: var( --font-din-med) !important;
  font-weight: 500 !important;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
}

.kl-private-quill-wrapper-Lkqws1.kl-private-quill-wrapper-Lkqws1.kl-private-quill-wrapper-Lkqws1 .ql-snow * {
  font-family: var( --font-din-med) !important;
  font-weight: 500 !important;
  font-size: 1.4rem !important;
  font-weight: normal !important;
}