.account-banner,
.registration-banner {
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-size: 1.4rem;
  position: relative;
}
.template-customer .account-banner {
  min-height: 600px;
}
.template-customer .registration-banner {
  min-height: 800px;
}
.template-customer #MainContent .customer {
  max-width: 650px;
  margin: 0;
  padding: 3.5em 4.25em 3.7em;
  background-color: var(--color-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.template-customer .main-title {
  font-size: 2.6rem;
  font-family: var(--font-arno-display);
  color: var(--color-normal-black);
  margin-top: 0;
  margin-bottom: 2.2rem;
  text-align: left;
  text-transform: lowercase;
}
.template-customer .customer #customer_login {
  margin-top: 0;
}
.template-customer .customer #CustomerEmail {
  margin-top: 0;
}
.template-customer #MainContent .field-input {
  height: 55px;
  padding: 0 1.6em;
  font-family: var(--font-din);
  background-color: var(--color-light-wheat);
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--color-dim-black);
  border: 0;
  box-shadow: unset;
}
.template-customer #MainContent .field-input::placeholder {
  opacity: 1;
  font-size: 1.2rem;
  font-family: var(--font-din);
  text-transform: uppercase;
  color: var(--color-dark-grey);
}
.template-customer #MainContent .field .field-input:focus {
  padding: 0 1.6em;
}
.template-customer #MainContent .field-input:not(:placeholder-shown) {
  padding: 0 1.6em;
}
.template-customer #MainContent .field {
  margin: 0 0 3rem;
}
.template-customer .btn {
  width: 100%;
  font-family: var(--font-din);
  margin: 0;
  height: 5.5rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--color-Xlight-wheat);
  background-color: var(--color-normal-black);
  box-shadow: unset;
}
.template-customer .btn:hover {
  box-shadow: unset;
}
.template-customer .account-banner .link-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.3rem;
  padding: 0 08.rem;
}
.template-customer .account-banner .link {
  font-size: 1.1rem;
  color: var(--color-dim-black);
  text-decoration: none;
  margin: 0;
  text-transform: lowercase;
}
.template-customer #recover {
  margin: 0 0 0.5rem;
}
.template-customer .account-banner .text {
  font-size: 1.4rem;
  margin: 0;
  text-align: left;
  line-height: 1.5;
  color: var(--color-dim-black);
}
.template-customer .recover-password .link {
  text-align: center;
  margin: 2.3rem auto 0;
  display: block;
}

@media screen and (min-width: 1400px) {
  .template-customer {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1279px) {
  .template-customer #MainContent .field {
    margin: 0 0 2rem;
  }
  .template-customer #MainContent .customer {
    max-width: 53rem;
  }
}
@media screen and (max-width: 767px) {
  .template-customer #MainContent .customer {
    max-width: 92%;
    padding: 3rem 1rem 5rem;
  }
  .template-customer .main-title {
    text-align: center;
    font-size: 2.4rem;
  }
  .template-customer .account-banner .link {
    font-size: 1.2rem;
  }
  .template-customer .account-banner .link-wrap {
    margin-top: 1.2rem;
  }
  .template-customer .account-banner .text {
    text-align: center;
    font-size: 1rem;
  }
  .template-customer #MainContent .field-input {
    height: 5rem;
    font-size: 1.2rem;
  }
  .template-customer #MainContent .field-input::placeholder {
    font-size: 1.2rem;
  }
  .template-customer .btn {
    height: 5rem;
    font-size: 1.2rem;
  }
  .template-customer .recover-password .link {
    margin: 1.8rem auto 0;
  }
}