.custom-footer {
  padding: 70px 0 40px;
  background-color: var(--color-light-wheat);
}
.footer-container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer-container .column-grid {
  display: flex;
}
.footer-container .column {
  max-width: 228px;
  flex: 228px;
}
.footer-container .text {
  font-size: 15px;
  color: var(--color-normal-black);
  letter-spacing: 1px;
  max-width: 170px;
  line-height: 1.4;
  margin: 22px 0;
}
.footer-container .column svg {
  width: 100%;
  height: 100%;
  display: block;
}
.custom-footer .menu-list {
  padding: 0;
  margin: 0;
}
.custom-footer .menu-item {
  list-style: none;
  margin-bottom: 6px;
  line-height: 1;
}
.custom-footer .menu-link {
  font-size: 15px;
  color: var(--color-dim-black);
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1.3;
}
.custom-footer .copyright-text-mob {
  display: none;
}
.custom-footer .copyright-text {
  font-size: 12px;
  color: var(--color-normal-black);
  letter-spacing: 1.2px;
}
.custom-footer .social-item {
  text-decoration: none;
  display: inline-block;
  margin: 0 7.5px;
}
.custom-footer .social-item:first-child {
  margin-left: 0;
}
.custom-footer .social-item:last-child {
  margin-right: 0;
}
.custom-footer .social-icon {
  max-width: 18px;
  height: auto;
  width: 100%;
  min-height: 18px;
  object-fit: contain;
}
.custom-footer .footer-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.custom-footer .menu-column {
  max-width: 29%;
  flex: 29%;
  padding: 0 10px;
}
.custom-footer .menu-column:last-child {
  display: flex;
  justify-content: flex-end;
}
.custom-footer .footer-newsletter {
  max-width: 410px;
  flex: 410px;
  padding-top: 10px;
}
.custom-footer .newsletter-title {
  font-size: 18px;
  color: var(--color-dim-black);
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}
.custom-footer .newsletter-text {
  font-size: 15px;
  line-height: 1.5;
  color: var(--color-normal-black);
  letter-spacing: 2px;
  margin: 20px 0 40px;
}
.custom-footer .footer-newsletter-form {
  display: flex;
  height: 27px;
  width: 100%;
  padding: 0 5px;
  align-items: center;
  border-bottom: 1px solid var(--color-normal-black);
}
.custom-footer .footer-newsletter-form svg {
  width: 100%;
  height: 100%;
}
.custom-footer .newsletter-form .form__message {
  max-width: 100%;
  flex: 100%;
}
.custom-footer .icon-skip {
  max-width: 12px;
  flex: 12px;
  height: 12px;
  cursor: pointer;
  display: flex;
}
.custom-footer .field__button {
  height: 20px;
  width: 20px;
  position: unset;
  display: unset;
}
.custom-footer .field-input {
  border: 0;
  background-color: transparent;
  padding: 0 10px 0 16%;
  flex: 1;
  outline: none;
  box-shadow: unset;
  font-size: 14px;
  color: var(--color-dark-grey);
  letter-spacing: 2px;
}
.custom-footer .field-input::placeholder {
  font-size: 14px;
  color: var(--color-dark-grey);
  letter-spacing: 2px;
}
@media screen and (max-width: 1400px) {
  .custom-footer .newsletter-title {
    letter-spacing: 3px;
  }
}
@media screen and (max-width: 1279px) {
  .custom-footer {
    padding: 54px 0 28px;
    background-color: var(--color-light-wheat);
  }
  .custom-footer .menu-column {
    max-width: 33%;
    flex: 33%;
  }
  .footer-container .column {
    max-width: 190px;
    flex: 190px;
  }
  .custom-footer .footer-newsletter {
    max-width: 330px;
    flex: 330px;
  }
  .custom-footer .menu-item {
    margin-bottom: 5px;
  }
  .custom-footer .newsletter-title {
    letter-spacing: 2px;
    font-size: 16px;
  }
  .custom-footer .newsletter-text {
    font-size: 13px;
    letter-spacing: 1.5px;
  }
  .custom-footer .copyright-text {
    font-size: 10px;
  }
  .custom-footer .social-item {
    margin: 0 2.5px;
  }
  .custom-footer .menu-link {
    font-size: 13px;
    letter-spacing: 1.5px;
  }
  .footer-container .text {
    font-size: 13px;
  }
}
@media screen and (max-width: 990px) {
  .footer-container .column {
    max-width: 150px;
    flex: 150px;
  }
  .footer-container .text {
    font-size: 12px;
    max-width: 150px;
    margin: 16px 0;
  }
  .custom-footer .newsletter-title {
    letter-spacing: 1px;
    font-size: 15px;
  }
  .custom-footer .newsletter-text {
    font-size: 12px;
    letter-spacing: -0.1px;
    margin: 15px 0 20px;
  }
  .custom-footer .footer-newsletter-form {
    padding: 0 2px;
  }
  .custom-footer .menu-link {
    font-size: 12px;
  }
  .custom-footer .menu-item {
    margin-bottom: 4px;
  }
  .custom-footer .menu-column {
    max-width: 38%;
    flex: 38%;
  }
  .custom-footer .field-input {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .custom-footer .field-input::placeholder {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .custom-footer .social-icon {
    max-width: 16px;
    min-height: 16px;
  }
  .custom-footer .social-item {
    margin-right: 0 1.5px;
  }
  .custom-footer .footer-newsletter {
    max-width: 240px;
    flex: 240px
  }
  .custom-footer .icon-skip {
    max-width: 9px;
    flex: 9px;
    height: 9px;
  }
  .custom-footer .footer-menu {
    padding-top: 2px;
  }
  .custom-footer .footer-newsletter {
    padding-top: 2px;
  }
}
@media screen and (max-width: 767px) {
  .footer-container .column-grid {
    flex-wrap: wrap;
  }
  .footer-container .column {
    max-width: 100%;
    flex: 100%;
  }
  .footer-container .logo-wrap {
    max-width: 220px;
  }
  .footer-container .text {
    font-size: 15px;
    max-width: 175px;
    letter-spacing: 2px;
  }
  .custom-footer .social-icon {
    max-width: 18px;
    min-height: 18px;
  }
  .custom-footer .social-item {
    margin: 0 5px;
  }
  .custom-footer .column .copyright-text {
    display: none;
  }
  .custom-footer .copyright-text-mob {
    display: block;
    margin-top: 20px;
    font-size: 12px;
  }
  .custom-footer .footer-menu {
    padding-top: 0;
    flex-wrap: wrap;
    margin-top: 25px;
  }
  .custom-footer .menu-column {
    max-width: 100%;
    flex: 100%;
    padding: 0%;
  }
  .custom-footer .menu-link {
    font-size: 15px;
  }
  .custom-footer .menu-item {
    margin-bottom: 6px;
  }
  .custom-footer .newsletter-title {
    font-size: 18px;
    letter-spacing: 3px;
  }
  .custom-footer .newsletter-text {
    font-size: 15px;
    letter-spacing: 2px;
  }
  .custom-footer .footer-newsletter {
    max-width: 100%;
    flex: 100%;
    padding: 0;
    margin-top: 25px;
  }
  .custom-footer .icon-skip {
    max-width: 12px;
    flex: 12px;
    height: 12px;
  }
  .custom-footer .field-input {
    font-size: 14px;
    letter-spacing: 2px;
  }
  .custom-footer .field-input::placeholder {
    font-size: 14px;
    letter-spacing: 2px;
  }
  .custom-footer .menu-column:last-child {
    display: unset;
    margin-top: 18px;
  }
}
