.explore-section {
  background-color: var(--color-Xlight-wheat);
  padding-bottom: 2.5em;
  font-size: 1.2vw;
}
.explore-section:hover .swiper-scrollbar {
  opacity: 1;
}
.explore-section .title {
  font-family: var(--font-arno-display);
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 1em;
  color: var(--color-normal-black);
  letter-spacing: 0.1em;
}
.explore-section .cart-swiper {
  padding-bottom: 4.5em;
  overflow: hidden;
  position: relative;
}
.explore-section .wrapper .title-wrap {
  text-align: center;
}
.explore-section .cart-link {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}
.explore-section .cart-item {
  max-width: 22%;
  flex: 22%;
  min-width: 22%;
}
.explore-section .swiper-scrollbar {
  opacity: 0;
  left: 0;
  background-color: transparent;
  height: 3px;
  bottom: 40px;
  transition: all 0.3s ease-in-out;
}
.explore-section .swiper-scrollbar-drag {
  display: block;
  background-color: var(--color-dark-grey);
  border-radius: 5px;
}
.explore-section .title-wrap .text {
  font-size: 12px;
  color: var(--color-normal-black);
  font-family: var(--font-gothic);
  margin-bottom: 0;
}
.explore-section .img-wrap {
  margin-bottom: 1em;
  height: 22em;
}
.explore-section .img-wrap img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.explore-section .btn-wrap {
  max-width: 25.05em;
  height: 3.37em;
  margin: 0 auto;
  border: 1px solid var(--color-normal-black);
}
.explore-section .btn-wrap .btn {
  height: 100%;
  width: 100%;
  font-size: 0.7em;
  font-family: var(--font-din);
  font-weight: 500;
  color: var(--color-normal-black);
  text-decoration: none;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.explore-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
.template-collection .explore-section .cart-swiper {
  padding-bottom: 1.5em;
}
.template-collection .explore-section .swiper-scrollbar {
  bottom: 0;
}
.template-collection .explore-section {
  background-color: #fff;
}
/* responsive start */
@media screen and (max-width: 1600px) and (min-width: 1279px) {
  .explore-section .index-container {
    padding: 0 70px;
  }
}
@media screen and (min-width: 1400px) {
  .explore-section {
    font-size: 20px;
  }
  .explore-section .img-wrap {
    height: 22em;
  }
}
@media screen and (min-width: 1600px) {
  .explore-section .img-wrap {
    height: 28em;
  }
}
@media(max-width: 1279px) {
  .explore-section {
    font-size: 1.6vw;
  }
  .explore-section .cart-item {
    max-width: 28%;
    flex: 28%;
    min-width: 28%;
  }
}
@media(max-width: 990px) {
  .explore-section {
    font-size: 1.8vw;
  }
}
@media(max-width: 767px) {
  .explore-section .title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .explore-section .title-wrap .text {
    font-size: 12px;
  }
  .explore-section .content-wrap {
    min-width: 230px;
  }
  .explore-section .img-wrap {
    height: 380px;
  }
  .explore-section .btn-wrap {
    display: none;
  }
  .explore-section .cart-item {
    max-width: 290px;
    flex: 290px;
    min-width: 290px;
  }
  .explore-section .swiper-scrollbar {
    bottom: 15px;
  }
}
@media(max-width: 479px) {
  .explore-section .cart-item {
    max-width: 225px;
    flex: 225px;
    min-width: 225px;
  }
  .explore-section .img-wrap {
    height: 310px;
  }
  .template-collection .explore-section {
    padding-bottom: 5.5em;
  }
}
