.explore-section {
  background-color: var(--color-Xlight-wheat);
  padding-bottom: 2.5em;
  font-size: 1.2vw;
}
.explore-section .title {
  font-size: 1.4em;
  margin-top: 0;
  margin-bottom: 1em;
  font-family: var(--font-body-family);
  color: var(--color-normal-black);
  letter-spacing: 0.1em;
}
.explore-section .contents-wrapper {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-column-gap: 1em;
  margin-bottom: 4.5em;
}
.explore-section .wrapper .text-wrap {
  text-align: center;
}
.explore-section .text-wrap .text {
  font-size: 0.6em;
  color: var(--color-normal-black);
}
.explore-section .img-wrap {
  margin-bottom: 1em;
  height: 19em;
}
.explore-section .img-wrap img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.explore-section .btn-wrap {
  max-width: 25.05em;
  height: 3.37em;
  margin: 0 auto;
  border: 1px solid var(--color-normal-black);
}
.explore-section .btn-wrap .btn {
  height: 100%;
  width: 100%;
  font-size: 0.7em;
  font-weight: 500;
  color: var(--color-normal-black);
  text-decoration: none;
  letter-spacing: 0.15em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
/* responsive start */
@media screen and (min-width: 1400px) {
  .explore-section {
    font-size: 20px;
  }
}
@media(max-width: 1279px) {
  .explore-section {
    font-size: 1.6vw;
  }
  .explore-section .contents-wrapper {
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 40px;
  }
  .explore-section .img-wrap {
    height: 25.75em;
  }
}
@media(max-width: 990px) {
  .explore-section {
    font-size: 1.8vw;
  }
}
@media(max-width: 767px) {
  .explore-section .title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .explore-section .text-wrap .text {
    font-size: 12px;
  }
  .explore-section .contents-wrapper {
    grid-template-columns: repeat(5,1fr);
    overflow: auto;
    grid-column-gap: 10px;
  }
  .explore-section .content-wrap {
    min-width: 230px;
  }
  .explore-section .img-wrap {
    height: auto;
  }
  .explore-section .btn-wrap {
    display: none;
  }
}