.fact-section {
  padding: 8em 0 3.5em;
  font-size: 1.2vw;
}
.fact-section .container {
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 20px;
}
.fact-section .header-wrap {
  margin-bottom: 60px;
}
.fact-section .main-title {
  font-size: 23px;
  font-family: var(--font-din);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: var(--color-normal-black);
  letter-spacing: 3px;
}
.fact-section .custom-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 25px;
}
.fact-section .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.fact-section .mob-image {
  display: none;
}
.fact-section .title-wrap {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}
.fact-section .title {
  font-size: 25px;
  font-family: var(--font-arno-display);
  margin: 0;
  letter-spacing: 3px;
  color: var(--color-normal-black);
}
.fact-section .content-wrap {
  margin-top: 28px;
  padding: 0 10px;
}
.fact-section .icon-wrap {
  margin-left: 10px;
  max-width: 18px;
  flex: 18px;
  height: 18px;
  display: flex;
}
.fact-section .icon-wrap svg {
  width: 100%;
  height: 100%;
}
.fact-section .text {
  margin: 0;
  font-size: 15px;
  font-family: var(--font-gothic);
  letter-spacing: 1.5px;
  line-height: 1.4;
}
.fact-section .image-wrap {
  height: 30.25em;
}
.fact-section .placeholder-svg {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1400px) {
  .fact-section {
    font-size: 20px;
  }
}
@media screen and (max-width: 1600px) {
  .fact-section .image-wrap {
    height: 23.25em;
  }
  .fact-section .title {
    font-size: 24px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 1279px) {
  .fact-section .header-wrap {
    margin-bottom: 40px;
  }
  .fact-section .custom-grid {
    grid-gap: 14px;
  }
  .fact-section .content-wrap {
    margin-top: 14px;
    padding: 0 5px;
  }
  .fact-section .title {
    font-size: 20px;
    letter-spacing: 1px;
  }
  .fact-section .icon-wrap {
    margin-left: 8px;
    max-width: 16px;
    flex: 16px;
    height: 18px;
  }
  .fact-section .title-wrap {
    margin-bottom: 8px;
  }
  .fact-section .text {
    font-size: 12px;
    letter-spacing: 1.5px;
  }
}
@media screen and (max-width: 990px) {
  .fact-section .custom-grid {
    grid-gap: 20px;
    grid-row-gap: 45px;
    grid-template-columns: repeat(2,1fr);
  }
  .fact-section .image-wrap {
    height: 44.25em;
  }
  .fact-section .title {
    font-size: 22px;
  }
  .fact-section .text {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .fact-section {
    padding: 50px 0 80px;
  }
  .fact-section .mob-image {
    display: block;
  }
  .fact-section .desk-image {
    display: none;
  }
  .fact-section .header-wrap {
    margin-bottom: 30px;
  }
  .fact-section .main-title {
    font-size: 18px;
    letter-spacing: 2px;
  }
  .fact-section .custom-grid {
    grid-gap: unset;
    grid-row-gap: unset;
    grid-template-columns: unset;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .fact-section .custom-grid .grid-item {
    max-width: 300px;
    flex: 300px;
    min-width: 260px;
    margin-right: 15px;
  }
  .fact-section .custom-grid .grid-item:last-child {
    margin-right: 0;
  }
  .fact-section .image-wrap {
    height: 360px;
  }
  .fact-section .content-wrap {
    margin-top: 18px;
    padding: 0 8px;
  }
  .fact-section .title-wrap {
    margin-bottom: 5px;
  }
  .fact-section .title {
    font-size: 20px;
  }
  .fact-section .text {
    font-size: 14px;
    max-width: 228px;
  }
}