.fade-section {
  font-size: 1.2vw;
  margin-bottom: 5em;
}
.fade-section .wrapper {
  max-width: 938px;
  margin: 0 auto;
}
.fade-section .img-wrap {
  margin-bottom: 3.5em;
}
.fade-section .image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.fade-section .content-wrap {
  text-align: center;
}
.fade-section .title {
  font-size: 28px;
  font-family: var(--font-arno-display);
  color: var(--color-normal-black);
  letter-spacing: 3px;
  margin: 0;
}
.fade-section .text {
  font-family: var(--font-arno-display);
  font-size: 20px;
  letter-spacing: 0.1em;
  color: var(--color-dim-black);
  margin: 0.5em auto 0.4em;
  max-width: 20em;
  line-height: 1.3;
}
.fade-section .btn {
  max-width: 29.3em;
  height: 3.96em;
  font-family: var(--font-din);
  border: 1px solid var(--color-normal-black);
  color: var(--color-normal-black);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  letter-spacing: 0.15em;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 auto;
}

@media screen and (min-width: 1400px) {
  .fade-section {
    font-size: 20px;
  }
}
@media screen and (max-width: 1279px) {
  .fade-section {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 767px) {
  .fade-section {
    background-color: var(--color-white);
    padding: 45px 0 50px;
    margin-bottom: 0;
  }
  .fade-section .img-wrap {
    margin-bottom: 30px;
    padding: 0 10px;
  }
  .fade-section .text {
    font-size: 15px;
    letter-spacing: 1px;
    max-width: 320px;
  }
}