.grand-image-section {
  padding-bottom: 4.25em;
  background-color: #F7F6F3;
}
.grand-image-section .image-wrap {
  max-width: 57.2em;
  margin: 0 auto;
  font-size: 1.2vw;
}
.grand-image-section .image-wrap img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (min-width:1400px){
  .grand-image-section .image-wrap {
    font-size: 20px;
  }
}
@media screen and (max-width:767px){
  .grand-image-section .image-wrap {
    max-width: 100%;
  }
  .grand-image-section .index-container {
    padding: 0;
  }
}