.grand-image .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.grand-image .mob-image {
  display: none;
}
.grand-image .placeholder-svg {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .grand-image .mob-image {
    display: none;
  }
  .grand-image .desk-image {
    display: block;
  }
}