.guide-section {
  padding: 7em 0;
  font-size: 1.2vw;
}
.guide-section .custom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.65em;
}
.guide-section .grid-item {
  position: relative;
}
.guide-section .img-wrap {
  height: 100%;
  display: block;
}
.guide-section .content-wrap {
  max-width: 19em;
  width: 100%;
  height: 16.75em;
  background-color: var(--color-white);
  padding: 1.6em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.guide-section .link {
  text-decoration: none;
  color: var( --color-blue);
  font-size: 14px;
  letter-spacing: 3px;
  font-family: var(--font-din);
}
.guide-section .main-title {
  font-size: 23px;
  font-family: var(--font-din);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 3px;
  color: var(--color-normal-black);
}
.guide-section .text {
  font-size: 15px;
  margin: 20px 0 25px;
  font-family: var(--font-gothic);
  letter-spacing: 2px;
  color: var(--color-normal-black);
  line-height: 1.4;
}
.guide-section .custom-grid .block-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.guide-section .alignment .block-1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.guide-section .custom-grid .block-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.guide-section .alignment .block-2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.guide-section .custom-grid .block-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.guide-section .alignment .block-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.guide-section .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.guide-section .mob-image {
  display: none;
}
.guide-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
.guide-section .btn-wrap {
  margin-top: 60px;
}
.guide-section .btn {
  text-decoration: none;
  font-size: 14px;
  font-family: var(--font-din);
  color: var(--color-normal-black);
  text-transform: uppercase;
  font-weight: 500;
  max-width: 290px;
  height: 58px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  letter-spacing: 3px;
  border: 1px solid var(--color-normal-black);
  justify-content: center;
}

@media screen and (min-width: 1400px) {
  .guide-section {
    font-size: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .guide-section .content-wrap {
    padding: 1em;
  }
}
@media screen and (max-width: 1279px) {
  .guide-section .content-wrap {
    max-width: 23em;
    height: 18.75em;
  }
  .guide-section .main-title {
    font-size: 21px;
    letter-spacing: 2px;
  }
  .guide-section .text {
    font-size: 14px;
    margin: 15px 0 20px;
  }
  .guide-section .link {
    font-size: 13px;
  }
}
@media screen and (max-width: 990px) {
  .guide-section .content-wrap {
    max-width: 26em;
    height: 21.75em;
  }
  .guide-section .text {
    font-size: 12px;
  }
  .guide-section .link {
    font-size: 12px;
  }
  .guide-section .btn-wrap {
    margin-top: 45px;
  }
  .guide-section .btn {
    max-width: 260px;
    height: 55px;
  }
}
@media screen and (max-width: 767px) {
  .guide-section {
    padding: 0 0 80px;
  }
  .guide-section .img-wrap {
    height: auto;
  }
  .guide-section .mob-image {
    display: block;
  }
  .guide-section .desk-image {
    display: none;
  }
  .guide-section .custom-grid {
    display: flex;
    grid-template-columns: unset;
    grid-gap: unset;
    flex-wrap: wrap;
  }
  .guide-section .custom-grid .block-1 {
    order: 2;
    padding-right: 5px;
  }
  .guide-section .custom-grid .block-2 {
    order: 1;
    max-width: 100%;
    flex: 100%;
  }
  .guide-section .custom-grid .block-3 {
    order: 3;
    padding-left: 5px;
  }
  .guide-section .custom-grid .block-1, 
  .guide-section .custom-grid .block-3 {
    max-width: 50%;
    flex: 50%;
  }
  .guide-section .content-wrap {
    max-width: 100%;
    height: auto;
    position: unset;
    transform: unset;
    padding: 60px 20px 50px;
  }
  .guide-section .main-title {
    font-size: 18px;
    letter-spacing: 2px;
  }
  .guide-section .text {
    font-size: 18px;
    max-width: 300px;
    margin: 22px 0 12px;
  }
  .guide-section .link {
    font-size: 14px;
  }
  .guide-section .btn-wrap {
    margin-top: 40px;
  }
  .guide-section .btn {
    max-width: 230px;
    height: 52px;
  }
}