.header-wrapper {
  background-color: var(--color-Xlight-wheat);
}
.header {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-heading-family);
}
.header .header__inline-menu {
  max-width: 450px;
  flex: 450px;
  min-width: unset;
}
.header .header__menu-item {
  font-size: 16px;
  text-transform: lowercase;
  color: var(--color-normal-black);
  letter-spacing: 2.8px;
}
.header .menu-utility-link {
  padding: 0 21px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 13px;
  text-transform: lowercase;
  color: var(--color-dim-black);
  letter-spacing: 2.8px;
}
.header .header__icons {
  width: 100%;
  justify-content: flex-end;
  max-width: 450px;
  flex: 450px;
}
.header .header__search .header__icon {
  width: auto;
  text-decoration: none;
}
.header .header__menu-item:hover span {
  text-decoration: none;
}
.header .header__heading {
  max-width: 218px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.header .header__heading svg {
  height: 100%;
  width: 100%;
}
.header .header__heading .header__heading-link {
  width: 100%;
}
.header #cart-icon-bubble {
  max-width: 65px;
  flex: 65px;
  padding: 0 21px;
}
.header #cart-icon-bubble svg {
  width: 100%;
  height: 100%;
}
.header .mega_menu {
  display: none;
  background-color: var(--color-Xlight-wheat);
  width: 100%;
  left: 0;
  border: none;
  position: absolute;
  padding: 30px 0 90px;
}
.header .mega_menu .men-product-item {
  display: none;
}
.header .mega_menu .page-width {
  padding: 0 5rem;
}
.header .about-mega-menu .mega_menu {
  display: none;
  background-color: var(--color-Xlight-wheat);
  width: 100%;
  left: 0;
  border: none;
  position: absolute;
  padding: 30px 0 30px;
}
.header .list-menu li:hover .mega_menu {
  display: block;
}
.header .mega_menu-list {
  padding: 0;
}
.header .mega_menu-list .mega_menu-item {
  list-style: none;
  line-height: 1.2;
  margin-bottom: 6px;
}
.header .mega_menu-list .mega_menu-heading {
  font-size: 14px;
  letter-spacing: 2.6px;
  margin-bottom: 10px;
  color: var(--color-dim-black);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
}
.header .mega_menu-link {
  font-size: 13px;
  color: var(--color-dim-black);
  text-decoration: none;
  margin-bottom: 5px;
  display: inline-block;
  line-height: 1;
}
.header .mega_menu-link:last-child {
  margin-bottom: 0;
}
.header .mega_menu-list-outer-wrap {
  display: flex;
  max-width: 30%;
  flex: 30%;
  position: relative;
}
.header .mega_menu-inner-wrap {
  width: 50%;
}
.header .mega_menu-inner-wrap:last-child {
  position: absolute;
  right: 0;
  bottom: -50px;
}
.header .mega_menu-row {
  display: flex;
  align-items: center;
}
.header .mega_menu-product-wrap {
  display: flex;
  flex: 1;
}
.header .mega_menu-product-item {
  max-width: 33.33%;
  flex: 33.33%;
  min-height: 350px;
  height: 1px;
}
.header .mega_menu-product-item-inner-wrap {
  height: 100%;
  text-decoration: none;
}
.header .mega_menu-product-img-wrap {
  height: 100%;
}
.header .mega_menu-product-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.header .mega_menu-product-title {
  margin-top: 0;
  font-size: 12px;
  color: var(--color-normal-black);
  margin-bottom: 2px;
  letter-spacing: 1px;
  font-weight: 600;
}
.header .mega_menu-product-description {
  margin: 0;
  font-size: 11px;
  color: var(--color-normal-black);
  letter-spacing: 1.2px;
}
.header .product-info {
  padding: 0 10px;
  margin-top: 10px;
}
.header .mega_menu-about {
  display: none
}
.header .about-mega-menu .page-width {
  padding: 0 7.3rem;
}
.header .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2vw;
  margin-bottom: 30px;
}
.header .grid-item {
  text-decoration: none;
}
.header .grid .image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.header .grid .pre_title {
  margin: 3px 0 0;
  font-size: 10px;
  letter-spacing: 0.8px;
  color: #7C7C7C;
}
.header .grid .title {
  font-size: 16px;
  color: var(--color-dim-black);
  font-weight: 600;
  letter-spacing: 2px;
  margin: 12px 0 6px;
}
.header .grid .text {
  font-size: 10px;
  margin: 0;
  line-height: 1.3;
  color: var(--color-normal-black);
  letter-spacing: 0.8px;
}
.header .mega_menu .btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .mega_menu .btn {
  max-width: 310px;
  flex: 310px;
  min-height: 52px;
  border: 1px solid var(--color-normal-black);
  padding: 0 15px;
  text-decoration: none;
  font-size: 13px;
  color: var(--color-normal-black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
#menu-drawer {
  background-color: var(--color-Xlight-wheat);
}
#menu-drawer .menu-drawer__submenu {
  background-color: var(--color-Xlight-wheat);
}
#menu-drawer .list-menu__item {
  font-size: 25px;
  letter-spacing: 2px;
  color: var(--color-normal-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
#menu-drawer .menu-drawer__utility-links {
  background-color: unset;
}
#menu-drawer .menu-drawer__close-button {
  color: var(--color-dark-grey);
  font-size: 14px;
  padding: 1.2rem 25px;
  text-transform: uppercase;
}
#menu-drawer .list-menu__item svg {
  fill: var(--color-dark-grey);
  max-width: 16px;
}
#menu-drawer .menu-drawer__close-button svg {
  max-width: 16px;
  margin-right: 12px;
  fill: var(--color-dark-grey);
}
#menu-drawer .grand-child-list-wrap {
  position: unset;
  transform: unset;
  visibility: visible;
  display: none;
  padding: 15px 0;
}
#menu-drawer .grand-child-link {
  font-size: 24px;
  color: var(--color-dim-black);
  padding: 5px 25px;
}
#menu-drawer .child-menu-item svg {
  min-height: 16px;
}
#menu-drawer .child-menu-item g {
  fill: var(--color-dark-grey);
}
#menu-drawer .menu-drawer__submenu .open-menu-item {
  display: none;
}
#menu-drawer .grand-child-list {
  margin-left: 50px;
  border-left: 1px solid var(--color-dim-black);
}
#menu-drawer .grand-child-list-wrap.active {
  display: block;
}
#menu-drawer .child-menu-item.active .close-menu-item {
  display: none;
}
#menu-drawer .child-menu-item.active .open-menu-item {
  display: block;
}
#menu-drawer .text {
  font-size: 24px;
  color: var(--color-dim-black);
  letter-spacing: 4px;
  line-height: 1.5;
  max-width: 200px;
  margin-top: 0;
}
#menu-drawer .menu-drawer-footer {
  padding: 0 30px;
  position: relative;
}
#menu-drawer .menu-drawer__inner-container .link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
#menu-drawer .menu-drawer__inner-container .link-text {
  color: var(--color-blue);
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 5px;
  font-weight: bold;
}
#menu-drawer .link-wrap svg {
  width: 20px;
  min-height: 20px;
  height: 100%;
}
#menu-drawer .link-wrap g {
  fill: var(--color-blue);
}
#menu-drawer .menu-drawer-slide {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 35px -10px 0;
  position: absolute;
  width: 100%;
  left: 30px;
  padding-bottom: 30px;
  top: 100%;
}
#menu-drawer .slide-item {
  min-width: 206px;
  max-width: 206px;
  flex: 206px;
  text-decoration: none;
  padding: 0 10px;
}
#menu-drawer .slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  min-height: 136px;
}
#menu-drawer .slide-title {
  color: var(--color-normal-black);
  letter-spacing: 2px;
  font-size: 15px;
  margin-top: 10px;
  display: block;
  line-height: 1;
}
#menu-drawer .menu-drawer__menu li {
  margin-bottom: 0;
}
#menu-drawer .search-form-wrap .search__input {
  box-shadow: unset;
  border: 0;
  padding: 10px 20px;
  color: var(--color-dim-black);
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: 600;
}
#menu-drawer .search-form-wrap .field {
  padding: 0 30px;
  background-color: var(--color-light-wheat);
  align-items: center;
  min-height: 54px;
}
#menu-drawer .search-form-wrap .search__button {
  position: unset;
  justify-content: flex-start;
  width: 2.4rem;
}
#menu-drawer .menu-drawer__navigation {
  padding: 2.6rem 0 5.6rem;
}
#menu-drawer .search-form-wrap .field__label {
  font-size: 14px;
  left: 5.5rem;
  text-transform: uppercase;
  color: var(--color-dim-black);
  font-weight: 600;
  top: 1.8rem;
}
#menu-drawer .search__input:focus ~ .field__label {
  font-size: 1rem;
  top: 0.3em;
  letter-spacing: 0.04rem;
}
#menu-drawer .search-form-wrap svg {
  height: 1.5rem;
  width: 1.5rem;
}
#menu-drawer .menu-drawer__navigation-container {
  display: unset;
}
#menu-drawer .menu-drawer__inner-submenu .link-wrap {
  padding: 30px;
}
@media screen and (min-width: 1400px) {
  .header .page-width, header.page-width {
    max-width: 2000px;
    padding: 2rem 8rem;
  }
  .header .mega_menu-product-wrap {
    flex: 68%;
    max-width: 68%;
    justify-content: flex-end;
  }
  .header .mega_menu-row {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .header .mega_menu-list-outer-wrap {
    max-width: 25%;
    flex: 25%;
    margin-top: 90px;
  }
  .header .mega_menu-product-item {
    min-height: 480px;
    max-width: 28%;
    flex: 28%;
  }
  .header .mega_menu-list .mega_menu-item {
    margin-bottom: 8px;
  }
  .header .mega_menu-inner-wrap:last-child {
    bottom: -65px;
  }
  .header .mega_menu-list .mega_menu-heading {
    font-size: 18px;
    letter-spacing: 3.5px;
    margin-bottom: 12px;
  }
  .header .mega_menu-link {
    font-size: 15px;
    letter-spacing: 3.5px;
  }
  .header .mega_menu-product-title {
    font-size: 14px;
    letter-spacing: 1.5px;
  }
  .header .mega_menu-product-description {
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  .header .grid .text {
    font-size: 13px;
    letter-spacing: 1.3px;
  }
  .header .grid .title {
    font-size: 20px;
    letter-spacing: 3px;
  }
  .header .grid .pre_title {
    font-size: 13px;
    letter-spacing: 2px;
  }
  .header .mega_menu .btn {
    max-width: 410px;
    flex: 410px;
    min-height: 55px;
    font-size: 13px;
    letter-spacing: 3.9px;
  }
}

@media screen and (max-width: 1279px) {
  .header .mega_menu-list .mega_menu-item {
    margin-bottom: 4px;
  }
  .header .mega_menu-link {
    font-size: 12px;
  }
  .header .mega_menu-list .mega_menu-heading {
    font-size: 12px;
    margin-bottom: 8px;
  }
  .header .mega_menu-inner-wrap:last-child {
    bottom: -40px;
  }
  .header .mega_menu-product-item {
    min-height: 290px;
  }
  .header .mega_menu-product-description {
    font-size: 10px;;
  }
  .header .grid .title {
    font-size: 13px;
    margin: 8px 0 4px;
  }
  .header .grid {
    grid-gap: 20px;
  }
  .header .mega_menu .btn {
    max-width: 260px;
    flex: 260px;
    min-height: 44px;
    padding: 0 15px;
    font-size: 13px;
  }
  .header .grid .text {
    font-size: 9px;
    letter-spacing: 0.1px;
  }
}
@media screen and (max-width: 990px) {
  .header .header__icons {
    max-width: 300px;
    flex: 300px;
  }
  .header #cart-icon-bubble {
    max-width: 50px;
    flex: 50px;
    padding: 0 15px;
  }
  .header .menu-utility-link {
    padding: 0 15px;
  }
  .header .header__heading {
    max-width: 200px;
  }
  .header header-drawer {
    max-width: 300px;
    flex: 300px;
  }
  #menu-drawer .menu-drawer__navigation {
    position: static;
  }
  #menu-drawer .menu-drawer__navigation::after {
    content: '';
    max-width: 200px;
    height: 2px;
    background-color: var(--color-dim-black);
    display: block;
    width: 100%;
    position: relative;
    left: 30px;
    bottom: -20px;
  }
}
@media screen and (max-width: 767px) {
  #menu-drawer {
    width: 100%;
  }
  .header__icons .header__search {
    display: none;
  }
  .header .menu-utility-link {
    display: none;
  }
  .header .header__heading {
    max-width: 218px;
  }
  .header header-drawer {
    max-width: 48px;
    flex: 48px;
  }
  #menu-drawer .menu-drawer__navigation::after {
    left: 20px;
  }
  #menu-drawer .menu-drawer-footer {
    padding: 0 20px;
  }
  .header .header__icons {
    max-width: 36px;
    flex: 36px;
  }
  #menu-drawer .menu-drawer__utility-links {
    display: none;
  }
  #menu-drawer .menu-drawer__navigation-container {
    overflow: unset;
    display: unset;
  }
  #menu-drawer .list-menu__item {
    padding: 10px 20px;
  }
  #menu-drawer .search-form-wrap .field {
    padding: 0 20px;
  }
  #menu-drawer .menu-drawer-slide {
    left: 20px;
  }
  #menu-drawer .menu-drawer__close-button {
    padding: 1.2rem 15px;
  }
  #menu-drawer .menu-drawer__inner-submenu .link-wrap {
    padding: 30px 20px;
  }
}
