.header-wrapper {
  background-color: var(--color-Xlight-wheat);
  transition: all 0.3s ease-in-out;
}
.header {
  font-family: var(--font-heading-family);
}

.header .cart-count_bubble {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: var(--color-normal-black);
}
#shopify-section-header {
  transition: all 0.3s ease-in-out;
}
.shopify-section-header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}
.template-collection .header-wrapper {
  position: fixed;
  background-color: transparent;
  width: 100%;
  border: 0;
  transition: all 0.3s ease-in-out;
}
/* specific css for header in fabric and custom content page start */
.custom-page .header-wrapper {
  position: absolute;
  width: 100%;
  background-color: transparent;
  border-bottom: 0;
}
.custom-page .header .header__menu-item,
.custom-page .header .menu-utility-link,
.custom-page .header .cart-count_bubble {
  color: var(--color-Xlight-wheat);
  transition: all 0.2s ease-in-out;
}
.custom-page .header #cart-icon-bubble path,
.custom-page .header .header__heading svg,
.custom-page .header .header__icon--menu path {
  fill: var(--color-Xlight-wheat);
  transition: all 0.2s ease-in-out;
}
.custom-page .custom-page-header .header__menu-item,
.custom-page .custom-page-header .menu-utility-link,
.custom-page .custom-page-header .cart-count_bubble {
  color: var(--color-normal-black);
}
.custom-page .custom-page-header #cart-icon-bubble path,
.custom-page .custom-page-header .header__heading svg,
.custom-page .custom-page-header .header__icon--menu path {
  fill: var(--color-normal-black);
}
/* specific css for header in fabric and custom content page end */

/* specific css for header in fit guide page css start */
.fit-guide-page .header .header__menu-item,
.fit-guide-page .header .menu-utility-link {
  color: var(--color-normal-black);
}
.fit-guide-page .header #cart-icon-bubble path,
.fit-guide-page .header .header__heading svg,
.fit-guide-page .header .header__icon--menu path {
  fill: var(--color-normal-black);
}
/* specific css for header in fit guide page css end */

.header .header__inline-menu {
  max-width: 45rem;
  flex: 45rem;
  min-width: unset;
}
.header .header__menu-item {
  font-size: 1.6rem;
  text-transform: lowercase;
  color: var(--color-normal-black);
  letter-spacing: 0.48rem;
}
.header .menu-utility-link {
  padding: 0 2.1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
  text-transform: lowercase;
  color: var(--color-dim-black);
  letter-spacing: 0.39rem;
}
.header .header__icons {
  width: 100%;
  justify-content: flex-end;
  max-width: 45rem;
  flex: 45rem;
}
.header .header__search .header__icon {
  width: auto;
  text-decoration: none;
}
.header .header__menu-item:hover span {
  text-decoration: none;
}
.header .header__heading {
  max-width: 21.8rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.header .header__heading svg {
  height: 100%;
  width: 100%;
}
.header .header__heading .header__heading-link {
  width: 100%;
}
.header #cart-icon-bubble {
  max-width: 6.5rem;
  flex: 6.5rem;
  padding: 0 2.1rem;
  display: block;
  text-decoration: none;
}
.header #cart-icon-bubble svg {
  width: 100%;
  height: 100%;
}
.header .mega_menu {
  display: none;
  background-color: var(--color-Xlight-wheat);
  width: 100%;
  left: 0;
  border: none;
  position: absolute;
  padding: 3rem 0 9rem;
}
.header .mega_menu .page-width {
  padding: 0 5rem;
}
.header .about-mega-menu {
  display: none;
  background-color: var(--color-Xlight-wheat);
  width: 100%;
  left: 0;
  border: none;
  position: absolute;
  padding: 3rem 0 3rem;
}
.header .list-menu li:hover .mega_menu {
  display: block;
}
.header .mega_menu-list {
  padding: 0;
}
.header .header-submenu {
  padding: 1rem 0 1.5rem;
  background-color: var(--color-Xlight-wheat);
  position: absolute;
  left: 0;
  min-width: 18rem;
  width: 100%;
  display: none;
}
.header .mega_menu-list .mega_menu-item {
  list-style: none;
  line-height: 1.2;
  margin-bottom: 0.6rem;
}
header .sub-menu-item,
header .child-menu-item,
.header .grandchild-item {
  list-style: none;
  line-height: 1.2;
}
.header .mega_menu-list .mega_menu-heading {
  font-size: 1.4rem;
  font-family: var(--font-din);
  letter-spacing: 0.26rem;
  margin-bottom: 1rem;
  color: var(--color-dim-black);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
}
.header .mega_menu-link {
  font-size: 1.3rem;
  color: var(--color-dim-black);
  text-decoration: none;
  display: inline-block;
  line-height: 1;
}
.header .child-menu-heading {
  font-size: 1.8rem;
  letter-spacing: 0.26rem;
  margin-bottom: 1.2rem;
  color: var(--color-dim-black);
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
  display: block;
}
.header .child-menu-list, 
.header .grandchild-menu-list {
  padding: 0;
}
.header .child-menu-list {
  position: absolute;
  left: 0;
  background-color: var(--color-Xlight-wheat);
  width: 100%;
  display: none;
  padding: 3rem 0 5rem;
}
.header .grandchild-item {
  margin-bottom: 1.2rem;
}
.header .child-menu-list .child-menu-item {
  max-width: 18%;
  flex: 18%;
  padding: 0 1rem;
}
.header .items-wrap {
  display: flex;
  margin: 0 -1rem;
}
.header .grandchild-item:last-child {
  margin-bottom: 0;
}
header .sub-menu-link {
  font-size: 1.6rem;
  color: var(--color-dim-black);
  text-decoration: none;
  display: block;
  line-height: 1;
  padding: 0.8rem 1.2rem;
}
.header .grandchild-link {
  font-size: 1.6rem;
  color: var(--color-dim-black);
  text-decoration: none;
  display: block;
  line-height: 1;
}
.header .mega_menu-link:last-child {
  margin-bottom: 0;
}
.header .mega_menu-list-outer-wrap {
  display: flex;
  max-width: 30%;
  flex: 30%;
  position: relative;
}
.header .mega_menu-inner-wrap {
  width: 50%;
}
.header .mega_menu-inner-wrap:last-child {
  position: absolute;
  right: 0;
  bottom: -5rem;
}
.header .mega_menu-row {
  display: flex;
  align-items: center;
}
.header .mega_menu-product-wrap {
  display: flex;
  flex: 1;
}
.header .mega_menu-product-item {
  max-width: 33.33%;
  flex: 33.33%;
  min-height: 35rem;
  height: 0.1rem;
  display: none;
}
.header .women-mega-menu .women-product-item,
.header .men-mega-menu .men-product-item {
  display: block;
}
.header .mega_menu-product-item-inner-wrap {
  height: 100%;
  text-decoration: none;
}
.header .mega_menu-product-img-wrap {
  height: 100%;
}
.header .mega_menu-product-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.header .mega_menu-product-title {
  margin-top: 0;
  font-size: 1.2rem;
  color: var(--color-normal-black);
  margin-bottom: 0.2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}
.header .mega_menu-product-description {
  margin: 0;
  font-size: 1.1rem;
  color: var(--color-normal-black);
  letter-spacing: 0.12rem;
  font-family: var(--font-gothic);
}
.header .product-info {
  padding: 0 1rem;
  margin-top: 1rem;
}
.header .about-mega-menu .page-width {
  padding: 0 7.3rem;
}
.header .grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2vw;
  margin-bottom: 3rem;
}
.header .grid-item {
  text-decoration: none;
}
.header .grid .image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.header .grid .pre_title {
  margin: 0.3rem 0 0;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  color: #7C7C7C;
  font-family: var(--font-arno-display);
}
.header .grid .title {
  font-size: 1.6rem;
  color: var(--color-dim-black);
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin: 1.2rem 0 0.6rem;
}
.header .grid .text {
  font-size: 1rem;
  font-family: var(--font-gothic);
  margin: 0;
  line-height: 1.3;
  color: var(--color-normal-black);
  letter-spacing: 0.08rem;
}
.header .mega-menu .btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .mega-menu .btn {
  max-width: 31rem;
  flex: 31rem;
  min-height: 5.2rem;
  border: 0.1rem solid var(--color-normal-black);
  padding: 0 1.5rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: var(--font-din);
  color: var(--color-normal-black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
#menu-drawer {
  background-color: var(--color-Xlight-wheat);
}
#menu-drawer .menu-drawer__submenu {
  background-color: var(--color-Xlight-wheat);
}
#menu-drawer .list-menu__item {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  color: var(--color-normal-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
#menu-drawer .menu-drawer__utility-links {
  background-color: unset;
}
#menu-drawer .menu-drawer__close-button {
  color: var(--color-dark-grey);
  font-family: var(--font-din);
  font-size: 1.4rem;
  padding: 1.2rem 2.5rem;
  text-transform: uppercase;
}
#menu-drawer .list-menu__item svg {
  fill: var(--color-dark-grey);
  max-width: 1.6rem;
}
#menu-drawer .menu-drawer__close-button svg {
  max-width: 1.6rem;
  margin-right: 1.2rem;
  fill: var(--color-dark-grey);
}
#menu-drawer .grand-child-list-wrap {
  position: unset;
  transform: unset;
  visibility: visible;
  display: none;
  padding: 1.5rem 0;
}
#menu-drawer .grand-child-link {
  font-size: 2.4rem;
  color: var(--color-dim-black);
  padding: 0.5rem 2.5rem;
  font-family: var(--font-arno-display);
}
#menu-drawer .child-menu-item svg {
  min-height: 1.6rem;
}
#menu-drawer .child-menu-item g {
  fill: var(--color-dark-grey);
}
#menu-drawer .menu-drawer__submenu .open-menu-item {
  display: none;
}
#menu-drawer .grand-child-list {
  margin-left: 5rem;
  border-left: 0.1rem solid var(--color-dim-black);
}
#menu-drawer .grand-child-list-wrap.active {
  display: block;
}
#menu-drawer .child-menu-item.active .close-menu-item {
  display: none;
}
#menu-drawer .child-menu-item.active .open-menu-item {
  display: block;
}
#menu-drawer .text {
  font-size: 2.4rem;
  font-family: var(--font-arno-display);
  color: var(--color-dim-black);
  letter-spacing: 0.4rem;
  line-height: 1.5;
  max-width: 20rem;
  margin-top: 0;
}
#menu-drawer .menu-drawer-footer {
  padding: 0 3rem;
  position: relative;
}
#menu-drawer .menu-drawer__inner-container .link {
  display: flex;
  align-items: center;
  text-decoration: none;
  letter-spacing: 0.2rem;
}
#menu-drawer .menu-drawer__inner-container .link-text {
  color: var(--color-blue);
  font-family: var(--font-din);
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-right: 0.5rem;
  font-weight: bold;
}
#menu-drawer .link-wrap svg {
  width: 2rem;
  min-height: 2rem;
  height: 100%;
}
#menu-drawer .link-wrap g {
  fill: var(--color-blue);
}
#menu-drawer .menu-drawer-slide {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 3.5rem -1rem 0;
  position: absolute;
  width: 100%;
  left: 3rem;
  padding-bottom: 10rem;
  top: 100%;
}
#menu-drawer .slide-item {
  min-width: 20.6rem;
  max-width: 20.6rem;
  flex: 20.6rem;
  text-decoration: none;
  padding: 0 1rem;
}
#menu-drawer .slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  min-height: 13.6rem;
}
#menu-drawer .slide-title {
  color: var(--color-normal-black);
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  display: block;
  line-height: 1;
}
#menu-drawer .menu-drawer__menu li {
  margin-bottom: 0;
}
#menu-drawer .search-form-wrap .search__input {
  box-shadow: unset;
  font-family: var(--font-din);
  border: 0;
  padding: 1rem 2rem;
  color: var(--color-dim-black);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.18rem;
  font-weight: 600;
}
#menu-drawer .search-form-wrap .field {
  padding: 0 3rem;
  background-color: var(--color-light-wheat);
  align-items: center;
  min-height: 5.4rem;
}
#menu-drawer .search-form-wrap .search__button {
  position: unset;
  justify-content: flex-start;
  width: 2.4rem;
}
#menu-drawer .menu-drawer__navigation {
  padding: 2.6rem 0 5.6rem;
}
#menu-drawer .search-form-wrap .field__label {
  font-size: 1.4rem;
  left: 5.5rem;
  text-transform: uppercase;
  color: var(--color-dim-black);
  font-weight: 600;
  top: 1.8rem;
}
#menu-drawer .search__input:focus ~ .field__label {
  font-size: 1rem;
  top: 0.3em;
  letter-spacing: 0.04rem;
}
#menu-drawer .search-form-wrap svg {
  height: 1.5rem;
  width: 1.5rem;
}
#menu-drawer .menu-drawer__navigation-container {
  display: unset;
}
#menu-drawer .menu-drawer__inner-submenu .link-wrap {
  padding: 3rem;
}
@media screen and (min-width: 1400px) {
  .header .page-width, header.page-width {
    max-width: 200rem;
    padding: 2rem 8rem;
  }
  .header .mega_menu-product-wrap {
    flex: 68%;
    max-width: 68%;
    justify-content: flex-end;
  }
  .header .mega_menu-row {
    justify-content: flex-end;
    align-items: flex-start;
  }
  .header .mega_menu-list-outer-wrap {
    max-width: 25%;
    flex: 25%;
    margin-top: 9rem;
  }
  .header .mega_menu-product-item {
    min-height: 48rem;
    max-width: 28%;
    flex: 28%;
  }
  .header .mega_menu-list .mega_menu-item {
    margin-bottom: 0.8rem;
  }
  .header .mega_menu-inner-wrap:last-child {
    bottom: -6.5rem;
  }
  .header .mega_menu-list .mega_menu-heading {
    font-size: 1.8rem;
    letter-spacing: 0.35rem;
    margin-bottom: 1.2rem;
  }
  .header .mega_menu-link {
    font-size: 1.5rem;
    letter-spacing: 0.35rem;
  }
  .header .mega_menu-product-title {
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
  }
  .header .mega_menu-product-description {
    font-size: 1.2rem;
    letter-spacing: 0.12rem;
  }
  .header .grid .text {
    font-size: 1.3rem;
    letter-spacing: 0.13rem;
  }
  .header .grid .title {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }
  .header .grid .pre_title {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
  }
  .header .mega-menu .btn {
    max-width: 41rem;
    flex: 41rem;
    min-height: 5.5rem;
    font-size: 1.3rem;
    letter-spacing: 0.39rem;
  }
}

@media screen and (max-width: 1279px) {
  .header .mega_menu-list .mega_menu-item {
    margin-bottom: 0.4rem;
  }
  .header .mega_menu-link {
    font-size: 1.2rem;
  }
  .header .mega_menu-list .mega_menu-heading {
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  .header .mega_menu-inner-wrap:last-child {
    bottom: -4rem;
  }
  .header .mega_menu-product-item {
    min-height: 29rem;
  }
  .header .mega_menu-product-description {
    font-size: 1rem;
  }
  .header .grid .title {
    font-size: 1.3rem;
    margin: 0.8rem 0 0.4rem;
  }
  .header .grid {
    grid-gap: 2rem;
  }
  .header .mega-menu .btn {
    max-width: 26rem;
    flex: 26rem;
    min-height: 4.4rem;
    padding: 0 1.5rem;
    font-size: 1.3rem;
  }
  .header .grid .text {
    font-size: 0.9rem;
    letter-spacing: 0.01rem;
  }
}
@media screen and (max-width: 990px) {
  .header .header__icons {
    max-width: 30rem;
    flex: 30rem;
  }
  .header #cart-icon-bubble {
    max-width: 5rem;
    flex: 5rem;
    padding: 0 1.5rem;
  }
  .header .menu-utility-link {
    padding: 0 1.5rem;
  }
  .header .header__heading {
    max-width: 22rem;
  }
  .header header-drawer {
    max-width: 30rem;
    flex: 30rem;
  }
  #menu-drawer .menu-drawer__navigation {
    position: static;
  }
  #menu-drawer .menu-drawer__navigation::after {
    content: '';
    max-width: 20rem;
    height: 0.2rem;
    background-color: var(--color-dim-black);
    display: block;
    width: 100%;
    position: relative;
    left: 3rem;
    bottom: -2rem;
  }
  #menu-drawer .menu-drawer__utility-links {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  #menu-drawer {
    width: 100%;
  }
  .header .cart-count_bubble {
    font-size: 1rem;
    top: 55%;
  }
  .header__icons .header__search {
    display: none;
  }
  .header .menu-utility-link {
    display: none;
  }
  .header .header__heading {
    max-width: 21.8rem;
  }
  .header header-drawer {
    max-width: 4.8rem;
    flex: 4.8rem;
  }
  #menu-drawer .menu-drawer__navigation::after {
    left: 2rem;
  }
  #menu-drawer .menu-drawer-footer {
    padding: 0 2rem;
  }
  .header .header__icons {
    max-width: 3.6rem;
    flex: 3.6rem;
  }
  #menu-drawer .menu-drawer__navigation-container {
    overflow: unset;
    display: unset;
  }
  #menu-drawer .list-menu__item {
    padding: 1rem 2rem;
  }
  #menu-drawer .search-form-wrap .field {
    padding: 0 2rem;
  }
  #menu-drawer .menu-drawer-slide {
    left: 2rem;
  }
  #menu-drawer .menu-drawer__close-button {
    padding: 1.2rem 1.5rem;
  }
  #menu-drawer .menu-drawer__inner-submenu .link-wrap {
    padding: 3rem 2rem;
  }
  .custom-page .header #cart-icon-bubble path,
  .custom-page .header .header__heading svg,
  .custom-page .header .header__icon--menu path {
    fill: var(--color-normal-black);
  }
  .custom-content .header-wrapper {
    position: relative;
    background-color: var( --color-Xlight-wheat) !important;
  }
  .custom-page .header .cart-count_bubble {
    color: var(--color-normal-black);
  }
}
