.image-with-text {
  padding: 2.5em 0;
  font-size: 1.2vw
}
.image-with-text .small-image {
  max-width: 33%;
}
.image-with-text .medium-image {
  max-width: 50%;
}
.image-with-text .large-image {
  max-width: 66%;
}
.image-with-text .extra-large-image {
  max-width: 75%;
}
.image-with-text .image {
  margin-bottom: 5.6rem;
  margin-right: auto;
  margin-left:  auto;
}
.image-with-text .img-link {
  display: block;
  width: 100%;
  height: 100%;
}
.image-with-text .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.image-with-text .pre-title {
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.15rem;
  margin-bottom: 1rem;
  font-family: var(--font-gothic)
}
.image-with-text .title {
  font-size: 2.8rem;
  font-family: var(--font-arno-display);
  margin-top: 0;
  line-height: 2.2rem;
  margin-bottom: 1.6rem;
  letter-spacing: 0.28rem;
  color: var(--color-normal-black);
}
.image-with-text .text {
  font-size: 2rem;
  font-family: var(--font-arno-display);
  margin-top: 0;
  margin-bottom: 2.3rem;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  color: var(--color-dim-black);
}
.image-with-text .content-wrap .link {
  color: var(--color-blue);
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.14rem;
  display: block;
  font-family: var(--font-din);
}
.image-with-text .content-wrap {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}
.image-with-text .image .mob-image {
  display: none;
}
.image-with-text .placeholder-svg {
  width: 100%;
  height: 100%;
}
/* responsive start */
@media screen and (min-width: 140rem) {
  .image-with-text {
    font-size: 2rem;
  }
}
@media screen and (max-width: 127.9rem) {
  .image-with-text {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 99rem) {
  .image-with-text {
    font-size: 1.6vw;
  }
}
@media(max-width: 76.7rem){
  .image-with-text .container {
    padding: 0 2rem;
  }
  .image-with-text .image {
    margin-bottom: 3rem;
    max-width: 38rem;
  }
  .image-with-text .content-wrap {
    max-width: 38.8rem;
  }
  .image-with-text .text {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 0.4rem;
  }
  .image-with-text {
    padding: 7rem 0;
  }
  .image-with-text .pre-title {
    font-size: 1.2rem;
  }
  .image-with-text .title {
    font-size: 2.4rem;
  }
  .image-with-text .content-wrap .link {
    font-size: 1.4rem;
  }
  .image-with-text .image .desk-image {
    display: none;
  }
  .image-with-text .image .mob-image {
    display: block;
  }
}