.image-with-text {
  padding: 2.75em 0;
  font-size: 1.2vw
}
.image-with-text .small-image {
  max-width: 33%;
}
.image-with-text .medium-image {
  max-width: 50%;
}
.image-with-text .large-image {
  max-width: 66%;
}
.image-with-text .extra-large-image {
  max-width: 75%;
}
.image-with-text .image {
  margin-bottom: 2.5em;
  margin-right: auto;
  margin-left:  auto;
}
.image-with-text .img-link {
  display: block;
  width: 100%;
  height: 100%;
}
.image-with-text .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.image-with-text .pre-title {
  margin-top: 0;
  font-size: 0.6em;
  line-height: 1.2;
  letter-spacing: 0.1em;
  margin-bottom: 0.3em;
  font-family: var(--font-gothic)
}
.image-with-text .title {
  font-size: 1.4em;
  font-family: var(--font-arno-display);
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 0;
  letter-spacing: 0.1em;
  color: var(--color-normal-black);
}
.image-with-text .text {
  font-size: 0.95em;
  font-family: var(--font-arno-display);
  margin-top: 0;
  margin-bottom: 0.4em;
  line-height: 1.4;
  letter-spacing: 0.05em;
  color: var(--color-dim-black);
}
.image-with-text .content-wrap .link {
  color: var(--color-blue);
  font-size: 0.7em;
  font-weight: 500;
  line-height: 1.3;
  display: block;
  font-family: var(--font-din);
}
.image-with-text .content-wrap {
  max-width: 21.5em;
  margin: 0 auto;
  text-align: center;
}
.image-with-text .image .mob-image {
  display: none;
}
.image-with-text .placeholder-svg {
  width: 100%;
  height: 100%;
}
/* responsive start */
@media screen and (min-width: 1400px) {
  .image-with-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 1279px) {
  .image-with-text {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 990px) {
  .image-with-text {
    font-size: 1.6vw;
  }
}
@media(max-width: 767px){
  .image-with-text .container {
    padding: 0 20px;
  }
  .image-with-text .image {
    margin-bottom: 30px;
    max-width: 380px;
  }
  .image-with-text .content-wrap {
    max-width: 388px;
  }
  .image-with-text .text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 4px;
  }
  .image-with-text {
    padding: 70px 0;
  }
  .image-with-text .pre-title {
    font-size: 12px;
  }
  .image-with-text .title {
    font-size: 24px;
  }
  .image-with-text .content-wrap .link {
    font-size: 14px;
  }
  .image-with-text .image .desk-image {
    display: none;
  }
  .image-with-text .image .mob-image {
    display: block;
  }
}