.main-collection {
  margin-top: -25%;
  margin-bottom: 40px;
  transition: all 0.3s ease-in-out;
}
.main-collection .wrapper {
  background-color: var(--color-Xlight-wheat);
  padding: 75px 60px 120px;
}
.main-collection .collection-header {
  text-align: center;
}
.main-collection .main-title {
  margin: 0;
  font-family: var(--font-arno-display);
  font-size: 28px;
  line-height: 1;
  color: var(--color-normal-black);
  letter-spacing: 1.8px;
}
.main-collection .total-items,
.main-collection .main-text {
  font-size: 13px;
  font-family: var(--font-gothic);
  color: var(--color-normal-black);
}
.main-collection .collection-filter {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
.main-collection .filter {
  font-size: 15px;
  color: var(--color-dim-black);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.main-collection .collection-grid {
  display: grid;
  grid-row-gap: 70px;
  grid-column-gap: 20px;
}
.content-rich-collection {
  margin-bottom: 180px;
}
.content-rich-collection .collection-header {
  margin-bottom: 50px;
}
.main-collection .content-rich-grid {
  display: grid;
  grid-row-gap: 70px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.main-collection .fit-grid,
.main-collection .fabric-grid {
  display: grid;
  grid-row-gap: 70px;
  grid-column-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}
.main-collection .collection-grid,
.main-collection .swiper-wrapper {
  grid-template-columns: repeat(var(--product-per-row), 1fr);
}
.main-collection .product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.content-rich-collection .text-wrap {
  display: none;
}
.content-rich-collection .aw-company {
  margin-bottom: 80px;
}
.content-rich-collection .aw-company .img-wrap {
  max-width: 977px;
  margin: 0 auto 58px;
}
.content-rich-collection .content-wrap {
  max-width: 575px;
  margin: 0 auto;
  text-align: center;
}
.content-rich-collection .placeholder-svg {
  width: 100%;
  height: 100%;
}
.content-rich-collection .content-rich-content {
  margin-bottom: 117px;
}
.content-rich-collection .grid-item .info-link {
  display: none;
}
.content-rich-collection .content-rich-content .content-rich-text {
  margin-bottom: 75px;
}
.content-rich-collection .product-gallery {
  margin-bottom: 130px;
}
.content-rich-collection .content-rich-content .btn-text {
  font-family: var(--font-din);
  font-size: 14px;
  letter-spacing: 4.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-normal-black);
  padding: 0 10px;
  max-width: 380px;
  height: 55px;
  color: var(--color-normal-black);
  margin: 0 auto;
  text-decoration: none;
}
.content-rich-collection .content-rich-title {
  font-family: var(--font-arno-display);
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: 2.8px;
  line-height: 1.3;
  color: var(--color-normal-black);
}
.content-rich-collection .content-rich-text {
  font-family: var(--font-arno-display);
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 1.3;
  color: var(--color-dim-black);
  margin: 0;
}
.content-rich-collection .image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.main-collection .product-link {
  text-decoration: none;
  height: 100%;
  display: block;
}
.main-collection .product-details {
  margin-top: 10px;
  padding: 0 10px;
  position: relative;
}
.main-collection .product-name {
  color: var(--color-normal-black);
  margin: 0;
}
.main-collection .large-item .product-name {
  font-size: 16px;
  letter-spacing: 2.4px;
  margin-bottom: 2px;
}
.main-collection .large-item .price-item {
  font-size: 14px;
  letter-spacing: 3.15px;
}
.main-collection .price-item {
  color: var(--color-normal-black);
}
.main-collection .product-name {
  line-height: 1.3;
}
.main-collection .product-description {
  font-size: 13px;
  letter-spacing: 1.63px;
  color: var(--color-normal-black);
  font-family: var(--font-gothic);
  display: block;
  margin: 4px 0;
  line-height: 1.3;
}
.main-collection .price-item {
  display: block;
  font-family: var(--font-din);
}
.main-collection .price__sale .price-item--sale {
  color: var(--color-dim-gold);
}
.main-collection .price__sale .price-item--regular {
  color: var(--color-dark-grey);
}
.main-collection .medium-item .product-details {
  margin-top: 12px;
  padding: 0 6px;
  position: relative;
}
.main-collection .medium-item .product-name {
  font-size: 15px;
  color: var(--color-normal-black);
  margin: 0;
  letter-spacing: 2.25px;
}
.main-collection .medium-item .price-item {
  font-size: 14px;
  letter-spacing: 3.14px;
}
.main-collection .grid-1,
.main-collection .grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}
.main-collection .product-grid {
  margin-bottom: 70px;
}
.main-collection .grid-1 .grid-item:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.main-collection .product-image-wrap {
  height: calc(100% - 73px);
}
.main-collection .grid-1 .grid-item:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 1;
}
.main-collection .grid-1 .grid-item:last-child {
  grid-row-start: 2;
  grid-row-end: 2;
}
.main-collection .featured-gallery .price-item {
  font-size: 13px;
  letter-spacing: 2.9px;
  font-family: var(--font-din);
}
.main-collection .featured-gallery .product-name {
  font-size: 15px;
  letter-spacing: 2.25px;
  margin-bottom: 2px;
}
.main-collection .grid-2,
.main-collection .grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.main-collection .review-wrap {
  margin: 90px 0;
}
.main-collection .customer-name {
  font-size: 14px;
  font-family: var(--font-gothic);
  color: var(--color-dark-grey);
  letter-spacing: 4.2px;
  text-transform: uppercase;
}
.main-collection .review {
  font-size: 28px;
  font-family: var(--font-arno-display);
  color: var(--color-normal-black);
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 2.8px;
}
.main-collection .customer-review {
  text-align: center;
}
.main-collection .grid-3,
.main-collection .grid-6  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 70px;
}
.main-collection .grid-4 .grid-item:first-child {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
}
.main-collection .grid-4 .grid-item:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
}
.main-collection .grid-4 .grid-item:last-child {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}
.main-collection .grid-6 {
  margin-bottom: 0;
}
.main-collection .fit-grid-item .fit-guide-link,
.main-collection .fabric-grid-item .fabric-guide-link {
  display: flex;
  justify-content: center;
  height: calc(100% - 73px);
  align-items: center;
}
.main-collection .fit-guide-img,
.main-collection .fabric-guide-img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}
.main-collection .bottom-space {
  margin-bottom: 70px;
}
.main-collection .fit-guide .fit-guide-link,
.main-collection .fabric-guide .fabric-guide-link {
  height: calc(100% - 73px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-collection .collection-grid.product-swiper {
  display: unset;
}
.main-collection .collection-alternate .product-image-wrap.product-swiper {
  display: none
}

@media screen and (min-width: 1400px) {
  .main-collection .collection-grid {
    grid-column-gap: 35px;
  }
  .main-collection .review-wrap {
    margin: 120px 0;
  }
  .main-collection .wrapper {
    padding: 75px 80px 120px;
  }
  .main-collection .content-rich-grid {
    grid-column-gap: 46px;
  }
  .content-rich-collection .content-rich-content .content-rich-text {
    margin-bottom: 85px;
  }
}
@media screen and (max-width: 1600px) {
  .content-rich-collection .aw-company .img-wrap {
    max-width: 850px;
  }
}
@media screen and (max-width: 1366px) {
  .main-collection .featured-gallery .product-details {
    padding: 0 8px;
  }
  .content-rich-collection {
    margin-bottom: 140px;
  }
}
@media screen and (max-width: 1279px) {
  .main-collection .wrapper {
    padding: 60px 30px 100px;
  }
  .main-collection .collection-grid {
    display: grid;
    grid-row-gap: 48px;
    grid-column-gap: 12px;
  }
  .main-collection .review-wrap {
    margin: 90px 0;
  }
  .main-collection .bottom-space {
    margin-bottom: 48px;
  }
  .main-collection .featured-gallery .product-details {
    padding: 0;
  }
  .main-collection .grid-3 .product-details,
  .main-collection .grid-6 .product-details {
    padding: 0;
  }
  .main-collection .swiper-wrapper {
    grid-column-gap: 12px;
    grid-row-gap: 48px
  }
  .content-rich-collection {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 990px) {
  .main-collection {
    margin-bottom: 40px;
  }
  .main-collection .collection-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .main-collection .large-item .product-name {
    font-size: 15px;
    letter-spacing: 2px;
  }
  .main-collection .large-item .price-item {
    font-size: 13px;
    letter-spacing: 3px;
  }
  .main-collection .content-rich-grid {
    grid-column-gap: 18px;
  }
  .main-collection .grid-3,
  .main-collection .grid-6 {
    grid-template-columns: 1fr 1fr;
  }
  .main-collection .grid-1,
  .main-collection .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 48px;
    grid-template-rows: unset;
  }
  .main-collection .grid-1 .grid-item:first-child {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .main-collection .grid-1 .grid-item:nth-child(2) {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .main-collection .grid-1 .grid-item:last-child {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .main-collection .grid-4 .grid-item:nth-child(2) {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .main-collection .grid-4 .grid-item:first-child {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .main-collection .grid-4 .grid-item:last-child {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .main-collection .swiper-wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (min-width: 768px) {
  .main-collection .swiper-wrapper {
    position: unset;
    width: unset;
    height: unset;
    z-index: unset;
    display: grid;
    transition-property: unset;
    box-sizing: unset;
    transform: unset;
    grid-row-gap: 70px;
    grid-column-gap: 20px;
  }
}
@media screen and (max-width: 767px) {
  .main-collection .collection-alternate .collection-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .main-collection {
    margin: 0;
    position: relative;
  }
  .main-collection::after {
    content: '';
    background-color: var(--color-dark-grey);
    max-width: 232px;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    display: block;
    bottom: 68px;
  }
  .main-collection .wrapper {
    padding: 40px 10px 130px;
  }
  .main-collection .total-items,
  .main-collection .main-text {
    font-size: 12px;
  }
  .main-collection .collection-filter {
    display: none;
  }
  .main-collection .collection-header {
    margin-bottom: 30px;
  }
  .main-collection .fabric-guide-img,
  .main-collection .fit-guide-img {
    width: 100%;
    height: 100%;
  }
  .main-collection .fabric-guide-link,
  .main-collection .fit-guide-link {
    height: 100%;
  }
  .main-collection .collection-alternate .review-wrap {
    display: none;
  }
  .main-collection .collection-grid:first-child {
    margin-bottom: 48px;
  }
  .main-collection .product-description {
    font-size: 12px;
    letter-spacing: 1.25px;
  }
  .main-collection .review-wrap {
    margin: 70px 0;
  }
  .main-collection .review {
    font-size: 20px;
    line-height: 1.4;
  }
  .main-collection .customer-name {
    font-size: 12px;
  }
  .main-collection .customer-review {
    max-width: 230px;
    margin: 0 auto;
  }
  .main-collection .collection-denim .product-details {
    margin-top: 8px;
    padding: 0;
  }
  .main-collection .collection-denim .product-name {
    font-size: 14px;
    letter-spacing: 2px;
  }
  .main-collection .collection-denim .price dd {
    margin: 0 5px 0 0;
  }
  .main-collection .collection-denim .fit-guide,
  .main-collection .collection-denim .fabric-guide  {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: var(--color-white);
    padding: 30px 0;
  }
  .main-collection .fit-grid-item,
  .main-collection .fabric-grid-item {
    background-color: var(--color-white);
    padding: 30px 0;
  }
  .main-collection .fabric-guide .fabric-guide-link,
  .main-collection .fit-guide .fit-guide-link {
    height: 100%;
    width: 85%;
    margin: 0 auto;
  }
  .main-collection .medium-item .price-item {
    font-size: 13px;
  }
  .main-collection .fabric-grid-item .fabric-guide-link,
  .main-collection .fit-grid-item .fit-guide-link {
    height: 100%;
    width: 85%;
    margin: 0 auto;
  }
  .main-collection .collection-grid {
    grid-column-gap: 10px;
  }
  .main-collection .large-item .price-item {
    font-size: 12px;
    letter-spacing: 2.5px;
  }
  .main-collection .product-grid {
    margin-bottom: 50px;
    grid-row-gap: 50px;
  }
  .main-collection .featured-gallery .grid-2,
  .main-collection .featured-gallery .grid-6 {
    grid-row-gap: 50px;
  }
  .main-collection .grid-1,
  .main-collection .grid-2,
  .main-collection .grid-3,
  .main-collection .grid-4,
  .main-collection .grid-5,
  .main-collection .grid-6 {
    grid-column-gap: 10px;
  }
  .main-collection .product-gallery .featured-gallery .product-details {
    padding: 0 5px;
    margin-top: 8px;
  }
  .main-collection .featured-gallery .product-name {
    font-size: 14px;
    letter-spacing: 2px;
  }
  .main-collection .featured-gallery .price-item {
    font-size: 12px;
    letter-spacing: 2.5px;
  }
  .main-collection .swiper-wrapper {
    grid-template-columns: unset !important;
    grid-column-gap: unset;
    grid-row-gap: unset;
  }
  .main-collection .collection-alternate .product-image-wrap.product-swiper {
    display: block;
    overflow: hidden;
    position: relative;
  }
  .main-collection .collection-alternate .product-image-wrap {
    display: none;
  }
  .main-collection .collection-alternate .swiper-slide {
    height: auto;
    width: 100% !important;
    position: relative;
  }
  .main-collection .collection-alternate .swiper-pagination {
    position: absolute;
    bottom: 10px;
  }
  .main-collection .collection-alternate .swiper-pagination-bullet {
    background-color: var(--color-white);
    opacity: 1;
    margin: 0 2px;
    width: 6px;
    height: 6px;
  }
  .main-collection .collection-alternate .swiper-pagination-bullet-active {
    background-color: var(--color-dim-black);
    opacity: 1;
  }
  .main-collection .swiper-button-next:after {
    font-size: 25px;
    color: var(--color-white);
    opacity: 0.6;
  }
  .main-collection .swiper-button-next {
    top: 46%;
    display: block;
  }
  .content-rich-collection .aw-company .img-wrap {
    margin: 0 auto 35px;
    max-width: 90%;
  }
  .content-rich-collection .grid-item .info-link {
    display: block;
    font-size: 13px;
    font-family: var(--font-din);
    color: var(--color-normal-black);
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 10px;
    letter-spacing: 2.25px;
  }
  .content-rich-collection .aw-company .content-wrap {
    max-width: 328px;
  }
  .content-rich-collection .content-rich-content .content-wrap {
    max-width: 305px;
  }
  .content-rich-collection .content-rich-title {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 16px;
    line-height: 1;
  }
  .content-rich-collection .aw-company {
    margin-bottom: 35px;
  }
  .main-collection .content-rich-grid {
    grid-row-gap: 45px;
    grid-template-columns: repeat(1,1fr);
  }
  .content-rich-collection .product-gallery {
    margin-bottom: 60px;
  }
  .content-rich-collection .content-rich-content .content-rich-text {
    margin-bottom: 38px;
  }
  .content-rich-collection .content-rich-content .btn-text {
    font-size: 13px;
    letter-spacing: 3px;
  }
  .content-rich-collection .content-rich-content {
    margin-bottom: 90px;
  }
  .content-rich-collection .wrapper {
    padding: 40px 0 0;
  }
  .content-rich-collection .product-gallery {
    padding: 0 10px
  }
  .content-rich-collection:after {
    content: unset;
  }
  .content-rich-collection {
    margin-bottom: 56px;
  }
  .content-rich-collection .text-wrap {
    display: block;
    text-align: center;
    margin: 10px auto;
    max-width: 310px;
  }
  .content-rich-collection .grid-item .price {
    display: none;
  }
  .content-rich-collection .product-link {
    height: auto;
  }
}
