.main-collection {
  margin-top: -25%;
  margin-bottom: 4rem;
  transition: all 0.3s ease-in-out;
}
.main-collection .wrapper {
  background-color: var(--color-Xlight-wheat);
  padding: 7.5rem 6rem 12rem;
}
.main-collection .collection-header {
  text-align: center;
}
.main-collection .main-title {
  margin: 0;
  font-family: var(--font-arno-display);
  font-size: 2.8rem;
  line-height: 1;
  color: var(--color-normal-black);
  letter-spacing: 0.18rem;
}
.main-collection .total-items,
.main-collection .main-text {
  font-size: 1.3rem;
  font-family: var(--font-gothic);
  color: var(--color-normal-black);
}
.main-collection .collection-filter {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
}
.main-collection .filter {
  font-size: 1.5rem;
  color: var(--color-dim-black);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.main-collection .collection-grid {
  display: grid;
  grid-row-gap: 7rem;
  grid-column-gap: 2rem;
}
.content-rich-collection {
  margin-bottom: 18rem;
}
.content-rich-collection .collection-header {
  margin-bottom: 5rem;
}
.main-collection .content-rich-grid {
  display: grid;
  grid-row-gap: 7rem;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
.main-collection .fit-grid,
.main-collection .fabric-grid {
  display: grid;
  grid-row-gap: 7rem;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
}
.main-collection .collection-grid,
.main-collection .swiper-wrapper {
  grid-template-columns: repeat(var(--product-per-row), 1fr);
}
.main-collection .product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.content-rich-collection .text-wrap {
  display: none;
}
.content-rich-collection .aw-company {
  margin-bottom: 8rem;
}
.content-rich-collection .aw-company .img-wrap {
  max-width: 97.7rem;
  margin: 0 auto 5.8rem;
}
.content-rich-collection .content-wrap {
  max-width: 57.5rem;
  margin: 0 auto;
  text-align: center;
}
.content-rich-collection .placeholder-svg {
  width: 100%;
  height: 100%;
}
.content-rich-collection .content-rich-content {
  margin-bottom: 11.7rem;
}
.content-rich-collection .grid-item .info-link {
  display: none;
}
.content-rich-collection .content-rich-content .content-rich-text {
  margin-bottom: 7.5rem;
}
.content-rich-collection .product-gallery {
  margin-bottom: 13rem;
}
.content-rich-collection .content-rich-content .btn-text {
  font-family: var(--font-din);
  font-size: 1.4rem;
  letter-spacing: 0.42rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--color-normal-black);
  padding: 0 1rem;
  max-width: 38rem;
  height: 5.5rem;
  color: var(--color-normal-black);
  margin: 0 auto;
  text-decoration: none;
}
.content-rich-collection .content-rich-title {
  font-family: var(--font-arno-display);
  font-size: 2.8rem;
  margin-top: 0;
  margin-bottom: 2rem;
  letter-spacing: 0.28rem;
  line-height: 1.3;
  color: var(--color-normal-black);
}
.content-rich-collection .content-rich-text {
  font-family: var(--font-arno-display);
  font-size: 2rem;
  letter-spacing: 0.2rem;
  line-height: 1.3;
  color: var(--color-dim-black);
  margin: 0;
}
.content-rich-collection .image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.main-collection .product-link {
  text-decoration: none;
  height: 100%;
  display: block;
}
.main-collection .product-details {
  margin-top: 1rem;
  padding: 0 1rem;
  position: relative;
}
.main-collection .product-name {
  color: var(--color-normal-black);
  margin: 0;
}
.main-collection .large-item .product-name {
  font-size: 1.6rem;
  letter-spacing: 0.24rem;
  margin-bottom: 0.2rem;
}
.main-collection .large-item .price-item {
  font-size: 1.4rem;
  letter-spacing: 0.315rem;
}
.main-collection .price-item {
  color: var(--color-normal-black);
}
.main-collection .product-name {
  line-height: 1.3;
}
.main-collection .product-description {
  font-size: 1.3rem;
  letter-spacing: 0.163rem;
  color: var(--color-normal-black);
  font-family: var(--font-gothic);
  display: block;
  margin: 0.4rem 0;
  line-height: 1.3;
}
.main-collection .price-item {
  display: block;
  font-family: var(--font-din);
}
.main-collection .price__sale .price-item--sale {
  color: var(--color-dim-gold);
}
.main-collection .price__sale .price-item--regular {
  color: var(--color-dark-grey);
}
.main-collection .medium-item .product-details {
  margin-top: 1.2rem;
  padding: 0 0.6rem;
  position: relative;
}
.main-collection .medium-item .product-name {
  font-size: 1.5rem;
  color: var(--color-normal-black);
  margin: 0;
  letter-spacing: 0.225rem;
}
.main-collection .medium-item .price-item {
  font-size: 1.4rem;
  letter-spacing: 0.314rem;
}
.main-collection .grid-1,
.main-collection .grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;
}
.main-collection .product-grid {
  margin-bottom: 7rem;
}
.main-collection .grid-1 .grid-item:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.main-collection .product-image-wrap {
  height: calc(100% - 73px);
}
.main-collection .grid-1 .grid-item:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 1;
}
.main-collection .grid-1 .grid-item:last-child {
  grid-row-start: 2;
  grid-row-end: 2;
}
.main-collection .featured-gallery .price-item {
  font-size: 1.3rem;
  letter-spacing: 0.29rem;
  font-family: var(--font-din);
}
.main-collection .featured-gallery .product-name {
  font-size: 1.5rem;
  letter-spacing: 0.225rem;
  margin-bottom: 0.2rem;
}
.main-collection .grid-2,
.main-collection .grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}
.main-collection .review-wrap {
  margin: 9rem 0;
}
.main-collection .customer-name {
  font-size: 1.4rem;
  font-family: var(--font-gothic);
  color: var(--color-dark-grey);
  letter-spacing: 0.42rem;
  text-transform: uppercase;
}
.main-collection .review {
  font-size: 2.8rem;
  font-family: var(--font-arno-display);
  color: var(--color-normal-black);
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.28rem;
}
.main-collection .customer-review {
  text-align: center;
}
.main-collection .grid-3,
.main-collection .grid-6  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 7rem;
}
.main-collection .grid-4 .grid-item:first-child {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
}
.main-collection .grid-4 .grid-item:nth-child(2) {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
}
.main-collection .grid-4 .grid-item:last-child {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}
.main-collection .grid-6 {
  margin-bottom: 0;
}
.main-collection .fit-grid-item .fit-guide-link,
.main-collection .fabric-grid-item .fabric-guide-link {
  display: flex;
  justify-content: center;
  height: calc(100% - 73px);
  align-items: center;
}
.main-collection .fit-guide-img,
.main-collection .fabric-guide-img {
  width: 90%;
  height: 90%;
  object-fit: cover;
}
.main-collection .bottom-space {
  margin-bottom: 7rem;
}
.main-collection .fit-guide .fit-guide-link,
.main-collection .fabric-guide .fabric-guide-link {
  height: calc(100% - 73px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-collection .collection-grid.product-swiper {
  display: unset;
}
.main-collection .collection-alternate .product-image-wrap.product-swiper {
  display: none
}

@media screen and (min-width: 1400px) {
  .main-collection .collection-grid {
    grid-column-gap: 3.5rem;
  }
  .main-collection .review-wrap {
    margin: 12rem 0;
  }
  .main-collection .wrapper {
    padding: 7.5rem 8rem 12rem;
  }
  .main-collection .content-rich-grid {
    grid-column-gap: 4.6rem;
  }
  .content-rich-collection .content-rich-content .content-rich-text {
    margin-bottom: 8.5rem;
  }
}
@media screen and (max-width: 1600px) {
  .content-rich-collection .aw-company .img-wrap {
    max-width: 85rem;
  }
}
@media screen and (max-width: 1366px) {
  .main-collection .featured-gallery .product-details {
    padding: 0 0.8rem;
  }
  .content-rich-collection {
    margin-bottom: 14rem;
  }
}
@media screen and (max-width: 1279px) {
  .main-collection .wrapper {
    padding: 6rem 3rem 10rem;
  }
  .main-collection .collection-grid {
    display: grid;
    grid-row-gap: 4.8rem;
    grid-column-gap: 1.2rem;
  }
  .main-collection .review-wrap {
    margin: 9rem 0;
  }
  .main-collection .bottom-space {
    margin-bottom: 4.8rem;
  }
  .main-collection .featured-gallery .product-details {
    padding: 0;
  }
  .main-collection .grid-3 .product-details,
  .main-collection .grid-6 .product-details {
    padding: 0;
  }
  .main-collection .swiper-wrapper {
    grid-column-gap: 1.2rem;
    grid-row-gap: 4.8rem
  }
  .content-rich-collection {
    margin-bottom: 7rem;
  }
}
@media screen and (max-width: 990px) {
  .main-collection {
    margin-bottom: 4rem;
  }
  .main-collection .collection-grid {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .main-collection .large-item .product-name {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
  .main-collection .large-item .price-item {
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
  }
  .main-collection .content-rich-grid {
    grid-column-gap: 1.8rem;
  }
  .main-collection .grid-3,
  .main-collection .grid-6 {
    grid-template-columns: 1fr 1fr;
  }
  .main-collection .grid-1,
  .main-collection .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 4.8rem;
    grid-template-rows: unset;
  }
  .main-collection .grid-1 .grid-item:first-child {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .main-collection .grid-1 .grid-item:nth-child(2) {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .main-collection .grid-1 .grid-item:last-child {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .main-collection .grid-4 .grid-item:nth-child(2) {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: 3;
    grid-column-end: 5;
  }
  .main-collection .grid-4 .grid-item:first-child {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .main-collection .grid-4 .grid-item:last-child {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 5;
  }
  .main-collection .swiper-wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (min-width: 768px) {
  .main-collection .swiper-wrapper {
    position: unset;
    width: unset;
    height: unset;
    z-index: unset;
    display: grid;
    transition-property: unset;
    box-sizing: unset;
    transform: unset;
    grid-row-gap: 7rem;
    grid-column-gap: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .main-collection .collection-alternate .collection-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .main-collection {
    margin: 0;
    position: relative;
  }
  .main-collection::after {
    content: '';
    background-color: var(--color-dark-grey);
    max-width: 23.2rem;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 0.1rem;
    display: block;
    bottom: 6.8rem;
  }
  .main-collection .wrapper {
    padding: 4rem 1rem 13rem;
  }
  .main-collection .total-items,
  .main-collection .main-text {
    font-size: 1.2rem;
  }
  .main-collection .collection-filter {
    display: none;
  }
  .main-collection .collection-header {
    margin-bottom: 3rem;
  }
  .main-collection .fabric-guide-img,
  .main-collection .fit-guide-img {
    width: 100%;
    height: 100%;
  }
  .main-collection .fabric-guide-link,
  .main-collection .fit-guide-link {
    height: 100%;
  }
  .main-collection .collection-alternate .review-wrap {
    display: none;
  }
  .main-collection .collection-grid:first-child {
    margin-bottom: 4.8rem;
  }
  .main-collection .product-description {
    font-size: 1.2rem;
    letter-spacing: 0.125rem;
  }
  .main-collection .review-wrap {
    margin: 7rem 0;
  }
  .main-collection .review {
    font-size: 2rem;
    line-height: 1.4;
  }
  .main-collection .customer-name {
    font-size: 1.2rem;
  }
  .main-collection .customer-review {
    max-width: 23rem;
    margin: 0 auto;
  }
  .main-collection .collection-denim .product-details {
    margin-top: 0.8rem;
    padding: 0;
  }
  .main-collection .collection-denim .product-name {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
  }
  .main-collection .collection-denim .price dd {
    margin: 0 0.5rem 0 0;
  }
  .main-collection .collection-denim .fit-guide,
  .main-collection .collection-denim .fabric-guide  {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: var(--color-white);
    padding: 3rem 0;
  }
  .main-collection .fit-grid-item,
  .main-collection .fabric-grid-item {
    background-color: var(--color-white);
    padding: 3rem 0;
  }
  .main-collection .fabric-guide .fabric-guide-link,
  .main-collection .fit-guide .fit-guide-link {
    height: 100%;
    width: 85%;
    margin: 0 auto;
  }
  .main-collection .medium-item .price-item {
    font-size: 1.3rem;
  }
  .main-collection .fabric-grid-item .fabric-guide-link,
  .main-collection .fit-grid-item .fit-guide-link {
    height: 100%;
    width: 85%;
    margin: 0 auto;
  }
  .main-collection .collection-grid {
    grid-column-gap: 1rem;
  }
  .main-collection .large-item .price-item {
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
  }
  .main-collection .product-grid {
    margin-bottom: 5rem;
    grid-row-gap: 5rem;
  }
  .main-collection .featured-gallery .grid-2,
  .main-collection .featured-gallery .grid-6 {
    grid-row-gap: 5rem;
  }
  .main-collection .grid-1,
  .main-collection .grid-2,
  .main-collection .grid-3,
  .main-collection .grid-4,
  .main-collection .grid-5,
  .main-collection .grid-6 {
    grid-column-gap: 1rem;
  }
  .main-collection .product-gallery .featured-gallery .product-details {
    padding: 0 0.5rem;
    margin-top: 0.8rem;
  }
  .main-collection .featured-gallery .product-name {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
  }
  .main-collection .featured-gallery .price-item {
    font-size: 1.2rem;
    letter-spacing: 0.25rem;
  }
  .main-collection .swiper-wrapper {
    grid-template-columns: unset !important;
    grid-column-gap: unset;
    grid-row-gap: unset;
  }
  .main-collection .collection-alternate .product-image-wrap.product-swiper {
    display: block;
    overflow: hidden;
    position: relative;
  }
  .main-collection .collection-alternate .product-image-wrap {
    display: none;
  }
  .main-collection .collection-alternate .swiper-slide {
    height: auto;
    width: 100% !important;
    position: relative;
  }
  .main-collection .collection-alternate .swiper-pagination {
    position: absolute;
    bottom: 1rem;
  }
  .main-collection .collection-alternate .swiper-pagination-bullet {
    background-color: var(--color-white);
    opacity: 1;
    margin: 0 0.2rem;
    width: 0.6rem;
    height: 0.6rem;
  }
  .main-collection .collection-alternate .swiper-pagination-bullet-active {
    background-color: var(--color-dim-black);
    opacity: 1;
  }
  .main-collection .swiper-button-next:after {
    font-size: 2.5rem;
    color: var(--color-white);
    opacity: 0.6;
  }
  .main-collection .swiper-button-next {
    top: 46%;
    display: block;
  }
  .content-rich-collection .aw-company .img-wrap {
    margin: 0 auto 3.5rem;
    max-width: 90%;
  }
  .content-rich-collection .grid-item .info-link {
    display: block;
    font-size: 1.3rem;
    font-family: var(--font-din);
    color: var(--color-normal-black);
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 1rem;
    letter-spacing: 0.225rem;
  }
  .content-rich-collection .aw-company .content-wrap {
    max-width: 32.8rem;
  }
  .content-rich-collection .content-rich-content .content-wrap {
    max-width: 30.5rem;
  }
  .content-rich-collection .content-rich-title {
    max-width: 32rem;
    margin: 0 auto;
    margin-bottom: 1.6rem;
    line-height: 1;
  }
  .content-rich-collection .aw-company {
    margin-bottom: 3.5rem;
  }
  .main-collection .content-rich-grid {
    grid-row-gap: 4.5rem;
    grid-template-columns: repeat(1,1fr);
  }
  .content-rich-collection .product-gallery {
    margin-bottom: 6rem;
  }
  .content-rich-collection .content-rich-content .content-rich-text {
    margin-bottom: 3.8rem;
  }
  .content-rich-collection .content-rich-content .btn-text {
    font-size: 1.3rem;
    letter-spacing: 0.3rem;
  }
  .content-rich-collection .content-rich-content {
    margin-bottom: 9rem;
  }
  .content-rich-collection .wrapper {
    padding: 4rem 0 0;
  }
  .content-rich-collection .product-gallery {
    padding: 0 1rem
  }
  .content-rich-collection:after {
    content: unset;
  }
  .content-rich-collection {
    margin-bottom: 5.6rem;
  }
  .content-rich-collection .text-wrap {
    display: block;
    text-align: center;
    margin: 1rem auto;
    max-width: 31rem;
  }
  .content-rich-collection .grid-item .price {
    display: none;
  }
  .content-rich-collection .product-link {
    height: auto;
  }
}
