.moodboard-section {
  background-color: var(--color-Xlight-wheat);
  padding: 25px 0;
}
.moodboard-section .moodboard-container {
  padding: 0 20px;
}
.moodboard-section .wrapper {
  overflow: hidden;
  padding-bottom: 30px;
}
.moodboard-section .title {
  margin: 0 0 20px;
  text-align: center;
  font-size: 20px;
  letter-spacing: 2px;
  color: var(--color-dim-black);
}
.moodboard-section .image-gallery {
  position: relative;
}
.moodboard-section .swiper-slide {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2,1fr);
}
.moodboard-section .img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}
.moodboard-section .slide-with-three-images .image-item:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
}
.moodboard-section .slide-with-three-images .image-item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
}
.moodboard-section .slide-with-three-images .image-item:last-child {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 220px;
}
.moodboard-section .slide-with-four-images .image-item:first-child {
  grid-column-start: 1;
  grid-column-end: 2;
}
.moodboard-section .slide-with-four-images .image-item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
}
.moodboard-section .slide-with-four-images .image-item:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 2;
}
.moodboard-section .slide-with-four-images .image-item:last-child {
  grid-column-start: 2;
  grid-column-end: 3;
}
.moodboard-section .swiper-pagination-bullet {
  opacity: 1;
  background: var(--color-dark-grey);
  width: 6px;
  height: 6px;
}
.moodboard-section .swiper-pagination-bullet-active {
  background: var(--color-dim-black);
}
.moodboard-section .image-gallery-pagination {
  position: absolute;
  bottom: -20px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .moodboard-section {
    display: none;
  }
}
