.product-recommendation .main-container {
  margin: 0 auto;
  padding: 0 10rem;
  max-width: 100%;
}
.product-recommendations .main-container {
  margin: 0 auto;
  padding: 0 10rem;
  max-width: 100%;
}
.product-recommendations {
  padding: 5.7rem 0 4.4rem 0;
  display: block;
}
.product-recommendation {
  padding: 5.7rem 0 4.4rem 0;
}
.product-recommendation:hover .swiper-scrollbar {
  opacity: 1;
}
.product-recommendation .pre-title, .product-recommendations .pre-title {
  text-align: center;
  margin-bottom: 0.5rem
}
.product-recommendation .title, .product-recommendations .title {
  font-size: 2.3rem;
  font-family: var(--font-din);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.3rem;
  margin-top: 0;
  margin-bottom: 5rem;
  text-align: center;
  line-height: 1.4;
}

.product-recommendation__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .product-recommendation__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}