.product-media-popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--color-white);
  z-index: 999999999999;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  font-size: 20px;
}
.product-media-popup .media-container {
  padding: 0 3.5em;
  height: 100%;
}
.product-media-popup .wrapper {
  height: 100%;
}
.product-media-popup .popup-close {
  position: absolute;
  top: 8px;
  right: 20px;
  max-width: 30px;
  cursor: pointer;
}
.product-media-popup .popup-close svg {
  width: 100%;
}
.product-media-popup .product-media-gallery {
  display: flex;
  height: 100%;
  margin: 0 -1em;
}
.product-media-popup .product-thumbnail {
  max-width: 5em;
  flex: 5em;
  overflow-y: auto;
  margin: 2.5em 0;
  padding: 0 1em;
}
.product-media-popup .product-thumbnail::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	background-color: var(--color-medium-wheat);
}
.product-thumbnail::-webkit-scrollbar{
	width: 2px;
	background-color: var(--color-medium-wheat);
}

.product-thumbnail::-webkit-scrollbar-thumb{
	background-color: var(--color-black);
	border: 2px solid #555555;
  border-radius: 5px;
}
.product-media-popup .product-featured-image {
  flex: 1;
  padding: 0 1em 0 3.6em;
  overflow: auto;
}
.product-featured-image::-webkit-scrollbar{
	display: none;
}
.product-media-popup .product-media-wrap {
  margin-bottom: 5px;
  cursor: pointer;
  height: 76px;
}
.product-media-popup .product-media-wrap.active {
  border: 1px solid var(--color-normal-black);
}
.product-media-popup .product-media {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.product-media-popup .featured-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media screen and (max-width: 1400px) {
  .product-media-popup .media-container {
    padding: 0 2.5em;
  }
  .product-media-popup .product-featured-image {
    padding: 0 1em 0 2.6em;
  }
  .product-media-popup .popup-close {
    max-width: 25px;
    right: 15px;
  }
}
@media screen and (max-width: 990px) {
  .product-media-popup .media-container {
    padding: 0 1.8em;
  }
  .product-media-popup .product-featured-image {
    padding: 0 1em 0 1.6em;
  }
  .product-media-popup .popup-close {
    max-width: 20px;
    right: 10px;
  }
}
