.product-slider-section {
  background-color: var(--color-Xlight-wheat);
  padding: 80px 0;
}
.product-slider-section .wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 50%) minmax(auto, 50%);
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 5%;
}
.product-slider-section .slider {
  max-width: 367px;
  overflow: hidden;
  padding-bottom: 175px;
  position: relative;
}
.product-slider-section .alpha .title {
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.3;
  letter-spacing: 2px;
}
.product-slider-section .beta {
  text-decoration: none;
  display: block;
}
.product-slider-section .alpha {
  text-align: center;
  margin: auto;
}
.product-slider-section .alpha .text {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.product-slider-section .alpha .arrow {
  max-width: 16px;
  height: 20px;
  flex: 16px;
  margin-bottom: 5px;
}
.product-slider-section  .arrow svg {
  height: 100%;
  width: 100%;
}
.product-slider-section .button-wrap {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center
}
.product-slider-section .btn {
  font-size: 14px;
  color: var(--color-blue);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
.product-slider-section .product-title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1.3;
  letter-spacing: 3px;
}
.product-slider-section .info-wrap {
  padding: 0 12px;
}
.product-slider-section .product-description {
  font-size: 13px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 8px;
  letter-spacing: 2px;
}
.product-slider-section .beta .price {
  margin: 0;
  font-size: 14px;
  letter-spacing: 3px;
  color: var(--color-normal-black);
}
.product-slider-section .beta .img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.product-slider-section .image {
  margin-bottom: 20px;
}
.product-slider-section .swiper-button-next,
.product-slider-section  .swiper-button-prev {
  display: flex;
  top: unset;
  bottom: 0;
}
.product-slider-section .swiper-button-next:after,
.product-slider-section .swiper-button-prev:after {
  font-size: 32px;
  color: var(--color-dark-grey);
}
.product-slider-section .swiper-button-next {
  right: 113px;
}
.product-slider-section .swiper-button-prev {
  left: 106px;
}
.product-slider-section .swiper-counter {
  font-size: 20px;
  color: var(--color-dark-grey);
  position: absolute;
  width: 100%;
  bottom: 0;
}
.product-slider-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
/* respondive start */
@media(max-width: 1560px){
  .product-slider-section .slider {
    max-width: 369px;
  }
}
@media(max-width: 1279px ){
  .product-slider-section {
    padding: 30px 0;
  }
  .product-slider-section .slider {
    max-width: 320px;
  }
  .product-slider-section .alpha .title {
    font-size: 20px;
  }
  .product-slider-section .alpha .text {
    font-size: 12px;
  }
  .product-slider-section .alpha .arrow {
    width: 12px;
    height: 15px;
    display: flex;
  }
  .product-slider-section .btn {
    font-size: 10px;
  }
  .product-slider-section .product-title {
    font-size: 12px;
    margin-bottom: 4px;
    letter-spacing: 2px;
  }
  .product-slider-section .product-description {
    font-size: 12px;
    margin-bottom: 4px;
    letter-spacing: 2px;
  }
  .product-slider-section .beta .price {
    font-size: 12px;
    letter-spacing: 2px;
  }
  .product-slider-section .image {
    margin-bottom: 10px;
  }
  .product-slider-section .swiper-button-next {
    right: 104px;
  }
  .product-slider-section .swiper-button-next:after,
  .product-slider-section .swiper-button-prev:after {
    font-size: 24px;
  }
  .product-slider-section .swiper-button-prev {
    left: 98px;
  }
  .product-slider-section .slider {
    padding-bottom: 130px;
  }
}
@media(max-width: 990px ){
  .product-slider-section .slider {
    max-width: 270px;
  }
  .product-slider-section .alpha .title {
    font-size: 16px;
  }
  .product-slider-section .alpha .text {
    font-size: 10px;
  }
  .product-slider-section .btn {
    font-size: 10px;
  }
  .product-slider-section .product-title {
    font-size: 10x;
    margin-bottom: 5px;
    letter-spacing: 2px;
  }
  .product-slider-section .image {
    margin-bottom: 10px;
  }
  .product-slider-section .product-description {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .product-slider-section .beta .price {
    font-size: 10px;
  }
  .product-slider-section .swiper-button-next {
    right: 77px;
  }
  .product-slider-section .swiper-button-next:after,
  .product-slider-section .swiper-button-prev:after {
    font-size: 24px;
  }
  .product-slider-section .swiper-button-prev {
    left: 77px;
  }
  .product-slider-section .slider {
    padding-bottom: 100px;
  }
  .product-slider-section .swiper-counter {
    font-size: 18px;
  }
}
@media(max-width: 767px ){
  .product-slider-section {
    display: none;
  }
}