.review-section {
  background: var(--color-Xlight-wheat);
  font-size: 1.2vw;
  padding-bottom: 8.65em;
}
.review-section .text {
  font-size: 1.4em;
  font-family: var(--font-arno-display);
  color: var(--color-normal-black);
  letter-spacing: 0.15em;
  line-height: 1;
  margin-bottom: 0.5em;
  margin-top: 0;
}
.review-section .name {
  font-size: 0.75em;
  font-family: var(--font-gothic);
  color: var(--color-dark-grey);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: block;
}
.review-section .content-wrap {
  text-align: center;
  max-width: 14.75em;
  margin: 0 auto;
  max-width: 34.5em;
}
@media screen and (min-width: 1400px) {
  .review-section {
    font-size: 20px;
  }
}
@media screen and (max-width: 1279px) {
  .review-section {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 990px) {
  .review-section {
    font-size: 1.6vw;
  }
}
@media screen and (max-width:767px){
  .review-section .content-wrap {
    text-align: center;
    max-width: 330px;
    margin: 0 auto;
  }
  .review-section .text {
    font-size: 20px;
    line-height: 1.4;
  }
  .review-section .name {
    font-size: 14px;
  }
}
@media screen and (max-width:479px) {
  .review-section .text {
    font-size: 18px;
  }
  .review-section .name {
    font-size: 12px;
  }
}