.rich-text-section { 
  padding: 8rem 0;
  background-color: var(--color-Xlight-wheat);
}
.rich-text-section .title {
  font-size: 2rem;
  margin-top: 0;
  text-transform: lowercase;
  line-height: 2.4rem;
  margin-bottom: 1.4rem;
  letter-spacing: 0.3rem;
  color: var(--color-normal-black);
}
.rich-text-section .text-wrap {
  margin-bottom: 2rem;
  padding: 0;
}
.rich-text-section .text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: 0.15rem;
  color: var(--color-dim-black);
  font-family: var(--font-gothic);
}
.rich-text-section .wrapper .btn {
  font-size: 1.4rem;
  color: var(--color-blue);
  font-weight: 900;
  text-transform: uppercase;
  font-family: var(--font-din);
  letter-spacing: 0.14rem;
}
.rich-text-section .wrapper {
  max-width: 47rem;
  margin: 0 auto;
}
.rich-text-section .wrapper.center {
  text-align: center;
}
.rich-text-section .wrapper.left {
  text-align: left;
}
.rich-text-section .wrapper.right {
  text-align: right;
}
.rich-text-section .button-wrap {
  text-decoration: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.rich-text-section .button-wrap .arrow {
  height: 2.2rem;
  max-width: 2rem;
  flex: 2rem;
}
.rich-text-section .button-wrap .arrow svg {
  height: 100%;
  width: 100%;
}

/* responsive */
@media(max-width: 767px ){
  .rich-text-section .text-wrap {
    max-width: 23.5rem;
    padding: 0;
    margin: 0 auto;
  }
  .rich-text-section .title {
    font-size: 1.5rem
  }
  .rich-text-section .wrapper {
    max-width: unset;
  }
  .rich-text-section {
    padding: 2rem 0 5rem;
  }
  .rich-text-section .text {
    font-size: 1.2rem;
  }
  .rich-text-section .button-wrap {
    justify-content: center;
  }
}