.shop-info {
  background-color: var(--color-Xlight-wheat);
  padding: 16rem 0 13rem;
  overflow: hidden;
}
.shop-info .wrapper {
  display: flex;
  align-items: center;
}
.shop-info .alpha {
  flex: 1;
  position: relative;
}
.shop-info .beta {
  max-width: 40%;
  flex: 40%;
  position: relative;
  z-index: 1;
}
.shop-info .beta .image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.shop-info .header-wrap {
  padding-right: 12rem;
  margin-bottom: 12rem;
}
.shop-info .main-title {
  font-size: 2.6rem;
  font-family: var(--font-arno-display);
  letter-spacing: 0.28rem;
  color: var(--color-normal-black);
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 2rem;
}
.shop-info .header-wrap .text {
  font-size: 1.8rem;
  font-family: var(--font-arno-display);
  letter-spacing: 0.2em;
  color: var(--color-normal-black);
  margin: 0;
  line-height: 2.5rem;
}
.shop-info .heading {
  font-size: 1.2rem;
  font-family: var(--font-din);
  letter-spacing: 0.42rem;
  color: var(--color-normal-black);
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  position: relative;
}
.shop-info .heading::after {
  content: '';
  width: 12.25em;
  height: 0.1rem;
  position: absolute;
  background-color: var(--color-dim-black);
  left: 0;
  bottom: -0.75em;
}
.shop-info .shop-details {
  display: flex;
  position: relative;
}
.shop-info .shop-details::after {
  content: '';
  background-color: var(--color-white);
  height: 12.8em;
  width: 500%;
  position: absolute;
  left: -8%;
  top: 50%;
  transform: translateY(-50%);
}
.shop-info .column {
  max-width: 50%;
  flex: 50%;
  padding: 0 2em;
  position: relative;
  z-index: 99;
}
.shop-info .shop-duration {
  margin-top: 1.8em;
}
.shop-info .sub-title {
  margin-top: 0;
  font-family: var(--font-arno-display);
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: var(--color-normal-black);
  line-height: 1;
}
.shop-info .column .text {
  font-size: 1.2rem;
  letter-spacing: 0.175rem;
}
.shop-info .days, .shop-info .timing {
  color: var(--color-dim-black);
}
.shop-info .days {
  font-family: var(--font-gothic);
}
.shop-info .timing {
  font-family: var(--font-din);
}
.shop-info .content-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.8rem;
  line-height: 1;
}
.shop-info .details-wrap {
  margin-bottom: 2.6rem;
}
.shop-info .details-wrap:last-child {
  margin-bottom: 0;
}
.shop-info .details-wrap:first-child span {
  color: var(--color-normal-black);
  text-decoration: underline;
}
.shop-info .details-wrap:last-child span {
  color: var(--color-blue);
}
.shop-info .details-wrap span {
  display: block;
  font-family: var(--font-gothic);
  line-height: 1;
  margin-bottom: 1.4em;
}
.shop-info .details-wrap .info span {
  font-family: var(--font-din);
} 
.nashville-container {
  padding: 0 10rem;
}

.shop-info .column:first-child {
  max-width: 55%;
  flex: 55%;
}
.shop-info .column:last-child {
  max-width: 45%;
  flex: 45%;
}

@media screen and (max-width: 990px) {
  .nashville-container {
    padding: 0 2rem;
  }
  .shop-info .column {
    padding: 0 0.5em;
    max-width: 42%;
    flex: 42%;
  }
  .shop-info .column:first-child {
    max-width: 58%;
    flex: 58%;
  }
}
@media screen and (max-width: 767px) {
  .shop-info {
    padding: 2.5rem 0 4rem;
  }
  .shop-info .wrapper {
    flex-wrap: wrap;
  }
  .shop-info .alpha {
    max-width: 100%;
    flex: 100%;
  }
  .shop-info .beta {
    display: none;
  }
  .shop-info .header-wrap {
    max-width: 100%;
    margin-bottom: 3.5rem;
    padding-right: 0;
  }
  .shop-info .main-title {
    font-size: 2.6rem;
    text-align: center;
  }
  .shop-info .header-wrap .text {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
  }
  .shop-info .shop-details::after {
    content: unset;
  }
  .shop-info .shop-details {
    flex-wrap: wrap;
    border: 0.1rem solid var(--color-normal-black);
    padding: 1.2rem 1.6rem;
  }
  .shop-info .shop-details .column {
    max-width: 100%;
    flex: 100%;
    padding: 0;
  }
  .shop-info .heading {
    font-size: 1.3rem;
  }
  .shop-info .sub-title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .shop-info .shop-duration {
    margin: 2.2rem 0;
  }
  .shop-info .heading::after {
    width: 22rem;
  }
  .shop-info .details-wrap {
    margin-bottom: 2.2rem;
  }
  .shop-info .content-wrap {
    margin-bottom: 0.5rem;
  }
  .shop-info .details-wrap span {
    margin-bottom: 0.6rem;
    text-transform: capitalize;
  }
  .shop-info .timing.text {
    text-transform: uppercase;
  }
}