.hero-banner {
  height: auto;
  min-height: auto;
  position: relative;
}
.hero-banner .hero-inner,
.hero-banner .container,
.hero-banner .banner,
.hero-banner .banner-img {
  height: 100%;
}
.hero-banner .banner-img {
  display: block;
}
.hero-banner .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.hero-banner .placeholder-svg {
  width: 100%;
  height: 100%;
}
.hero-banner .mob-banner {
  display: none;
}
.hero-banner .link {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  margin-bottom: 2rem;
}
.hero-banner .link-text {
  font-size: 1.2rem;
  color: var(--color-white);
  letter-spacing: 0.42rem;
  text-transform: uppercase;
  display: block;
  text-align: center;
  line-height: 2rem;
}
.hero-banner .icon-wrap {
  width: 2.4rem;
  margin: 0 auto;
}
.hero-banner .icon-wrap svg {
  width: 100%;
  height: 100%;
}
.hero-banner .mob-image {
  display: none;
}
.hero-banner .content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero-banner .main-title {
  font-size: 6.8rem;
  font-weight: bold;
  color: var(--color-white);
  margin-bottom: 0.3em;
  margin-top: 0;
}
.hero-banner .text {
  color: var(--color-white);
  margin: 0 auto;
  max-width: 50rem;
}

@media screen and (max-width: 767px) {
  .custom-content .hero-banner {
    min-height: unset;
    height: auto;
  }
  .hero-banner .desk-image {
    display: none;
  }
  .hero-banner .mob-image {
    display: block;
  }
  .hero-banner .link {
    display: none;
  }
  .hero-banner .image {
    object-position: bottom;
  }
  .hero-banner .text {
    display: none;
  }
  .hero-banner .main-title {
    font-size: 4rem;
    margin-bottom: 0;
  }
}