.moodboard-section {
  background-color: var(--color-Xlight-wheat);
  padding: 2.5rem 0;
}
.moodboard-section .moodboard-container {
  padding: 0 2rem;
}
.moodboard-section .wrapper {
  overflow: hidden;
  padding-bottom: 3rem;
}
.moodboard-section .title {
  margin: 0 0 2rem;
  text-align: center;
  color: var(--color-dim-black);
}
.moodboard-section .image-gallery {
  position: relative;
}
.moodboard-section .swiper-slide {
  display: block;
}
.moodboard-section .img {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}
.moodboard-container iframe {
  width: 100%;
  height: 100%;
}
.moodboard-section .swiper-pagination-bullet {
  opacity: 1;
  background: var(--color-dark-grey);
  width: 6px;
  height: 6px;
}
.moodboard-section .swiper-pagination-bullet-active {
  background: var(--color-dim-black);
}
.moodboard-section .image-gallery-pagination {
  position: absolute;
  bottom: -20px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .moodboard-section {
    display: none;
  }
}
@media screen and (max-width: 479px) {
  .moodboard-section .media-item {
    min-height: auto;
  }
}
