.new-arrival-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.show-main-section {
  display: block;
}
.mob-main-section {
  display: none;
}
.main-section {
  background-color: var(--color-Xlight-wheat);
  padding-bottom: 7rem;
}
.new-arrival-section .content-wrap {
  max-width: 50rem;
}
.new-arrival-section .beta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.new-arrival-section  .alpha h4 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 6rem;
}
.new-arrival-section .alpha h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  text-transform: lowercase;
}
.new-arrival-section  .text-wrap p {
  font-size: 2.6rem;
  font-family: var(--font-arno-display);
  margin-top: 0;
  margin-bottom: 0;
  text-transform: lowercase;
  letter-spacing: 0.3rem;
  line-height: 1.4;
}
.new-arrival-section  .text-wrap p:first-child {
  margin-bottom: 5rem;
}

.new-arrival-section .text-wrap {
  margin-bottom: 1.5rem;
}
.new-arrival-section .wrapper:after {
  content: "";
  height: 100%;
  width: 19.0%;
  background-color: var(--color-Xlight-wheat);
  z-index: 99;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.new-arrival-section .wrapper {
  padding: 4% 9%;
}
.new-arrival-section .alpha {
  z-index: 9;
}
.new-arrival-section .contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.new-arrival-section .alpha {
  max-width: 63rem;
  flex: 63rem;
}
.new-arrival-section .beta {
  max-width: 66.2rem;
  flex: 66.2rem
}
.new-arrival-section .beta .img-link {
  display: block;
  width: 100%;
  height: 100%;
}
.alignment .alpha {
  order: 2
}
.alignment .beta {
  order: 1
}
.alignment .wrapper:after {
  left: unset;
  right:  0 ;
}
.alignment .content-wrap {
  max-width: 58rem;
}
.alignment .wrapper {
  padding-right: 2.3% ;
}
.alignment .text-wrap  {
  padding-right: 6%;
}
.alignment .text-wrap p:first-child {
  margin-bottom: 0
}
/* responsive */

@media screen and (max-width: 1700px) and (min-width: 1500px) {
  .new-arrival-section .wrapper {
    padding: 4% 6%;
  }
  .new-arrival-section .wrapper {
    padding: 4% 4%;
  }
  .new-arrival-section .wrapper:after {
    width: 14.3%;
  }
  .new-arrival-section .alpha {
    max-width: 59rem;
    flex: 59rem;
  }
  .alignment .wrapper:after {
    width: 20.3%;
  }
  .new-arrival-section .beta {
    max-width: 60rem;
    flex: 60rem;
  }
}
@media(max-width: 1500px ){
  .new-arrival-section .alpha {
    max-width: 50rem;
    flex: 50rem;
  }
  .new-arrival-section .content-wrap {
    max-width: 39.1rem;
  }
  .new-arrival-section .text-wrap {
    margin-bottom: 1rem;
  }
  .new-arrival-section .beta {
    max-width: 60rem;
    flex: 60rem;
  }
  .new-arrival-section .text-wrap p:first-child {
    margin-bottom: 1.7rem;
  }
  .alignment .wrapper {
    padding-right: 0.3%;
  }
  .alignment .content-wrap {
    max-width: 46rem;
  }
  .alignment .text-wrap {
    padding-right: 14%;
  }
}
@media(max-width: 1359px){
  .new-arrival-section .beta {
    max-width: 49rem;
    flex: 49rem;
  }
  .new-arrival-section .alpha {
    max-width: 40rem;
    flex: 40rem;
  }
  .new-arrival-section .wrapper {
    padding: 3% 4.5%;
  }
  .new-arrival-section .wrapper:after {
    width: 12.3%;
  }
  .alignment .text-wrap {
    padding-right: 0%;
  }
  .alignment .wrapper {
    padding-right: .3%;
  }
}
@media(max-width: 1279px){
  .new-arrival-section .beta {
    max-width: 40rem;
    flex: 40rem;
  }
  .new-arrival-section .wrapper:after {
    width: 14.9%;
  }
  section .text-wrap p {
    font-size: 1.6rem;
  }
  .new-arrival-section .content-wrap {
    max-width: 33.1rem;
  }
  .alignment .content-wrap {
    max-width: 34.3rem;
  }
}
@media(max-width: 990px ){
  .new-arrival-section .beta {
    max-width: 30rem;
    flex: 30rem;
  }
  .new-arrival-section .alpha {
    max-width: 30rem;
    flex: 30rem;
  }
  .new-arrival-section .alpha h4 {
    margin-bottom: 2rem;
  }
  .alignment .wrapper:after {
    width: 10.9%;
  }
}
@media(max-width: 767px){
  .new-arrival-section {
    background-image: unset !important;
  }
  .new-arrival-section .wrapper {
    padding: 0;
  }
  .new-arrival-section .contents {
    flex-wrap: wrap;
  }
  .new-arrival-section .beta,
  .new-arrival-section .alpha {
    max-width: 100%;
    flex: 100%;
  }
  .new-arrival-section .alpha {
    order: 2;
    margin-top: 3rem;
  }
  .new-arrival-section .content-wrap {
    text-align: center;
    margin: 0 auto;
  }
  .new-arrival-section .alpha .btn {
    margin: 0 auto;
  }
  .new-arrival-section .wrapper:after {
    content: unset;
  }
  .new-arrival-section .alpha h2 {
    margin-bottom: 1rem;
  }
  .new-arrival-section .text-wrap p:first-child {
    margin-bottom: 1rem;
  }
  .new-arrival-section .text-wrap {
    max-width: 30rem;
    margin: 0 auto 2rem;
  }
  .desk-main-section {
    display: none;
  }
  .mob-main-section {
    display: block;
  }
}