.custom-rich-text {
  background-color: var(--color-light-wheat);
  padding: 4.5rem 2rem;
  margin-bottom: 8.5rem;
  text-align: center;
}
.fit-guide-page .custom-rich-text {
  margin-bottom: 0;
}
.custom-content .custom-rich-text {
  display: none;
}
.custom-rich-text .text {
  font-size: 1.8rem;
  font-family: var(--font-arno-display);
  font-weight: normal;
  color: var(--color-normal-black);
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  max-width: 54rem;
  margin: 0 auto;
  text-align: center;
}

.custom-rich-text .button {
  margin-top: 3rem;
}

@media screen and (max-width: 767px) {
  .custom-rich-text {
    padding: 3.5rem 2rem 2.8rem;
    margin-bottom: 0;
  }
  .custom-content .custom-rich-text {
    display: block;
  }
  .custom-rich-text .link-text {
    font-size: 1.3rem;
    color: var(--color-dim-black);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-family: var(--font-din);
    font-weight: 600;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1;
  }
  .custom-rich-text .icon-wrap {
    width: 2.4rem;
    margin: 0 auto;
  }
  .custom-rich-text .icon-wrap svg {
    width: 100%;
    height: 100%;
  }
  .custom-rich-text .icon-wrap text {
    fill: var(--color-dim-black);
  }
  .custom-rich-text .text {
    color: var(--color-dim-black);
  }
  .custom-rich-text .link {
    display: block;
    margin-top: 2.4rem;
    text-decoration: none;
  }
}
