.latest-collection {
  background: var(--color-Xlight-wheat);
  padding-bottom: 25rem;
}
.latest-collection .main-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.latest-collection .collection-item {
  position: relative;
  text-decoration: none;
}
.latest-collection .collection-item img{
  width: 100%;
  display: block;
  height: 100%;
}
.latest-collection .content-wrap {
  color: var(--color-white);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

}
.latest-collection .link {
  display: none;
}
.latest-collection h4 {
  margin: 0;
  text-transform: uppercase;
  color: var(--color-white);
}
.latest-collection .mob-img {
  display: none;
}
.latest-collection h2 {
  margin: 5rem auto 6rem;
  color: var(--color-white);
}
.latest-collection .button {
  font-size: 1.2rem;
  text-transform: uppercase;
  width: 100%;
  max-width: 35rem;
  background: transparent;
  border: 0.1rem solid white;
  box-shadow: unset;
  height: 5.5rem;
  letter-spacing: 0.42rem;
  padding: 0;
  min-height: unset;
  min-width: unset;
  font-family: var(--font-din);
  font-weight: 600;
}
.latest-collection .image img {
  display: none;
}
.latest-collection .arrow {
  display: none;
}
.latest-collection .placeholder-svg {
  width: 100%;
  height: 100%;
}
/******************responsive [[ first section  ]]****************/

@media screen and (max-width:767px){
  .latest-collection {
    padding-bottom: 0;
  }
  .latest-collection .collection-item .image img {
    max-width: 22.1rem;
    display: block;
    width: 100%;
    height: 28.6rem;
    object-fit: cover;
    height: 25rem;
    
  }
  .latest-collection .desk-img {
    display: none;
  }
  .latest-collection .content-wrap {
    color: var(--color-white);
    text-align: center;
    position: unset;
    top: 0;
    left: 0;
    transform: unset;
    width: 100%;
    
  }
  .latest-collection h2 {
    display: none;
  }
  .latest-collection .main-grid {
    padding: 7.7rem 0.6rem;
    background: var(--color-Xlight-wheat);
  }
  .latest-collection h4 {
    display: none;
  }
  .latest-collection .link {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: var(--font-din);
    font-weight: 600;
    color: var(--color-black);
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
    line-height: 1;
    letter-spacing: 0.1rem;
  }
  .latest-collection .arrow text {
    fill: var(--color-black);
  }
  .latest-collection .button {
    display: none;
  }
  .latest-collection .arrow {
    display: block;
    max-width: 2.2rem;
    flex: 2.2rem;
    height: 2.2rem;
  }
  .latest-collection .arrow svg {
    width: 100%;
    height: 100%;
  }
  .latest-collection .content-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .latest-collection .mob-img {
    display: block;
    height: 35rem;
  }
  .latest-collection .mob-img img {
    object-fit: cover;
  }
}
@media screen and (max-width:479px) {
  .latest-collection .mob-img {
    height: 24rem;
  }
}