.image-four-item-feature {
  padding: 8rem 0;
}
.image-four-item-feature .swiper-scrollbar {
  opacity: 0;
  left: 0;
  background-color: transparent;
  height: 3px;
  transition: all 0.3s ease-in-out;
  bottom: 30px;
}
.image-four-item-feature .swiper-scrollbar-drag {
  display: block;
  background-color: var(--color-dark-grey);
  border-radius: 5px;
}
.image-four-item-feature:hover .swiper-scrollbar {
  opacity: 1;
}
.image-four-item-feature .four-item-feature-container {
  padding: 0 12rem;
}
.image-four-item-feature .header-wrap {
  text-align: center;
  max-width: 55rem;
  margin: 0 auto;
}
.image-four-item-feature .grid-header {
  display: none;
}
.image-four-item-feature .header-wrap .btn {
  display: none;
}
.image-four-item-feature .title h2 {
  text-transform: uppercase;
  color: var(--color-normal-black);
  margin-top: 0;
  margin-bottom: 30px;
}
.image-four-item-feature .text {
  margin: 0;
}
.image-four-item-feature .four-item-feature-grid {
  overflow: hidden;
}
.image-four-item-feature .image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.image-four-item-feature .grid-item {
  display: block;
}
.image-four-item-feature .grid-item:hover .featured-image {
  display: none;
}
.image-four-item-feature .grid-item:hover .toggle-image {
  display: block;
}
.image-four-item-feature .toggle-image {
  display: none;
}
.image-four-item-feature .four-item-feature {
  padding: 50px 0 70px;
  position: relative;
}
.image-four-item-feature .btn {
  font-size: 1.2rem;
  font-family: var(--font-din);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-normal-black);
  padding: 0 10px;
  text-decoration: none;
  border: 1px solid var(--color-normal-black);
  min-height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 340px;
  margin: 0 auto;
}
.image-four-item-feature .header-wrap .img-wrap {
  display: none;
} 

@media screen and (max-width: 1279px) {
  .image-four-item-feature .four-item-feature-container {
    padding: 0 5rem;
  }
}
@media screen and (max-width: 990px) {
  .image-four-item-feature .four-item-feature-container {
    padding: 0 3rem;
  }
}
@media screen and (max-width: 767px) {
  .image-four-item-feature {
    padding: 50px 0;
  }
  .image-four-item-feature .four-item-feature-container {
    padding: 0 1rem;
  }
  .image-four-item-feature .four-item-feature {
    padding: 50px 0 20px;
  }
  .image-four-item-feature .grid-item {
    max-width: 345px;
    flex: 345px;
    min-width: 345px;
  }
  .image-four-item-feature .btn {
    display: none;
  }
  .image-four-item-feature .header-wrap .btn {
    display: flex;
    margin: 35px auto 0;
    max-width: 300px;
  }
  .image-four-item-feature .mob-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .image-four-item-feature .img-wrap {
    margin: 35px 0 25px;
  }
  .image-four-item-feature .grid-header {
    text-align: center;
    margin-bottom: 20px;
    display: block;
  }
  .image-four-item-feature .pre-title {
    margin: 0 0 6px;
    color: var(--color-normal-black);
  }
  .image-four-item-feature h2 {
    margin: 0;
    text-transform: uppercase;
    color: var(--color-normal-black);
  }
  .image-four-item-feature .header-wrap .img-wrap {
    display: block;
  } 
  .image-four-item-feature .swiper-scrollbar {
    bottom: 0;
  }
}
@media screen and (max-width: 479px) {
  .image-four-item-feature .grid-item {
    max-width: 265px;
    flex: 265px;
    min-width: 265px;
  }
}