.featured-section .link {
  text-decoration: none;
  margin-right: 6%;
  max-width: 50%;
  flex: 50%;
}
.featured-section .wrapper {
  display: flex;
  justify-content: space-between;
}
.featured-section .link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.featured-section .grid-item {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: block;
}
.featured-section .text-wrap {
  padding: 0 3rem;
}
.featured-section .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.featured-section .arrow {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.6rem;
}
.featured-section .arrow svg {
  width: 100%;
  height: 100%;
}
.featured-section .grid-container {
  display: grid;
  gap: 3%;
  grid-template-columns:  minmax(auto, 253px) minmax(auto, 253px) minmax(auto, 253px);
  flex: 1;
  grid-template-rows: minmax(180px, 346px) minmax(180px, 346px) minmax(180px, 346px);
}
.featured-section .title {
  font-size: 1.6rem;
  font-family: var(--font-din);
  font-weight: 600;
  color: var(--color-normal-black);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.8rem;
  line-height: 1.4;
  letter-spacing: 0.2rem;
}
.featured-section .link-text {
  font-size: 1.2rem;
  font-family: var(--font-din);
  font-weight: 600;
  color: var(--color-blue);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.featured-section .wrap {
  display: flex;
  align-items: center;
}
.featured-section .img-wrap {
  margin-bottom: 2rem;
  height: 111.1rem;
}
.featured-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
.featured-section .link .mob-image {
  display: none;
}
 @media(max-width: 1560px ){
  .featured-section .link {
    margin-right: 3%;
  }
  .featured-section .img-wrap {
    height: 80.6rem;
  }
  .featured-section .grid-container {
    grid-template-rows: 25rem 25rem 25rem 
  }
}
@media(max-width: 1279px ){
  .featured-section .grid-container {
    grid-template-rows: 19rem 19rem 19rem 19rem
  }
  .featured-section .img-wrap {
    height: 61.1rem;
  }
} 
@media (max-width: 990px ){
  .featured-section .grid-container {
    grid-template-rows: 13.2rem 13.2rem 13.2rem 13.2rem ;
  }
  .featured-section .img-wrap {
    height: 42.8rem;
  }
  .featured-section .title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
  }
  .featured-section .link-text {
    font-size: 1.2rem;
  }
}
@media(max-width: 767px ){
  .featured-section .link {
    margin-right: 0;
    max-width: 100%;
    flex: 100%;
  } 
  .featured-section .img-wrap {
    height: unset;
  }
  .featured-section .link img{
     object-fit: contain;
  }
  .featured-section .grid-container {
    display: none;
  }
  .featured-section .text-wrap {
    padding: 0;
  }
  .featured-section .link .mob-image {
    display: block;
  }
  .featured-section .link .desk-image {
    display: none;
  }
}