.product-gallery {
  padding: 7rem 0 8rem;
  background-color: var(--color-Xlight-wheat);
}
.product-gallery .wrapper {
  padding: 0 10rem;
}
.product-gallery .header-wrap {
  text-align: center;
  max-width: 60rem;
  margin: 0 auto 7.5rem;
}
.product-gallery .title {
  font-size: 2.6rem;
  font-family: var(--font-arno-display);
  letter-spacing: 0.28rem;
  color: var(--color-normal-black);
  margin-bottom: 1.7rem;
  line-height: 2.2rem;
  margin-top: 0;
}
.product-gallery .text {
  font-size: 1.8rem;
  font-family: var(--font-arno-display);
  letter-spacing: 0.2rem;
  color: var(--color-dim-black);
  line-height: 2.5rem;
  margin: 0;
}
.product-gallery .gallery {
  display: grid;
  grid-row-gap: 3rem;
  grid-column-gap: 3rem;
  margin-bottom: 6rem;
}

.product-gallery .product-link {
  display: block;
  text-decoration: none;
}
.product-gallery .placeholder-svg {
  width: 100%;
  height: 100%;
}
.product-gallery .button:focus,  .product-gallery .button:hover {
  box-shadow: unset;
}
@media screen and (max-width: 990px) {
  .product-gallery .wrapper {
    padding: 0 1.5rem;
  }
  .product-gallery {
    padding-bottom: 8rem;
  }
}

@media screen and (max-width: 767px) {
  .product-gallery .gallery {
    grid-row-gap: 3rem;
    grid-column-gap: 1.5rem;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 3.5rem;
  }
  .product-gallery .text {
    font-size: 1.3rem;
  }
  .product-gallery .title {
    font-size: 2.4rem;
  }
  .product-gallery .header-wrap {
    max-width: 27rem;
    margin-bottom: 2.8rem;
  }
}