.promise-section {
  background-color: var(--color-Xlight-wheat);
}
.promise-section .promise-container {
  max-width: 192rem;
  margin: 0 auto;
}
.promise-section .content-wrap {
  display: grid;
  grid-template-columns: minmax(auto,50%) minmax(auto,50%);
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 5rem;
}
.promise-section .content {
  max-width: 51.6rem;
  margin: auto;
  text-align: center;
}
.promise-section .alpha .title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-normal-black);
}
.promise-section .alpha .title-wrap {
  max-width: 28.1rem;
  margin: 0 auto 1.5rem;
}
.promise-section .text-wrap {
  margin-bottom: 1rem;
}
.promise-section .alpha .text {
  font-size: 1.8rem;
  font-family: var(--font-arno-display);
  margin-top: 0;
  line-height: 1.5;
  margin-bottom: 0;
  letter-spacing: 0.1rem;
}
.promise-section .btn {
  text-decoration: none;
  font-size: 1.4rem;
  font-family: var(--font-din);
  font-weight: 600;
  color: var(--color-normal-black);
  text-transform: uppercase;
  max-width: 22.6rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  letter-spacing: 0.3rem;
  border: 0.1rem solid var(--color-normal-black);
  justify-content: center;
  margin-top: 3.5rem;
}
.promise-section .pre-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--color-normal-black);
  text-transform: lowercase;
}
.promise-section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.promise-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
.promise-section .beta .image {
  text-decoration: none;
  display: block;
}
.promise-section .mob-image {
  display: none;
}
/* responsive start */
@media(max-width: 1560px ){
  .promise-section .content {
    max-width: 46.7rem;
  }
}
@media(max-width: 1366px ){
  .promise-section .content {
    max-width: 45.8rem;
  }
}
@media(max-width: 1279px ){
  .promise-section .alpha .text {
    font-size: 1.4rem;
  }
  .promise-section .content {
    max-width: 37.6rem;
  }
  .promise-section .btn {
    font-size: 1.2rem;
    max-width: 20rem;
    height: 4rem;
  }
}
@media(max-width: 990px ){
  .promise-section .content {
    max-width: 40rem;
  }
  .promise-section .text-wrap {
    padding: 0 1.6rem;
  }
  .promise-section .alpha .text {
    font-size: 1.2rem;
  }
  .promise-section .btn {
    font-size: 1rem;
    max-width: 14.5rem;
    height: 2.8rem;
  }
}
@media(max-width: 767px) {
  .promise-section {
    padding: 5rem 0;
  }
  .promise-section .content-wrap {
    grid-template-columns: 100%;
  }
  .promise-section .alpha {
    order: 2;
  }
  .promise-section .beta {
    order: 1;
    margin-bottom: 3.5rem;
  }
  .promise-section .text-wrap {
    display: none;
  }
  .promise-section .alpha .title {
    margin-bottom: 1rem;
  }
  .promise-section .btn {
    font-size: 1.4rem;
    max-width: 22.6rem;
    height: 5.2rem;
  }
  .promise-section .mob-image {
    display: block;
  }
  .promise-section .desk-image {
    display: none;
  }
}