.section-newsletter {
    background-color: var(--color-Xlight-wheat);
    padding: 4rem 4rem;
    margin: 0;
}
.section-newsletter__inner {
    text-align: center;
    max-width: 47rem;
    margin: 0 auto;
}

.section-newsletter .klaviyo-form {
    border: 0.1rem solid #222222;
    font-family: var( --font-din-med) !important;
}

.section-newsletter .klaviyo-form input {
    font-family: var( --font-din-med) !important;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
}
.section-newsletter .klaviyo-form button {
    font-family: var( --font-din-med) !important;
}
.kl-private-quill-wrapper-Lkqws1.kl-private-quill-wrapper-Lkqws1.kl-private-quill-wrapper-Lkqws1 .ql-snow * {
    font-family: var( --font-din-med) !important;
    font-size: 1.4rem !important;
    font-weight: normal !important;
}

.section-newsletter .klaviyo-form input::placeholder {
    font-family: var( --font-din-med) !important;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
}

.section-newsletter .klaviyo-form p, .section-newsletter .klaviyo-form p span {
    font-family: var( --font-din-med) !important;
    font-weight: normal !important;
  }

@media screen and (min-width: 750px) {
    .section-newsletter {
        padding: 8rem 0;
    }
}