.explore-section {
  background-color: var(--color-Xlight-wheat);
}
.explore-section:hover .swiper-scrollbar {
  opacity: 1;
}
.explore-section .title {
  font-family: var(--font-arno-display);
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 3rem;
  color: var(--color-normal-black);
  letter-spacing: 0.28rem;
}
.explore-section .cart-swiper {
  padding-bottom: 9rem;
  overflow: hidden;
  position: relative;
}
.explore-section .wrapper .title-wrap {
  text-align: center;
}
.explore-section .cart-link {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}
.explore-section .cart-item {
  max-width: 22%;
  flex: 22%;
  min-width: 22%;
}
.explore-section .swiper-scrollbar {
  opacity: 0;
  left: 0;
  background-color: transparent;
  height: 0.3rem;
  bottom: 4rem;
  transition: all 0.3s ease-in-out;
}
.explore-section .swiper-scrollbar-drag {
  display: block;
  background-color: var(--color-dark-grey);
  border-radius: 0.5rem;
}
.explore-section .title-wrap .text {
  font-size: 1.1rem;
  letter-spacing: 0.12rem;
  color: var(--color-normal-black);
  font-family: var(--font-gothic);
  margin-bottom: 0;
}
.explore-section .img-wrap {
  margin-bottom: 2.4rem;
}
.explore-section .img-wrap img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.explore-section .btn-wrap {
  max-width: 41rem;
  height: 5.5rem;
  margin: 0 auto;
  border: 0.1rem solid var(--color-normal-black);
}
.explore-section .btn-wrap .btn {
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
  font-family: var(--font-din);
  font-weight: 600;
  color: var(--color-normal-black);
  text-decoration: none;
  letter-spacing: 0.42rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.explore-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
.template-collection .explore-section .cart-swiper {
  padding-bottom: 1.5rem;
}
.template-collection .explore-section .swiper-scrollbar {
  bottom: 0;
}
.template-collection .explore-section {
  background-color: #fff;
}
/* responsive start */
@media screen and (max-width: 1600px) and (min-width: 1279px) {
  .explore-section .index-container {
    padding: 0 7rem;
  }
}
@media(max-width: 1279px) {
  .explore-section .cart-item {
    max-width: 28%;
    flex: 28%;
    min-width: 28%;
  }
}

@media(max-width: 767px) {
  .explore-section .title {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
  .explore-section .title-wrap .text {
    font-size: 1.2rem;
  }
  .explore-section .content-wrap {
    min-width: 23rem;
  }
  .explore-section .img-wrap {
    height: 38rem;
  }
  .explore-section .btn-wrap {
    display: none;
  }
  .explore-section .cart-item {
    max-width: 29rem;
    flex: 29rem;
    min-width: 29rem;
  }
  .explore-section .swiper-scrollbar {
    bottom: 1.5rem;
  }
  .explore-section .cart-swiper {
    padding-bottom: 2rem;
    overflow: hidden;
    position: relative;
  }
}
@media(max-width: 479px) {
  .explore-section .cart-item {
    max-width: 22.5rem;
    flex: 22.5rem;
    min-width: 22.5rem;
  }
  .explore-section .img-wrap {
    height: 31rem;
  }
}

.explore-section .swiper-button-next {
  right: 1rem;
  transform: translateY(-50%);
  top: 50%;
}
.explore-section .swiper-button-prev {
  left: 1rem;
  transform: translateY(-50%);
  top: 50%;
}
.explore-section .swiper-button-next,
.explore-section .swiper-button-prev {
  width: 4rem;
  height: 4rem;
  display: flex;
  background-color: rgba(255,255,255,0.8);
  border-radius: 50%;
}
.explore-section .swiper-button-next:after,
.explore-section .swiper-button-prev:after {
  font-size: 2rem;
  color: var(--color-dim-black);
}