.video-with-text {
  margin-bottom: 8rem;
  margin-top: 8rem;
}
.video-with-text .wrapper {
  max-width: 112rem;
  margin: 0 auto;
}
.video-with-text .header-wrap {
  text-align: center;
}
.video-with-text .pre-title {
  color: var(--color-normal-black);
}
.video-with-text .title {
  font-family: var(--font-arno-display);
  font-size: 2.6rem;
  letter-spacing: 0.15em;
  color: var(--color-normal-black);
  margin: 0;
}
.video-with-text .video-wrap {
  margin: 3rem 0 6rem;
  height: 61rem;
  position: relative;
}
.video-with-text .video-wrap iframe {
  width: 100%;
  height: 100%;
}
.video-with-text .video-wrap .image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.video-with-text .video-play {
  width: 7.6rem;
  height: 7.6rem;
  border: 0.5rem solid var(--color-white);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.video-with-text .video-poster {
  height: 100%;
}
.video-with-text .video-play svg {
  height: 5rem;
  max-width: 4.2rem;
  flex: 4.2rem;
  margin-left: 0.8rem;
}
.video-with-text .video {
  display: none;
  height: 100%;
}
.video-with-text .content-wrap {
  text-align: center;
}
.video-with-text .main-title {
  font-family: var(--font-din);
  font-weight: 600;
  color: var(--color-normal-black);
  text-transform: uppercase;
}
.video-with-text .text {
  color: var(--color-gray);
  max-width: 60rem;
  margin: 1rem auto 3.6rem;
}

@media screen and (max-width: 767px) {
  .video-with-text {
    background-color: var(--color-Xlight-wheat);
    padding: 5rem 0 6rem;
    margin-bottom: 0;
    margin-top: 0;
  }
  .video-with-text .nashville-container {
    padding: 0;
  }
  .video-with-text .header-wrap {
    display: flex;
    flex-direction: column;
  }
  .video-with-text .video-wrap {
    margin: 3rem 0 6rem;
    height: 20rem;
    position: relative;
  }
}