.featured-collection {
  padding-bottom: 8rem;
  background-color: var(--color-Xlight-wheat);
}
.featured-collection .wrapper {
  padding: 0 3rem;
}
.featured-collection .product_gallery {
  padding: 0 0 5.5rem 0;
  overflow-x: hidden;
  position: relative;
}
.featured-collection .product_gallery .swiper-scrollbar {
  opacity:0;
  left: 0;
  background-color: transparent;
  height: 0.3rem;
  transition: all 0.3s ease-in-out;
}
.featured-collection:hover .product_gallery .swiper-scrollbar {
  opacity: 1;
}
.featured-collection .product_gallery .swiper-scrollbar-drag {
  display: block;
  background-color: var(--color-dark-grey);
  border-radius: 0.5rem;
}
.featured-collection .content-wrap {
  display: none;
}
.featured-collection .main-title {
  display: none;
}
.featured-collection .title {
  font-size: 1.4rem;
  color: var(--color-normal-black);
  text-transform: uppercase;
  margin: 3rem 0 3rem;
  letter-spacing: 0.24rem;
  font-family: var(--font-din);
  font-weight: 600;
}
.featured-collection .product-item .hover-img {
  display: none;
}
.featured-collection .product-item:hover .featured-img {
  display: none;
}
.featured-collection .product-item:hover .hover-img{
  display: block;
}
.featured-collection .product-title {
  font-size: 1.3rem;
  color: var(--color-normal-black);
  line-height: 1.7rem;
  margin-bottom: 0;
  letter-spacing: 0.225rem;
  margin-top: 1.3rem;
}
.featured-collection .product-link {
  display: block;
  text-decoration: none;
}
.featured-collection .product-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.featured-collection .placeholder-svg {
  width: 100%;
  height: 100%;
}

.featured-collection .link {
  display: flex;
  letter-spacing: 0.3rem;
  text-decoration: none;
}

.featured-collection .content-wrap--desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}
.featured-collection .content-wrap--desktop .text {
  text-transform: uppercase;
  font-family: var(--font-din);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--color-blue);
}

@media screen and (max-width:990px){
  .featured-collection .content-wrap--desktop {
    display: none;
  }
  .featured-collection .title {
    display: none;
  }
  .featured-collection {
    margin-top: 4rem;
    background-color: var(--color-white);
    padding-bottom: 4em;
  }
  .featured-collection .product_gallery {
    padding: 1.4em 0 0 0;
  }
  .featured-collection .main-title {
    display: block;
    font-size: 2.8rem;
    color: var(--color-black);
    margin-top: 0;
    margin-bottom: 3.6rem;
    text-align: center;
    letter-spacing: 0.28rem;
    font-family: var(--font-arno-display);
  }
  .featured-collection .content-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.3rem;
  }
  .featured-collection .product-title {
    font-size: 1rem;
    line-height: 1.4;
  }
  .featured-collection .collection-title {
    text-transform: uppercase;
    font-family: var(--font-din);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color-black);
    letter-spacing: 0.3rem;
    margin: 0;
  }
  .featured-collection .link {
    display: flex;
    letter-spacing: 0.3rem;
    text-decoration: none;
  }
  .featured-collection .content-wrap .text {
    text-transform: uppercase;
    font-family: var(--font-din);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: var(--color-blue);
  }
  .featured-collection .wrapper {
    padding: 0;
  }
  .featured-collection .product-item {
    min-width: 40%;
    max-width: 40%;
    flex: 40%;
  }
}
