.fact-section:hover .swiper-scrollbar {
  opacity: 1;
}
.fact-section .container {
  max-width: 182rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.fact-section .header-wrap {
  margin-bottom: 6rem;
}
.fact-section .main-title {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: var(--color-normal-black);
}
.fact-section .custom-grid {
  position: relative;
  padding-bottom: 1rem;
  overflow: hidden;
}
.fact-section .custom-grid .grid-item {
  display: block;
  text-decoration: none;
}
.fact-section .custom-grid .grid-item:hover .icon-wrap {
  position: relative;
  right: -5px;
}
.fact-section .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.fact-section .mob-image {
  display: none;
}
.fact-section .title-wrap {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
}
.fact-section .title {
  font-family: var(--font-arno-display);
  font-weight: normal;
  margin: 0;
  color: var(--color-normal-black);
}
.fact-section .content-wrap {
  margin-top: 3rem;
  padding: 0 1rem;
}
.fact-section .icon-wrap {
  position: relative;
  right: 0;
  margin-left: 1rem;
  max-width: 1.8rem;
  flex: 1.8rem;
  height: 1.8rem;
  display: flex;
  transition: all 0.2s ease-in-out;
}
.fact-section .icon-wrap svg {
  width: 100%;
  height: 100%;
  color: var(--color-blue);
}
.fact-section .text {
  margin: 0;
  font-size: 1.5rem;
  font-family: var(--font-gothic);
  line-height: 1.4;
  color: var(--color-normal-black);
}

.fact-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
.fact-section .swiper-scrollbar {
  opacity: 0;
  left: 0;
  background-color: transparent;
  height: 3px;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
.fact-section .swiper-scrollbar-drag {
  display: block;
  background-color: var(--color-dark-grey);
  border-radius: 5px;
}

@media screen and (max-width: 1279px) {
  .fact-section .header-wrap {
    margin-bottom: 4rem;
  }
  .fact-section .content-wrap {
    margin-top: 1.4rem;
    padding: 0 0.5rem;
  }
}
@media screen and (max-width: 767px) {
  .fact-section .container {
    padding: 0;
  }
  .fact-section .mob-image {
    display: block;
  }
  .fact-section .desk-image {
    display: none;
  }
  .fact-section .header-wrap {
    margin-bottom: 3rem;
  }
  .fact-section .custom-grid {
    padding-bottom: 2rem;
  }
  .fact-section .custom-grid .grid-item:last-child {
    margin-right: 0;
  }
  .fact-section .image-wrap {
    height: 30rem;
  }
  .fact-section .content-wrap {
    margin-top: 1.8rem;
    padding: 0 0.8rem;
  }
  .fact-section .title-wrap {
    margin-bottom: 0.5rem;
  }
  .fact-section .text {
    font-size: 1.4rem;
  }
}