.promise-section {
  background-color: var(--color-Xlight-wheat);
}
.promise-section .promise-container {
  max-width: 192rem;
  margin: 0 auto;
}
.promise-section .content-wrap {
  display: grid;
  grid-template-columns: minmax(auto,50%) minmax(auto,50%);
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 5rem;
}
.promise-section .content {
  max-width: 51.6rem;
  margin: auto;
  text-align: center;
}
.promise-section .alpha .title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-normal-black);
}
.promise-section .alpha .title-wrap {
  max-width: 28.1rem;
  margin: 0 auto 1.5rem;
}
.promise-section .text-wrap {
  margin-bottom: 1.5rem;
}
.promise-section .alpha .text {
  margin-top: 0;
  margin-bottom: 0;
}
.promise-section .pre-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--color-normal-black);
  text-transform: lowercase;
}
.promise-section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.promise-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
.promise-section .beta .image {
  text-decoration: none;
  display: block;
}
.promise-section .mob-image {
  display: none;
}
/* responsive start */
@media(min-width: 991px) {
  .alpha--reverse {
    order: 2;
  }
}
@media(max-width: 1279px ){
  .promise-section .content {
    max-width: 37.6rem;
  }
  .promise-section .btn {
    font-size: 1.2rem;
    max-width: 20rem;
    height: 4rem;
  }
}
@media(max-width: 990px ){
  .promise-section .content {
    max-width: 40rem;
  }
  .promise-section .text-wrap {
    padding: 0 1.6rem;
  }
  .promise-section .btn {
    font-size: 1rem;
    max-width: 14.5rem;
    height: 2.8rem;
  }
}

.promise-section .button {
  margin-top: 4rem;
}

@media(max-width: 767px) {
  .promise-section .button {
    margin-top: 0;
  }
  .promise-section {
    margin-top: 0;
  }
  .promise-section .content-wrap {
    grid-template-columns: 100%;
  }
  .promise-section .alpha {
    order: 2;
  }
  .promise-section .beta {
    order: 1;
    margin-bottom: 3.5rem;
  }
  .promise-section .alpha .title {
    margin-bottom: 1rem;
  }
  .promise-section .mob-image {
    display: block;
  }
  .promise-section .desk-image {
    display: none;
  }
}