.collage-section {
  padding-bottom: 8rem;
  padding-top: 8rem;
}
.custom-content .collage-section {
  padding: 9.5rem 0 11rem;
  background-color: var(--color-Xlight-wheat)
}
.custom-content .collage-section .alpha {
  flex: 1;
  max-width: unset;
}
.custom-content .collage-section .beta {
  max-width: 50.5%;
  flex: 50.5%;
}
.collage-section .container {
  max-width: 192rem;
  margin: 0 auto;
}
.collage-section .wrapper {
  display: flex;
}
.collage-section .alignment .alpha {
  order: 2;
}
.collage-section .alpha {
  max-width: 42%;
  flex: 42%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collage-section .beta {
  max-width: 58%;
  flex: 58%;
}
.collage-section .content-wrap {
  text-align: center;
}

.collage-section .pre-title {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-normal-black);
}
.collage-section .main-title {
  color: var(--color-normal-black);
  margin: 0;
}
.collage-section .text {
  color: var(--color-dim-black);
  max-width: 33.5rem;
  margin: 0.8rem auto 3.5rem;
}
.custom-content .collage-section .text {
  margin-bottom: 0;
  margin-top: 2.2rem;
}
.collage-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
.collage-section .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.collage-section .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.collage-section .mob-image {
  display: none;
}
.collage-section .img-wrap {
  height: 100%;
  display: block;
}

@media screen and (max-width: 990px){
  .custom-content .collage-section {
    padding: 4rem 0 4rem;
  }
  .collage-section .alpha {
    max-width: 50%;
    flex: 50%;
    padding: 0 3.5rem;
  }
  .custom-content .collage-section .alpha {
    padding: 0 2rem;
  }
  .collage-section .beta {
    max-width: 50%;
    flex: 50%;
  }
  .custom-content .collage-section .beta {
    height: 36rem;
  }
  .collage-section .text {
    color: var(--color-dim-black);
    max-width: 33.5rem;
    margin: 0.8rem auto 2rem;
  }
  .custom-content .collage-section .text {
    max-width: 27.3rem;
  }
}
@media screen and (max-width: 767px){
  .collage-section {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
  .collage-section .mob-image {
    display: block;
  }
  .collage-section .desk-image {
    display: none;
  }
  .collage-section .pre-title {
    margin-bottom: 1rem;
  }
  .collage-section .wrapper {
    flex-wrap: wrap;
  }
  .collage-section .alpha, .collage-section .beta {
    max-width: 100%;
    flex: 100%;
  }
  .collage-section .wrapper .alpha {
    order: 2;
    padding: 0;
  }
  .collage-section .beta {
    margin-bottom: 2.2rem;
  }
  .collage-section .container {
    padding: 0 1.5rem;
  }
  .collage-section .btn {
    max-width: 36rem;
    height: 5.5rem;
    display: none;
  }
  .collage-section .show-btn {
    display: flex;
  }
  .collage-section .text {
    max-width: 28rem;
    margin: 0.8rem auto 1.5rem;
  }
  .collage-section .content-wrap {
    width: 100%;
  }
  .custom-content .collage-section {
    padding: 0 0 6rem;
  }
  .custom-content .collage-section .container {
    padding: 0;
  }
  .custom-content .collage-section .alpha,
  .custom-content .collage-section .beta {
    max-width: 100%;
    flex: 100%
  }
  .custom-content .collage-section .beta {
    height: auto;
    margin-bottom: 5rem;
  }
  .custom-content .collage-section .text {
    max-width: 29rem;
    margin-top: 1.6rem;
  }
}