.custom-content-section {
  background-color: var(--color-Xlight-wheat);
  position: relative;
  padding-top: 7rem;
}
/* .custom-content-section::after {
  content: "";
  background-color: var(--color-white);
  width: 100%;
  position: absolute;
  height: 20.75em;
  bottom: 0;
  left: 0;
} */
.custom-content-section .img-link {
  display: block;
}
.custom-content-section .paragraph {
  padding: 0 3em;
}
.custom-content-section .header-wrap {
  text-align: center;
  margin-bottom: 2.5em;
}
.custom-content-section .main-title {
  margin-bottom: 3rem;
  margin-top: 0;
  text-transform: uppercase;
  color: var(--color-normal-black);
}
.custom-content-section .main-text {
  max-width: 95rem;
  margin: 0 auto;
}
.custom-content-section .content-wrap {
  margin: 0 auto;
  padding-bottom: 4.25rem;
  max-width: 127rem;
  justify-content: center;
  display: flex;
}
.custom-content-section .text {
  max-width: 50%;
  flex: 50%;
  padding: 0 3rem;
}
.custom-content-section .text p {
  color: var(--color-normal-black);
  margin-bottom: 2.6rem;
  margin-top: 0;
}
.custom-content-section .text p:last-child {
  margin-bottom: 0;
}
.custom-content-section .mob-image1 {
  display: none;
}
.custom-content-section .images {
  display: flex;
  margin-bottom: -5.5rem;
}
.custom-content-section .image-1 {
  height: 26em;
  margin-top: 6.5em;
  flex: 1;
}
.custom-content-section .image-1 .image {
  max-width: 39em;
}
.custom-content-section .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.custom-content-section .image-2 {
  max-width: 44%;
  flex: 44%;
}
.custom-content-section .image_with-text {
  display: flex;
  position: relative;
  z-index: 1;
}
.custom-content-section .alpha {
  max-width: 40%;
  flex: 40%;
}
.custom-content-section .beta {
  flex: 1;
  margin-left: 9em;
}
.custom-content-section .info-text p:first-child {
  margin-bottom: 3rem;
  color: var(--color-normal-black);
}
.custom-content-section .info-text p {
  margin-top: 0;
  margin-bottom: 1.25em;
  color: var(--color-dim-black);
}
.custom-content-section .info-text a {
  display: none;
}
.custom-content-section .info-text p:last-child {
  margin-bottom: 0;
}
.custom-content-section .info-text {
  max-width: 31em;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5.25em;
  line-height: 2;
}
.custom-content-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
.custom-content-section .mob-images {
  display: none;
}
@media screen and (max-width: 1600px) and (min-width: 1400px) {
  .custom-content-section .image-1 .image {
    max-width: 32em;
  }
}
@media screen and (max-width: 1600px) {
  .custom-content-section .image-1 {
    height: 22em;
  }
}
@media screen and (max-width: 1400px) {
  .custom-content-section .image-1 .image {
    max-width: 35em;
  }
  .custom-content-section .main-text {
    letter-spacing: 0.2rem;
  }
}
@media screen and (max-width: 1279px) {
  .custom-content-section .main-text {
    max-width: 76rem;
  }
  .custom-content-section .text p {
    margin-bottom: 2rem;
  }
  .custom-content-section .image-1 .image {
    max-width: 33em;
  }
  .custom-content-section .image-1 {
    margin-top: 4.5em;
  }
  .custom-content-section .beta {
    margin-left: 8em;
  }
  .custom-content-section .info-text {
    padding-bottom: 4.25em;
  }
}
@media screen and (max-width: 990px) {
  .custom-content-section .main-title {
    margin-bottom: 0.8em;
  }
  .custom-content-section .main-text {
    max-width: 71rem;
  }
  .custom-content-section .text {
    padding: 0 1em;
  }
  .custom-content-section .info-text {
    padding-bottom: 3.25em;
  }
}
@media screen and (max-width: 767px) {
  .custom-content-section .text {
    max-width: 100%;
    flex: 100%;
  }
  .custom-content-section {
    padding: 60px 0;
  }
  /* .custom-content-section .main-title {
    display: none;
  } */
  .custom-content-section .main-text {
    max-width: 275px;
  }
  .custom-content-section .images {
    display: none;
  }
  .custom-content-section::after {
    content: unset;
  }
  .custom-content-section .header-wrap {
    margin-bottom: 0;
  }
  /* .custom-content-section .content-wrap .text:last-child {
    display: none;
  } */
  .custom-content-section .content-wrap .text {
    flex: 100%;
    padding: 0;
  }
  .custom-content-section .text p {
    margin-bottom: 15px;
  }
  .custom-content-section .content-wrap {
    margin: 0 auto 6.5rem;
    padding: 0 3.5rem;
    flex-wrap: wrap;
  }
  .custom-content-section .image_with-text {
    flex-wrap: wrap;
  }
  .custom-content-section .alpha, .custom-content-section .beta {
    max-width: 100%;
    flex: 100%;
  }
  .custom-content-section .beta {
    margin: 4.5rem 0 0;
  }
  .custom-content-section .mob-images {
    display: block;
    position: relative;
  }
  .custom-content-section .mob-image {
    max-width: 63%;
  }
  .custom-content-section .overlay-image {
    position: absolute;
    max-width: 53%;
    width: 100%;
    height: 78%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .custom-content-section .desk-image {
    display: none;
  }
  .custom-content-section .mob-image1 {
    margin: 4.5rem auto 3.5rem;
    display: block;
    max-width: 90%;
  }
  .custom-content-section .info-text {
    padding-bottom: 0;
    max-width: 31rem;
    margin: 0 auto;
  }
  .custom-content-section .info-text p:first-child {
    margin-bottom: 2rem;
  }
  .custom-content-section .info-text p:last-child {
    display: none;
  }
  .custom-content-section .info-text p {
    margin: 0;
  }
  .custom-content-section .info-text a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-blue);
  }
}
