.grand-image-section {
  padding-bottom: 3.75rem;
  background-color: var(--color-Xlight-wheat);
}
.grand-image-section .image-wrap {
  margin: 0 auto;
}
.grand-image-section .small-image {
  max-width: 33%;
}
.grand-image-section .medium-image {
  max-width: 50%;
}
.grand-image-section .large-image {
  max-width: 66%;
}
.grand-image-section .extra-large-image {
  max-width: 75%;
}
.grand-image-section .image-wrap img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.grand-image-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
.grand-image-section .image-wrap .mob-image {
  display: none;
}
.grand-image-section .img-link {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width:990px){
  .grand-image-section {
    padding-bottom: 2.5rem;
    background-color: var(--color-Xlight-wheat);
  }
  .grand-image-section .image-wrap {
    max-width: 100%;
  }
  .grand-image-section .image-wrap .desk-image {
    display: none;
  }
  .grand-image-section .image-wrap .mob-image {
    display: block;
  }
}