.qoute-section {
  padding: 5rem 0;
}
.qoute-section .qoute {
  text-align: center;
}
.qoute-section .review {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--color-normal-black);
  line-height: 1;
}
.qoute-section .customer-name {
  color: var(--color-dark-grey);
  line-height: 2;
}

@media screen and (max-width: 767px) {
  .qoute-section {
    background-color: var(--color-Xlight-wheat);
    padding: 5rem 0;
  }
  .qoute-section .qoute {
    max-width: 26rem;
    margin: 0 auto;
  }
}