.product-slider-section {
  background-color: var(--color-Xlight-wheat);
  padding: 8rem 0;
}
.product-slider-section .wrapper {
  display: grid;
  grid-template-columns: minmax(auto, 50%) minmax(auto, 50%);
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 5%;
  position: relative;
}
.product-slider-section .product-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.product-slider-section .alpha .content {
  max-width: 38rem;
  padding-bottom: 17.5rem;
}
.product-slider-section .alpha .title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.3;
  letter-spacing: 0.2rem;
  font-family: var(--font-din);
  font-weight: 600;
}
.product-slider-section .beta {
  text-decoration: none;
  display: block;
}
.product-slider-section .alpha {
  text-align: center;
  margin: auto;
}
.product-slider-section .alpha .text {
  font-size: 1.3rem;
  font-family: var(--font-gothic);
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  letter-spacing: 0.2rem;
}
.product-slider-section .alpha .arrow {
  max-width: 1.6rem;
  height: 2rem;
  flex: 1.6rem;
}
.product-slider-section  .arrow svg {
  height: 100%;
  width: 100%;
}
.product-slider-section .button-wrap {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center
}
.product-slider-section .btn {
  font-size: 1.2rem;
  font-family: var(--font-din);
  font-weight: 600;
  color: var(--color-blue);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.product-slider-section .product-title {
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.3;
  letter-spacing: 0.3rem;
}
.product-slider-section .info-wrap {
  padding: 0 1.2rem;
}
.product-slider-section .product-description {
  font-size: 1.1rem;
  font-family: var(--font-gothic);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.8rem;
  letter-spacing: 0.2rem;
  color: var( --color-normal-black);
}
.product-slider-section .beta .price {
  margin: 0;
  font-size: 1.2rem;
  font-family: var(--font-din);
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: var(--color-normal-black);
}
.product-slider-section .beta .img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.product-slider-section .product-slider {
  overflow: hidden;
}
.product-slider-section .image {
  margin-bottom: 2rem;
}
.product-slider-section .swiper-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 16rem;
  position: absolute;
  width: 100%;
  left: 16%;
  bottom: 33%;
}
.product-slider-section .swiper-button-next,
.product-slider-section  .swiper-button-prev {
  display: flex;
  top: unset;
  bottom: 0;
}
.product-slider-section .swiper-button-next:after,
.product-slider-section .swiper-button-prev:after {
  font-size: 3rem;
  color: var(--color-dark-grey);
}
.product-slider-section .swiper-button-prev, 
.product-slider-section .swiper-button-next {
  position: unset;
  width: unset;
  height: unset;
  margin: 0;
  max-width: 1.2rem;
  flex: 1.2rem;
}
.product-slider-section .swiper-counter {
  font-size: 1.8rem;
  font-family: var(--font-arno-display);
  color: var(--color-dark-grey);
  flex: 1;
  text-align: center;
}
.product-slider-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
/* respondive start */
@media screen and (min-width: 1600px) {
  .product-slider-section .swiper-navigation {
    left: 18%;
    bottom: 35%;
  }
}
@media screen and (min-width: 1400px) {
  .product-slider-section .swiper-navigation {
    left: 18%;
  }
}
@media(max-width: 1560px){
  .product-slider-section .slider {
    max-width: 37rem;
  }
}
@media(max-width: 1279px ){
  .product-slider-section {
    padding: 3rem 0;
  }
  .product-slider-section .slider {
    max-width: 32rem;
  }
  .product-slider-section .alpha .title {
    font-size: 2rem;
  }
  .product-slider-section .alpha .text {
    font-size: 1.2rem;
  }
  .product-slider-section .alpha .arrow {
    width: 1.2rem;
    height: 15px;
    display: flex;
  }
  .product-slider-section .btn {
    font-size: 1rem;
  }
  .product-slider-section .product-title {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
  .product-slider-section .product-description {
    font-size: 1.2rem;
    margin-bottom: 4px;
    letter-spacing: 0.2rem;
  }
  .product-slider-section .beta .price {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }
  .product-slider-section .image {
    margin-bottom: 1rem;
  }
  .product-slider-section .swiper-button-next:after,
  .product-slider-section .swiper-button-prev:after {
    font-size: 2.4rem;
  }
  .product-slider-section .slider {
    padding-bottom: 13rem;
  }
  .product-slider-section .swiper-navigation {
    left: 15%;
    max-width: 135px;
  }
}
@media(max-width: 990px ){
  .product-slider-section .slider {
    max-width: 270px;
  }
  .product-slider-section .alpha .title {
    font-size: 16px;
  }
  .product-slider-section .alpha .text {
    font-size: 1rem;
  }
  .product-slider-section .btn {
    font-size: 1rem;
  }
  .product-slider-section .product-title {
    font-size: 10x;
    letter-spacing: 0.2rem;
  }
  .product-slider-section .image {
    margin-bottom: 1rem;
  }
  .product-slider-section .product-description {
    font-size: 1rem;
    margin-bottom: 5px;
  }
  .product-slider-section .beta .price {
    font-size: 1rem;
  }
  .product-slider-section .swiper-button-next {
    right: 7.7rem;
  }
  .product-slider-section .swiper-button-next:after,
  .product-slider-section .swiper-button-prev:after {
    font-size: 2.4rem;
  }
  .product-slider-section .swiper-button-prev {
    left: 7.7rem;
  }
  .product-slider-section .slider {
    padding-bottom: 10rem;
  }
  .product-slider-section .swiper-counter {
    font-size: 1.8rem;
  }
  .product-slider-section .swiper-navigation {
    left: 13%;
  }
}
@media(max-width: 767px ){
  .product-slider-section {
    padding: 3rem 0 5rem;
    display: none;
  }
  .product-slider-section__mobile {
    display: none;
  }
  .product-slider-section .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .product-slider-section .alpha,
  .product-slider-section .beta {
    max-width: 100%;
    flex: 100%;
  }
  .product-slider-section .alpha {
    order: 2;
    margin-top: 3rem;
  }
  .product-slider-section .swiper-navigation {
    position: unset;
    margin: 2rem auto 0;
    max-width: 12rem;
  }
  .product-slider-section .alpha .content {
    padding-bottom: 0;
    max-width: 100%;
  }
  .product-slider-section .swiper-button-next:after, .product-slider-section .swiper-button-prev:after {
    font-size: 2rem;
  }
  .product-slider-section .alpha .title {
    font-size: 1.6rem;
  }
  .product-slider-section .alpha .text {
    font-size: 1.6rem;
    margin-top: 1.2rem;
  }
  .product-slider-section .btn {
    font-size: 1.2rem;
  }
}