.cut-out-section {
  background-color: #fff;
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 
        inset 0px 10px 50px #0000009F,
        inset 0px 10px 50px #0000009F; 
}
.cut-out-section:empty {
  display: block;
}

@media screen and (max-width: 767px) {
  .cut-out-section {
    height: 70vh;
  }
}