.fabric-section {
  background-color: var(--color-Xlight-wheat);
}
.fabric-section .container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 2rem;
}
.fabric-section .title-wrap {
  margin-bottom: 4rem;
}
.fabric-section .main-title {
  font-size: 2.1rem;
  font-family: var(--font-din);
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  color: var(--color-normal-black);
  margin: 0;
  text-align: center;
  font-weight: 600;
}
.fabric-section .fabric-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 6em;
}
.fabric-section .fabric-block {
  position: relative;
}
.fabric-section .image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.fabric-section .content-wrap {
  max-width: 80%;
  height: auto;
  background-color: var(--color-white);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -9rem;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.fabric-section .fabric-block .title {
  font-size: 2.1rem;
  font-family: var(--font-din);
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: var(--color-normal-black);
  margin: 0;
  text-transform: uppercase;
}
.fabric-section .fabric-block .text {
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  font-family: var(--font-gothic);
  color: var(--color-normal-black);
  margin: 1em 0 1.25em;
  line-height: 1.4;
  text-align: center;
}
.fabric-section .fabric-block .link {
  font-size: 1.2rem;
  font-family: var(--font-din);
  font-weight: 600;
  letter-spacing: 0.3rem;
  color: var(--color-blue);
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (min-width: 1279px) and (max-width: 1600px) {
  .fabric-section .container {
    padding: 0 6em;
  }
}
@media screen and (max-width: 1400px) {
  .fabric-section .fabric-block .title {
    font-size: 1.6rem;
  }
  .fabric-section .fabric-block .text {
    font-size: 1rem;
  }
  .fabric-section .fabric-block .link {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1279px) {
  .fabric-section .content-wrap {
    max-width: 60%;
  }
}
@media screen and (max-width: 990px) {
  .fabric-section .content-wrap {
    max-width: 80%;
  }
  .fabric-section .fabric-block .title {
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
  }
  .fabric-section .fabric-block .text {
    font-size: 1.2rem;
  }
  .fabric-section .fabric-block .link {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 767px) { 
  .fabric-section .fabric-grid {
    grid-template-columns: 1fr;
    grid-gap: 12rem;
  }
  .fabric-section .content-wrap {
    max-width: 90%;
    height: auto;
  }
}
