.guide-section {
  padding: 7em 0;
}
.guide-section .custom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.65em;
}
.guide-section .grid-item {
  position: relative;
}
.guide-section .img-wrap {
  height: 100%;
  display: block;
}
.guide-section .content-wrap {
  max-width: 38rem;
  width: 100%;
  background-color: var(--color-white);
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.guide-section .content-wrap__no-bg {
  background-color: transparent;
}

.guide-section .main-title {
  text-transform: uppercase;
  margin: 0;
  color: var(--color-normal-black);
}
.guide-section .text {
  margin: 20px 0 2.5rem;
}
.guide-section .custom-grid .block-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.guide-section .alignment .block-1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.guide-section .custom-grid .block-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
.guide-section .alignment .block-2 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
.guide-section .custom-grid .block-3 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.guide-section .alignment .block-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.guide-section .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.guide-section .mob-image {
  display: none;
}
.guide-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
.guide-section .btn-wrap {
  margin-top: 6rem;
}

@media screen and (max-width: 1279px) {
  .guide-section .text {
    margin: 1.5rem 0 2rem;
  }
}
@media screen and (max-width: 990px) {
  .guide-section .btn-wrap {
    margin-top: 4.5rem;
  }
}
@media screen and (max-width: 767px) {
  .guide-section {
    padding: 0 0 8rem;
  }
  .guide-section .img-wrap {
    height: auto;
  }
  .guide-section .mob-image {
    display: block;
  }
  .guide-section .desk-image {
    display: none;
  }
  .guide-section .custom-grid {
    display: flex;
    grid-template-columns: unset;
    grid-gap: unset;
    flex-wrap: wrap;
  }
  .guide-section .custom-grid .block-1 {
    order: 2;
    padding-right: 0.5rem;
  }
  .guide-section .custom-grid .block-2 {
    order: 1;
    max-width: 100%;
    flex: 100%;
  }
  .guide-section .custom-grid .block-3 {
    order: 3;
    padding-left: 0.5rem;
  }
  .guide-section .custom-grid .block-1, 
  .guide-section .custom-grid .block-3 {
    max-width: 50%;
    flex: 50%;
  }
  .guide-section .content-wrap {
    max-width: 100%;
    height: auto;
    position: unset;
    transform: unset;
    padding: 6rem 2rem 5rem;
  }
  .guide-section .text {
    max-width: 300px;
    margin: 2.2rem 0 1.2rem;
  }
  .guide-section .btn-wrap {
    margin-top: 4rem;
  }
}