.image-with-text {
  padding: 70px 0;
}
.image-with-text .wrapper {
  display: flex;
  align-items: center;
}
.image-with-text .alpha {
  max-width: 60%;
  flex: 60%;
}
.image-with-text .beta {
  flex: 1;
  padding: 0 20px;
}
.image-with-text .gallery-grid {
  display: none;
}
.image-with-text .beta .image {
  display: none;
}
.image-with-text .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.image-with-text .title {
  font-size: 2.1rem;
  font-family: var(--font-din);
  margin: 0;
  color: var(--color-normal-black);
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: bold;
}
.image-with-text .content-wrap {
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}
.image-with-text .text {
  font-size: 1.8rem;
  font-family: var(--font-arno-display);
  color: var(--color-dim-black);
  line-height: 1.4;
  margin: 30px 0 32px;
}
.image-with-text .btn {
  text-decoration: none;
  border: 1px solid var(--color-normal-black);
  font-size: 1.2rem;
  font-family: var(--font-din);
  color: var(--color-normal-black);
  letter-spacing: 2px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
}
@media screen and (max-width: 990px) {
  .image-with-text .alpha {
    max-width: 50%;
    flex: 50%;
  }
  .image-with-text .text {
    font-size: 16px;
    margin: 12px 0 20px;
  }
  .image-with-text .title {
    font-size: 20px;
  }
  .image-with-text .btn {
    min-height: 48px;
    max-width: 260px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .image-with-text {
    padding: 50px 0;
  }
  .image-with-text .wrapper {
    flex-wrap: wrap;
  }
  .image-with-text .alpha {
    max-width: 100%;
    flex: 100%;
    order: 2;
  }
  .image-with-text .beta {
    margin-bottom: 40px;
    padding: 0;
  }
  .image-with-text .beta .image {
    display: block;
  }
  .image-with-text .image {
    display: none;
  }
  .image-with-text .title {
    font-size: 18px;
    margin-bottom: 28px;
  }
  .image-with-text .text {
    font-size: 20px;
    margin: 40px 0;
  }
  .image-with-text .btn {
    min-height: 55px;
    max-width: 100%;
    margin: 0;
  }
  .image-with-text .gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
  }
  .image-with-text .gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .image-with-text .collection-container {
    padding: 0 20px;
  }
}
