.slide-section {
  display: none;
  background-color: var(--color-Xlight-wheat);
  overflow: hidden;
}
.slide-section .container {
  padding: 0 3rem;
}
.slide-section .wrapper.border-bottom {
  padding-bottom: 4rem;
}
.slide-section .wrapper .title {
  margin-top: 0;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-normal-black);
}
.slide-section .product-link {
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
}
.slide-section .wrapper .product-title {
  margin-bottom: 0;
  margin-top: 0;
  color: var(--color-normal-black);
}
.slide-section .contents {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  position: relative;
}
.slide-section .content-wrap {
  max-width: 100%;
  flex: 100%;
  min-width: 100%;
}
.slide-section .image-wrap {
  margin-bottom: 1rem;
}
.slide-section .image-wrap .img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.slide-section .btn-wrap {
  display: flex;
  max-width: 19rem;
  height: 5.2rem;
  margin: 0 auto;
  border: 0.1rem solid var(--color-normal-black);
}
.slide-section .placeholder-svg {
  width: 100%;
  height: 100%;
}
.slide-section .btn {
  font-size: 1.2rem;
  font-family: var(--font-din);
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-normal-black);
  letter-spacing: 3px;
}
.slide-section .border-bottom {
  border-bottom: 1px solid var(--color-dark-grey);
}
.slide-section .info-wrap {
  padding: 0 10px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.slide-section .swiper-slide-active .info-wrap {
  opacity: 1;
}
.slide-section .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-dim-black);
}
.slide-section .swiper-pagination .swiper-pagination-bullet {
  margin: 0 2px !important;
  background-color: var(--color-dark-grey);
  opacity: 1;
  width: 4px;
  height: 4px;
}
.slide-section .product-slider .swiper-pagination {
  bottom: 10px;
  max-width: 100%;
  text-align: center;
  right: 0;
  left: unset;
  background-color: var(--color-Xlight-wheat);
}
.slide-section .product-slider .swiper-button-next {
  right: -26px;
  transform: translateY(-50%);
  top: 45%;
}
.slide-section .product-slider .swiper-button-prev {
  left: -26px;
  transform: translateY(-50%);
  top: 45%;
}
.slide-section .product-slider .swiper-button-next,
.slide-section .product-slider .swiper-button-prev {
  width: 20px;
  height: 20px;
  display: flex;
}
.slide-section .product-slider .swiper-button-next:after,
.slide-section .product-slider .swiper-button-prev:after {
  font-size: 20px;
  color: #a0a0a0;
}

@media(max-width: 767px ){
  .slide-section {
    display: block;
  }
}