.slide-section {
  display: none;
  background-color: var(--color-Xlight-wheat);
  padding-bottom: 60px;
  overflow: hidden;
}
.slide-section .container {
  padding: 0 30px;
}
.slide-section .wrapper.border-bottom {
  padding-bottom: 40px;
}
.slide-section .wrapper .title {
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--color-normal-black);
}
.slide-section .wrapper .info-title {
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--color-normal-black);
}
.slide-section .contents {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  position: relative;
}
.slide-section .content-wrap {
  max-width: 100%;
  flex: 100%;
  min-width: 100%;
}
.slide-section .image-wrap {
  margin-bottom: 10px;
}
.slide-section .image-wrap .img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.slide-section .btn-wrap {
  display: flex;
  max-width: 190px;
  height: 52px;
  margin: 0 auto;
  border: 1px solid var(--color-normal-black);
}
.slide-section .btn {
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-normal-black);
  letter-spacing: 3px;
}
.slide-section .border-bottom {
  border-bottom: 1px solid var(--color-dark-grey);
}
.slide-section .info-wrap {
  padding: 0 10px;
}
.slide-section .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--color-dim-black);
}
.slide-section .swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
  background-color: var(--color-dark-grey);
  opacity: 1;
  width: 6px;
  height: 6px;
}
.slide-section .product-slider .swiper-pagination {
  bottom: 40px;
  text-align: right;
  max-width: 100px;
  right: 0;
  left: unset;
  background-color: var(--color-Xlight-wheat);
}
.slide-section .product-slider .swiper-button-next {
  right: -26px;
  transform: translateY(-50%);
}
.slide-section .product-slider .swiper-button-prev {
  left: -26px;
  transform: translateY(-50%);
}
.slide-section .product-slider .swiper-button-next, .slide-section .product-slider .swiper-button-prev {
  width: 20px;
  height: 20px;
  display: flex;
}
.slide-section .product-slider .swiper-button-next:after, .slide-section .product-slider .swiper-button-prev:after {
  font-size: 20px;
  color: var(--color-dark-grey);
}

@media(max-width: 767px ){
  .slide-section {
    display: block;
  }
}