.collection-grid-section {
  margin-top: 3rem;
}

.collection {
  position: relative;
}

@media screen and (max-width: 749px) {
  .collection .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .collection .title:not(.title--no-heading) {
    margin-top: -1rem;
  }
}

@media screen and (min-width: 750px) {
  .collection .title-wrapper-with-link--no-heading {
    margin-top: calc(6rem + var(--page-width-margin));
  }
}

@media screen and (max-width: 989px) {
  .collection .slider.slider--tablet {
    margin-bottom: 1.5rem;
  }
}

.collection .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  padding: 0 1.5rem;
  opacity: 0.7;
}

@media screen and (min-width: 750px) {
  .collection .loading-overlay {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.collection.loading .loading-overlay {
  display: block;
}

.collection-main {
  padding: 0;
}

.collection-main__wrapper {
  background-color: var(--color-Xlight-wheat);
  padding-bottom: 2rem;
}

.collection-main__controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collection-grid {
  list-style: none;
  padding: 0;
  padding: 0 0.8rem;
}

.facets-loading .collection-grid {
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
}

.collection-grid--3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 5rem;
}

.collection-grid--2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 5rem;
}

.main-collection__title-count {
  padding: 3rem 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .main-collection__title-count {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .main-collection__title-count .product-count {
    grid-column-start: span 8;
  }

  .main-collection__title-count .mobile-facets__clear-wrapper,
  .main-collection__title-count .collection-grid__buttons,
  .main-collection__title-count .mobile-facets__open {
    grid-column-start: span 2;
  }

  .main-collection__title-count .mobile-facets__clear-wrapper,
  .main-collection__title-count  .collection-grid__buttons {
    justify-self: end;
  }

}

.body-facets-open .main-collection__title-count {
  background-color: var(--color-white);
}

.body-facets-open .collection-grid__buttons {
  display: none;
}

.mobile-facets__clear-wrapper {
  display: none;
}

.body-facets-open .mobile-facets__clear-wrapper {
  display: block;
}

.main-collection__title-count .product-count {
  width: 100%;
  position: relative;
}

.main-collection__title-count .product-count h3 {
  margin: 0 0 0.5rem;
  font-family: var(--font-arno-display);
  font-weight: normal;
  font-size: 2.6rem;
  line-height: 2.5rem;
  color: var(--color-normal-black);
  letter-spacing: 0.28rem;
}


.main-collection__title-count .product-count__text {
  font-size: 1.1rem;
  letter-spacing: 0.13rem;
  line-height: 2.5rem;
  font-family: var(--font-gothic);
  color: var(--color-normal-black);
}

.mobile-facets__open {
  font-size: 1.5rem;
  color: var(--color-dim-black);
  text-transform: uppercase;
  letter-spacing: 0.18rem;
}

.collection-main__bg {
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: top center;
    padding-top: 13rem;
    padding-bottom: 0;
  }

.collection-main__hero-text {
  display: none;
}

.collection-grid__desktop-icon {
  display: none;
}

.collection-grid__mobile-icon {
  display: block;
}

@media screen and (min-width: 990px) {
  .main-collection__title-count .product-count h3 {
    font-size: 2.6rem;
  }
  .main-collection__title-count .product-count__text {
    font-size: 1.1rem;
  }
  .collection-main__hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-arno-display);
    font-weight: normal;
    color: var(--color-normal-black);
    font-size: 2.6rem;
    line-height: 4rem;
    letter-spacing: 0.28rem;
    position: absolute;
    top: 32%;
    text-align: center;
    width: 100%;
    padding: 0 15%;
  }
  .collection-main__hero-text--light {
    color: #f7f6f3;
  }
  .collection-grid--3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 5rem;
  }
  .collection-grid--2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
  .collection-main {
    padding: 0 8rem;
  }
  .collection-main__bg .collection-main__wrapper {
    padding: 6rem 8rem;
  }

  .collection-main__wrapper {
    padding: 10rem 8rem;
  }
  .mobile-facets__open svg {
    display: none;
  }
  .collection-main__bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 35%;
    padding-bottom: 8rem;
  }
  .collection-main__bg-short {
    padding-top: 12%;
  }
  .collection-grid__desktop-icon {
    display: block;
  }
  
  .collection-grid__mobile-icon {
    display: none;
  }
}

.collection-grid__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.collection-grid__button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.collection-grid__button:hover {
  cursor: pointer;
}

.collection-grid__button svg {
  height: 2.5rem;
  width: auto;
  padding: 0;
}

.collection-grid__button.active svg {
  display: none;
}

/* Featured Collection */
.collection-grid--1-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.collection-grid--1-3 .product-card:first-child {
  grid-column: span 2;
}
.collection-grid--3-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.collection-grid--3-1 .product-card:nth-child(3) {
  grid-column: span 2;
}
.collection-grid--2-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}
.review-wrap {
  margin: 6rem 0;
  padding:  0 5rem;
}
.customer-name {
  font-size: 1.2rem;
  font-family: var(--font-gothic);
  color: var(--color-dark-grey);
  letter-spacing: 0.42rem;
  text-transform: uppercase;
}
.review {
  font-size: 2rem;
  font-family: var(--font-arno-display);
  font-weight: normal;
  color: var(--color-normal-black);
  margin-bottom: 1rem;
  letter-spacing: 0.28rem;
  text-transform: lowercase;
  line-height: 1.2;
}
.customer-review {
  text-align: center;
 }

.aw-company {
  margin-top: 5rem;
  padding: 0 1.5rem;
}
.aw-company img {
  width: 100%;
  height: auto;
}
.content-rich-title {
  font-family: var(--font-din);
  font-weight: 600;

  color: var(--color-normal-black);
  font-size: 2.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.28rem;
  margin: 0 0 2.5rem;
}
.content-rich-text {
  font-family: var(--font-arno-display);
  font-weight: normal;
  color: var(--color-normal-black);
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  margin: 0 0 2.5rem;
}
.content-rich-image img {
  width: 100%;
  height: auto;
}
.btn-text {
  display: block;
  font-family: var(--font-din);
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: 0.42rem;
  border: 1px solid var(--color-normal-black);
  color: var(--color-normal-black);
  padding: 2rem 4rem;
  text-decoration: none;
  margin: 8rem auto 10rem;
  max-width: 38rem;
}
.content-wrap {
  margin: 8rem auto;
  max-width: 60rem;
  text-align: center;
}
.collection-grid__label {
  display: none;
}

@media screen and (min-width: 990px) {
  .collection-grid__button svg {
    height: 2.5rem;
    width: auto;
    padding: 0 1rem;
  }
  .collection-grid__button.active svg {
    display: none;
  }

  .collection-grid__label {
    display: block;
    font-size: 1.3rem;
    letter-spacing: 0.338rem;
    font-family: var(--font-heading-family);
  }

  .aw-company {
    margin-top: 5rem;
    padding: 0 10rem;
  }
  .aw-company img {
    width:  100%;
  }
  .content-rich-title {
    font-size: 2.6rem;
    margin: 0 0 2.5rem;
  }
  .content-rich-text {
    font-size: 1.8rem;
    margin: 0 0 2.5rem;
  }
  .content-rich-image img {
    width: 100%;
  }
  .btn-text {
    font-size: 1.2rem;
    margin: 8rem auto 10rem;
    max-width: 38rem;
  }
  .content-wrap {
    margin: 8rem auto;
    max-width: 60rem;
    text-align: center;
  }
  .collection-grid--1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    margin-bottom: 3rem;
  }
  .collection-grid--1-3 .product-card:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .collection-grid--1-3 .product-card:nth-child(2) {
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .collection-grid--1-3 .product-card:nth-child(3) {
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .collection-grid--3-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .collection-grid--3-1 .product-card:first-child {
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .collection-grid--3-1 .product-card:nth-child(2) {
    grid-row-start: 2;
    grid-row-end: 2;
  }
  .collection-grid--3-1 .product-card:nth-child(3) {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column: span 2;
  }
  .collection-grid--2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
  .review-wrap {
    margin: 17rem 0;
    padding: 0 10rem;
  }
  .customer-name {
    font-size: 1.2rem;
  }
  .review {
    font-size: 2.6rem;
  }
  .customer-review {
    text-align: center;
  }
}

.collection-grid .review-wrap {
    grid-column: span 2;
    grid-row: 3;
}

.collection-grid--2 .review-wrap {
    grid-column: span 1;
    grid-row: 3;
}

.collection-grid .collection-promo {
  grid-column: span 1;
  padding: 2rem;
}

.collection-grid .collection-promo__1 {
  grid-column: span 1;
  grid-row: 4;
}

.collection-grid--2 .collection-promo__1 {
  grid-column: span 1;
  grid-row: 5;
}

.collection-grid .collection-promo__2 {
  grid-column: span 1/-1;
  grid-row: 6;
}

.collection-grid--2 .collection-promo__2 {
  grid-column: span 1/-1;
  grid-row: 8;
}

.collection-promo img {
  width: 100%;
}

@media screen and (min-width: 990px) {
  .collection-grid .review-wrap {
    grid-column: span 3;
    grid-row: 3;
  }
  .collection-grid--2 .review-wrap {
    grid-column: span 2;
    grid-row: 3;
  }
}

.collection--no-image {
  background-color: var(--color-Xlight-wheat);
}