.terms-and-service-page .page-main {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex: 1;
  padding: 6rem;
}
.terms-and-service-page .wrapper {
  display: flex;
}
.terms-and-service-page .main-wrapper {
  background-color: var(--color-Xlight-wheat);
  padding: 6rem;
  width: 100%;
}
.terms-and-service-page .terms-and-condition {
  width: 85%;
  margin: 1.2em auto 0;
  position: relative;
}
.terms-and-service-page .terms-and-condition p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
  /* .faq-page {
    font-size: 2vw;
  } */
  .terms-and-service-page .terms-and-condition {
    width: 90%;
  }
  /* .terms-and-service-page .terms-and-condition h3,
  .terms-and-service-page .terms-and-condition p {
    font-size: 1.2rem;
    margin-bottom: 1.6em;
  } */
}
@media screen and (max-width: 990px) {
  .terms-and-service-page .terms-and-condition {
    width: 93%;
  }
}
@media screen and (max-width: 767px) {
  .terms-and-service-page .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .terms-and-service-page .page-main {
    background-image: unset !important;
    padding: 0;
  }
  .terms-and-service-page .page-main .main-title {
    text-align: center;
    padding: 3.4rem 0;
    background-color: var(--color-light-wheat);
    margin: 0;
  }
  .terms-and-service-page .main-wrapper {
    padding: 0 0 40px;
  }
  /* .terms-and-service-page .terms-and-condition h3,
  .terms-and-service-page .terms-and-condition p {
    font-size: 1.2rem;
  } */
  .terms-and-service-page .terms-and-condition {
    width: 85%;
    margin-top: 50px;
  }
}