.video-section {
  padding-top: 78px;
  background-color: var(--color-Xlight-wheat);
  overflow: hidden;
}
.video-section .main-container {
  max-width: 1452px;
  margin: 0 auto;
  padding: 0 15px;
}
.video-section .title {
  margin-top: 0;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  line-height: 1.4;
}
.video-section .wrap-title {
  margin-top: 0;
  font-size: 50px;
  font-family: var(--font-arno-display);
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 5px;
}
.video-section .contents .text {
  line-height: 1.2;
  font-family: var(--font-arno-display);
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 0;
}
.video-section .info .text {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: var(--font-gothic);
  line-height: 1.6;
  font-weight: 500;
}
.video-section .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.video-section .alpha {
  max-width: 40%;
  flex: 40%;
}
.video-section .beta {
  flex: 1;
  height: 525px;
  margin-left: 85px;
  position: relative;
  z-index: 9;
  cursor: pointer;
}
.video-section .beta video {
  width: 100%;
  height: 100%;
}
.video-section .info .text {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 500;
}
.video-section .info {
  padding: 38px 36px;
}
.video-section .detail{
  display: none;
}
.video-section .btn {
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: var(--font-din);
  color: var(--color-blue);
}
.video-section .btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-section span.read-more {
  margin-right: 10px;
}
.video-section .content {
  max-width: 430px;
  padding: 0 22px;
}
.video-section .wrap-bottom {
  max-width: 530px;
}
.video-section .image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.video-section .wrapper::after {
  content: "";
  width: 125%;
  height: 172px;
  background-color: var(--color-white);
  position: absolute;
  bottom: 18%;
  left: 0;
  border-radius: 6px;
}
.video-section .contents {
  position: relative;
  z-index: 999999;
}
.video-section .beta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* responsive start */
@media (max-width: 1024px){
  .video-section {
    padding: 50px 0 0;
  }
  .video-section .beta {
    height: 395px
  }
  .video-section .wrap-title {
    font-size: 40px;
  }
  .video-section .contents .text {
    font-size: 23px;
  }
  .video-section .wrapper::after {
    bottom:  11%;
  }
  .video-section .info .text {
    font-size: 12px;
  }
  .video-section .btn {
    font-size: 12px;
  }
}
@media (max-width: 991px){
  .video-section {
    padding: 30px 0;
  }
  .video-section .title {
    display: none;
  }
  .video-section .wrapper {
    flex-direction: column;
    margin: 0 -15px;
  }
  .video-section .wrapper .alpha {
    order: 2;
    max-width: 100%;
    flex: 100%;
  }
  .video-section .wrapper .beta {
    order: 1;
    width: 100%;
    flex: 100%;
    margin-left: 0;
    height: 285px;
    margin-bottom: 38px;
  }
  .video-section .contents .info {
    display: none;
  }
  .video-section .wrap-title {
    display: none;
  }
  .video-section .wrapper::after {
    display: none;
  }
  .video-section .detail {
    display: inline;
    font-family: var(--font-din);
    color: var(--color-blue);
    font-size: 14px;
    line-height: 1.6;
    text-decoration: none;
  }
  .video-section .contents .text {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 1.5;
  }

  .video-section .content {
    max-width: 367px;
    padding: 0 25px;
  }
}