.video-banner {
  height: 100%;
  position: relative;
}
.video-banner video {
  width: 100%;
}
.video-banner .container {
  height: 100%;
}
.video-banner .wrapper {
  height: auto;
}
.video-banner .video-wrap {
  height: 100%;
  display: none;
}
.video-banner iframe {
  width: 100%;
  height: 100%;
}
.video-banner .video-poster {
  height: 100%;
  position: relative;
}
.video-banner .video-poster .image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.video-banner .video-play {
  width: 76px;
  height: 76px;
  border: 5px solid var(--color-white);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.video-banner .video-play svg {
  height: 50px;
  max-width: 42px;
  flex: 42px;
  margin-left: 8px;
}

.video-banner__desktop {
  display: none;
}

.video-banner__mobile {
  display: block;
}

@media screen and (min-width: 768px) {
  .video-banner__desktop {
    display: block;
  }
  
  .video-banner__mobile {
    display: none;
  }
}