.video-section {
  padding-top: 7.8rem;
  background-color: var(--color-Xlight-wheat);
  overflow: hidden;
}
.video-section .main-container {
  max-width: 145.2rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.video-section .title {
  margin-top: 0;
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5rem;
  line-height: 1.4;
  font-family: var(--font-din);
}
.video-section .wrap-title {
  margin-top: 0;
  font-size: 5rem;
  letter-spacing: 0.5rem;
  font-family: var(--font-arno-display);
  line-height: 2.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.video-section .contents .text {
  line-height: 4rem;
  font-family: var(--font-arno-display);
  font-size: 2.8rem;
  letter-spacing: 0.28rem;
  margin-top: 0;
  margin-bottom: 0;
}
.video-section .info .text {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-family: var(--font-gothic);
  line-height: 1.6;
  font-weight: 500;
}
.video-section .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.video-section .alpha {
  max-width: 45%;
  flex: 45%;
}
.video-section .beta {
  flex: 1;
  height: 52.5rem;
  position: relative;
  z-index: 9;
  cursor: pointer;
}
.video-section .beta video {
  width: 100%;
  height: 100%;
}
.video-section .info .text {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: 0.14rem;
}
.video-section .info {
  padding: 3.8rem 3.6rem;
  background-color: white;
  border-radius: 0.6rem;
  margin-top: 4rem;
}
.video-section .detail{
  display: none;
}
.video-section .btn {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.14rem;
  font-family: var(--font-din);
  color: var(--color-blue);
}
.video-section .btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-section span.read-more {
  margin-right: 1rem;
}
.video-section .content {
  padding: 0 2.2rem;

}
.video-section .wrap-bottom {
  max-width: 53rem;
}
.video-section .image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.video-section .contents {
  position: relative;
  z-index: 99;
}
.video-section .beta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/* responsive start */
@media (max-width: 1024px){
  .video-section {
    padding: 5rem 0 0;
  }
  .video-section .beta {
    height: 39.5rem
  }
  .video-section .wrap-title {
    font-size: 4rem;
  }
  .video-section .contents .text {
    font-size: 2.3rem;
  }
  .video-section .wrapper::after {
    bottom:  11%;
  }
  .video-section .info .text {
    font-size: 1.2rem;
  }
  .video-section .btn {
    font-size: 1.2rem;
  }
}
@media (max-width: 991px){
  .video-section {
    padding: 3rem 0;
  }
  .video-section .title {
    display: none;
  }
  .video-section .title.mobile-title {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 2.6rem;
  }
  .video-section .wrapper {
    flex-direction: column;
    margin: 0 -1.5rem;
  }
  .video-section .wrapper .alpha {
    order: 2;
    max-width: 100%;
    flex: 100%;
  }
  .video-section .wrapper .beta {
    order: 1;
    width: 100%;
    flex: 100%;
    margin-left: 0;
    height: 28.5rem;
    margin-bottom: 3.8rem;
  }
  .video-section .contents .info {
    display: none;
  }
  .video-section .wrap-title {
    display: none;
  }
  .video-section .wrapper::after {
    display: none;
  }
  .video-section .detail {
    display: inline;
    font-family: var(--font-din);
    color: var(--color-blue);
    font-size: 1.4rem;
    line-height: 1.6;
    text-decoration: none;
  }
  .video-section .content {
    padding: 0 2.5rem;
  }
  .video-section .contents .text {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    line-height: 1.5;
  }
}